<div class="p-6">
    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
        <div class="flex justify-between items-center">
            <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
                <i class="fa-solid fa-chevron-left cursor-pointer rtl:rotate-180 cursor-pointer" (click)="goBack()"></i>
                <h1 class="primaryTxt font-semibold text-2xl leading-9">{{ subjectName|translate }}</h1>
            </div>
        </div>
    </div>

    <!-- Weeks List -->
    <div class="space-y-3">
        <div *ngFor="let Sheet of Sheets"
            class="flex justify-between border border-gray-400 hover:bg-gray-100 text-gray-800 px-4 py-3 rounded-lg shadow-sm cursor-pointer transition">
            {{ Sheet|translate }}
            <i class="text-[#089B41] fa-solid fa-download"></i>
        </div>
    </div>
</div>