<div class="flex justify-between items-center mb-5">
  <div class="flex justify-between items-center space-x-5">
    <i class="fa-solid fa-chevron-left cursor-pointer" (click)="moveToTimeTable()"></i>
    <h1 class="font-semibold text-2xl leading-9">{{remedialTimeTable.name}}</h1>
  </div>

  <button (click)="Save()"
    class="rounded-lg secondaryBorder secondaryTxt px-4 py-3 flex items-center justify-center gap-2">
    <span *ngIf="!isLoading">Save</span>
    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
  </button>
</div>

<div class="flex justify-start items-center space-x-4">
  <div class="w-[49%]">
    <label for="Grade" class="block mb-2 text-sm font-medium text-gray-900">Grade</label>
    <select id="Grade" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
      [(ngModel)]="SelectedGradeId" [disabled]="!this.remedialTimeTable.schoolID" (change)="getAllClassByGradeId();">
      <option value=0 disabled selected hidden>Select a grade</option>
      <option *ngFor="let ac of Grades" [value]="ac.id">
        {{ ac.name }}
      </option>
    </select>
  </div>

  <div class="w-[49%]">
    <label class="block mb-2 text-sm font-medium text-gray-900">Classes</label>
    <div cdkDropList [cdkDropListData]="remedialClasses" [cdkDropListConnectedTo]="connectedDropLists"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full min-h-[50px] flex flex-wrap gap-2">
      <div *ngFor="let class of remedialClasses" cdkDrag [cdkDragDisabled]="class.numberOfSession === 0"
        class="bg-gray-100 text-sm px-3 py-1 rounded-full cursor-move border-l-4" [ngClass]="{
          'border-blue-500': class.numberOfSession > 0,
          'border-[#707070]': class.numberOfSession === 0
        }">
        {{ class.name }} / {{ class.numberOfSession }}
      </div>

      <div *ngIf="remedialClasses.length === 0" class="text-gray-500">No Class</div>
    </div>
  </div>

</div>

<div class="overflow-x-auto mt-5">
  <table class="min-w-full text-sm text-left text-gray-900 border border-gray-300">
    <!-- Header -->
    <thead class="bg-gray-400 text-white">
      <tr>
        <th class="py-3 px-4 w-[120px]">Days</th>
        <th class="border p-2"
          *ngFor="let i of [].constructor(remedialTimeTable.maximumPeriodCountRemedials); let period = index">
          Session {{ period + 1 }}
        </th>
      </tr>
    </thead>

    <!-- Body -->
    <tbody>
      <tr *ngFor="let day of remedialTimeTable.groupDays">
        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ day.dayName }}</td>
        <ng-container *ngFor="let period of day.periods">
          <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0" cdkDropList
            [id]="'dropList-' + day.dayId + '-' + period.periodIndex"
            [cdkDropListData]="period.remedialTimeTableClasses" [cdkDropListConnectedTo]="connectedDropLists"
            (cdkDropListDropped)="onDrop($event, period)">
            <div class="flex flex-wrap gap-1">
              <span *ngFor="let class of period.remedialTimeTableClasses"
                class="bg-gray-100 text-sm px-3 py-1 rounded-full border-l-4 border-blue-500">
                {{ class.remedialClassroomName }}
              </span>
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>