<div class="flex justify-between items-center mb-5">
  <div class="flex justify-between items-center space-x-5">
    <i class="fa-solid fa-chevron-left cursor-pointer" (click)="moveToTimeTable()"></i>
    <h1 class="font-semibold text-2xl leading-9">{{remedialTimeTable.name}}</h1>
  </div>

  <button (click)="Save()"
    class="rounded-lg secondaryBorder secondaryTxt px-4 py-3 flex items-center justify-center gap-2">
    <span *ngIf="!isLoading">Save</span>
    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
  </button>
</div>

<div class="flex justify-start items-center space-x-4">
  <div class="w-[49%]">
    <label for="Grade" class="block mb-2 text-sm font-medium text-gray-900">Grade</label>
    <select id="Grade" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
      [(ngModel)]="SelectedGradeId" [disabled]="!this.remedialTimeTable.schoolID" (change)="getAllClassByGradeId();">
      <option value=0 disabled selected hidden>Select a grade</option>
      <option *ngFor="let ac of Grades" [value]="ac.id">
        {{ ac.name }}
      </option>
    </select>
  </div>

  <div class="w-[49%]">
    <label class="block mb-2 text-sm font-medium text-gray-900">Classes</label>
    <div cdkDropList [cdkDropListData]="remedialClasses" [cdkDropListConnectedTo]="connectedDropLists"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full min-h-[50px] flex flex-wrap gap-2">
      <div *ngFor="let class of remedialClasses" cdkDrag [cdkDragDisabled]="class.numberOfSession === 0"
        class="bg-gray-100 text-sm px-3 py-1 rounded-full cursor-move border-l-4" [ngClass]="{
          'border-blue-500': class.numberOfSession > 0,
          'border-[#707070]': class.numberOfSession === 0
        }">
        {{ class.name }} / {{ class.numberOfSession }}
      </div>

      <div *ngIf="remedialClasses.length === 0" class="text-gray-500">No Class</div>
    </div>
  </div>

</div>

<div class="my-5 flex justify-end space-x-4">
  <img class="w-5 cursor-pointer" src="Icons/Excel.png" (click)="DownloadAsExcel()">
  <img class="w-5 cursor-pointer" src="Icons/PDF.png" (click)="DownloadAsPDF()">
  <img class="w-5 cursor-pointer" src="Icons/Print.png" (click)="openPrintModal()">
</div>

<div id="Data" class="overflow-x-auto mt-5">
  <table class="min-w-full text-sm text-left text-gray-900 border border-gray-300">
    <!-- Header -->
    <thead class="bg-gray-400 text-white">
      <tr>
        <th class="py-3 px-4 w-[120px]">Days</th>
        <th class="border p-2"
          *ngFor="let i of [].constructor(remedialTimeTable.maximumPeriodCountRemedials); let period = index">
          Session {{ period + 1 }}
        </th>
      </tr>
    </thead>

    <!-- Body -->
    <tbody>
      <tr *ngFor="let day of remedialTimeTable.groupDays">
        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ day.dayName }}</td>
        <ng-container *ngFor="let period of day.periods">
          <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0" cdkDropList
            [id]="'dropList-' + day.dayId + '-' + period.periodIndex"
            [cdkDropListData]="period.remedialTimeTableClasses" [cdkDropListConnectedTo]="connectedDropLists"
            (cdkDropListDropped)="onDrop($event, period)">
            <div class="flex flex-wrap gap-1">
              <span *ngFor="let class of period.remedialTimeTableClasses"
                class="relative bg-gray-100 text-sm px-3 py-1 rounded-full border-l-4 border-blue-500 pr-6 inline-flex items-center">
                {{ class.remedialClassroomName }} / {{ class.teacherEnName }}

                <!-- X icon -->
                <button type="button" class="absolute right-1 top-1 text-gray-500 hover:text-red-600 text-l font-bold"
                  (click)="deleteRemedialClassroom(class,period)">
                  &times;
                </button>
              </span>
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>


<!-- Add-Edit School Type Modal -->
<div id="Print_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
  <div class="bg-white rounded-2xl p-12 w-[669px]">
    <div class="flex justify-between items-center">
      <h1 class="font-semibold text-2xl leading-9">Print Time Table</h1>
      <button (click)="closePrintModal()" type="button"
        class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
    </div>

    <div class="p-[16px_24px] mt-6 mb-4 bg-[#F7F7F7] rounded-3xl">
      <div class="flex flex-col mb-4">
        <label class="mb-2 primaryTxt" for="Type">Type</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Type"
          [(ngModel)]="PrintType" (click)="GetTypes()">
          <option *ngFor="let type of types" [value]="type">
            {{ type | titlecase }}
          </option>
        </select>
      </div>

      <div class="flex flex-col mb-4" *ngIf="PrintType=='Teacher'">
        <label class="mb-2 primaryTxt" for="Teacher">Teacher</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Teacher"
          [(ngModel)]="SelectedTeacherForPrintId">
          <option [value]="0" disabled selected hidden>Choose Teacher</option>
          <option *ngFor="let t of Teachers" [value]="t.id">{{ t.en_name }}</option>
          <option *ngIf="Teachers.length === 0" disabled selected>No Data Found</option>
        </select>
      </div>

      <div class="flex flex-col mb-4" *ngIf="PrintType=='Grade'">
        <label class="mb-2 primaryTxt" for="Grade">Grade</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Grade"
          [(ngModel)]="SelectedGradeForPrintId">
          <option [value]="0" disabled selected hidden>Choose Grade</option>
          <option *ngFor="let t of Grades" [value]="t.id">{{ t.name }}</option>
          <option *ngIf="Grades.length === 0" disabled selected>No Data Found</option>
        </select>
      </div>

      <div class="flex flex-col mb-4" *ngIf="PrintType=='Day'">
        <label class="mb-2 primaryTxt" for="Day">Day</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Day"
          [(ngModel)]="SelectedDayForPrintId">
          <option [value]="0" disabled selected hidden>Choose Day</option>
          <option *ngFor="let t of day" [value]="t.id">{{ t.name }}</option>
          <option *ngIf="day.length === 0" disabled selected>No Data Found</option>
        </select>
      </div>
    </div>

    <div class="flex justify-end">
      <button [disabled]="isLoading" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg" (click)="Print()">
        <span *ngIf="!isLoading">Print</span>
        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
      </button>
    </div>
  </div>
</div>

<div class="absolute -top-[9999px] -left-[9999px]">
  <div id="Data" class="hidden">
    <app-pdf-print *ngIf="showPDF" [fileName]="'Remedial-TimeTable'"
      [infoRows]="[{ keyEn: 'Name: ' + remedialTimeTable.name }]" [tableHeaders]="tableHeadersForPDF"
      [tableData]="tableDataForPDF" #pdfComponentRef>
    </app-pdf-print>
  </div>
</div>

<div class="absolute -top-[9999px] -left-[9999px]">
  <div id="Print" class="overflow-x-auto mt-5">
    <table class="min-w-full text-sm text-left text-gray-900 border border-gray-300">
      <thead class="bg-gray-400 text-white">
        <tr>
          <th class="py-3 px-4 w-[120px]">Days</th>
          <th class="border p-2"
            *ngFor="let i of [].constructor(remedialTimeTableForPrint.maximumPeriodCountRemedials); let period = index">
            Session {{ period + 1 }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let day of remedialTimeTableForPrint.groupDays">
          <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ day.dayName }}</td>
          <ng-container *ngFor="let period of day.periods">
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0" cdkDropList
              [id]="'dropList-' + day.dayId + '-' + period.periodIndex"
              [cdkDropListData]="period.remedialTimeTableClasses" [cdkDropListConnectedTo]="connectedDropLists"
              (cdkDropListDropped)="onDrop($event, period)">
              <div class="flex flex-wrap gap-1">
                <span *ngFor="let class of period.remedialTimeTableClasses"
                  class="relative bg-gray-100 text-sm px-3 py-1 rounded-full border-l-4 border-blue-500 pr-6 inline-flex items-center">
                  {{ class.remedialClassroomName }} / {{ class.teacherEnName }}
                </span>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>