<div id="DataToDownload">
    <div>
        <div class="no-print flex justify-between items-center">
            <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
                <i class="fa-solid fa-chevron-left cursor-pointer" (click)="moveToPayable()"></i>
                <h1 *ngIf="isCreate" class="primaryTxt font-semibold text-2xl leading-9"> {{ 'Create Payable' |
                    translate }}</h1>
                <h1 *ngIf="isEdit" class="primaryTxt font-semibold text-2xl leading-9"> {{ 'Edit Payable' | translate }}
                </h1>
                <h1 *ngIf="isView" class="primaryTxt font-semibold text-2xl leading-9"> {{ 'Payable' | translate }}</h1>
            </div>
        </div>

        <div class="mt-6">
            <div class="flex justify-between">
                <div class="flex flex-col w-[30%]">
                    <label class="mb-2 primaryTxt font-medium" for="payableDocTypesID"> {{ 'Doc Type' | translate
                        }}</label>
                    <select *ngIf="!isView"
                        (ngModelChange)="onInputValueChange({ field: 'payableDocTypeID', value: $event })"
                        [disabled]="isView"
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto text-lg"
                        id="payableDocTypesID" [(ngModel)]="payable.payableDocTypeID">
                        <option [value]="0" disabled selected hidden> {{ 'Choose Doc Type' | translate }}</option>
                        <option *ngFor="let dataType of dataTypesData" [value]="dataType.id">{{ dataType.name }}
                        </option>
                        <option *ngIf="dataTypesData.length === 0" disabled selected> {{ 'No Data Found' | translate }}
                        </option>
                    </select>
                    <div *ngIf="isView"
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto text-lg">
                        {{payable.payableDocTypesName}}
                    </div>
                    <span *ngIf="validationErrors['payableDocTypeID']" class="text-red-500 ml-3 font-normal">{{
                        validationErrors['payableDocTypeID'] }}</span>
                </div>
                <div class="flex flex-col w-[30%]">
                    <label class="mb-2 primaryTxt font-medium" for="DocType"> {{ 'Doc Number' | translate }}</label>
                    <input id="DocType" type="text"
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3 text-lg" [disabled]="isView"
                        
                        placeholder="{{ 'Enter Doc Number' | translate }}"
                        [(ngModel)]="payable.docNumber"
                        (ngModelChange)="onInputValueChange({ field: 'docNumber', value: $event })" />
                    <span *ngIf="validationErrors['docNumber']" class="text-red-500 ml-3 font-normal">{{
                        validationErrors['docNumber'] }}</span>
                </div>
                <div class="flex flex-col w-[30%]">
                    <div class="mb-2 flex justify-evenly">
                        <div class="flex space-x-2 rtl:space-x-reverse items-center">
                            <input type="radio" [disabled]="isView" id="save" class="square-radio" name="linkFile"
                                [(ngModel)]="payable.linkFileID"
                                (ngModelChange)="getSaveData(); onInputValueChange({ field: 'linkFileID', value: $event })"
                                [value]="5" />
                            <label for="save" class="ml-2 font-medium"> {{ 'Safe ID' | translate }}</label>
                        </div>

                        <div class="flex space-x-2 rtl:space-x-reverse items-center">
                            <input type="radio" [disabled]="isView" id="bank" class="square-radio" name="linkFile"
                                [(ngModel)]="payable.linkFileID"
                                (ngModelChange)="getBankData(); onInputValueChange({ field: 'linkFileID', value: $event })"
                                [value]="6" />
                            <label for="bank" class="ml-2 font-medium"> {{ 'Bank ID' | translate }}</label>
                        </div>
                        <span *ngIf="validationErrors['linkFileID']" class="text-red-500 ml-3 font-normal">{{
                            validationErrors['linkFileID'] }}</span>
                    </div>
                    <select *ngIf="bankOrSafe == 'bank'" (ngModelChange)="onInputValueChange({ field: 'bankOrSaveID', value: $event })"
                        [disabled]="isView"
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto text-lg"
                        id="bankOrSaveID" [(ngModel)]="payable.bankOrSaveID">
                        <option [value]="0" disabled selected hidden> {{ 'Choose Data' | translate }}</option>
                        <option *ngFor="let bankOrSave of banksData" [value]="bankOrSave.bankID">{{ bankOrSave.bankName }}
                        </option>
                        <option *ngIf="banksData.length === 0" disabled selected> {{ 'No Data Found' | translate }}
                        </option>
                    </select>
                     <select *ngIf="bankOrSafe == 'safe'" (ngModelChange)="onInputValueChange({ field: 'bankOrSaveID', value: $event })"
                        [disabled]="isView"
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto text-lg"
                        id="bankOrSaveID" [(ngModel)]="payable.bankOrSaveID">
                        <option [value]="0" disabled selected hidden> {{ 'Choose Data' | translate }}</option>
                        <option *ngFor="let bankOrSave of safesData" [value]="bankOrSave.saveID">{{ bankOrSave.saveName }}
                        </option>
                        <option *ngIf="safesData.length === 0" disabled selected> {{ 'No Data Found' | translate }}
                        </option>
                    </select>
                    <span *ngIf="validationErrors['bankOrSaveID']" class="text-red-500 ml-3 font-normal">{{
                        validationErrors['bankOrSaveID'] }}</span>
                </div>
            </div>

            <div class="mt-5 flex justify-between">
                <div class="flex flex-col w-[45%]">
                    <label class="mb-2 primaryTxt font-medium" for="date"> {{ 'Date' | translate }}</label>
                    <input id="date" type="date"
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3 text-lg"
                        [(ngModel)]="payable.date" [disabled]="isView"
                        (ngModelChange)="onInputValueChange({ field: 'date', value: $event })" />
                    <span *ngIf="validationErrors['date']" class="text-red-500 ml-3 font-normal">{{
                        validationErrors['date'] }}</span>
                </div>

                <div class="flex flex-col w-[45%]" *ngIf="!isCreate">
                    <label class="mb-2 primaryTxt font-medium" for="total"> {{ 'Total' | translate }}</label>
                    <input id="total" type="text" disabled
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3 text-lg"
                        [(ngModel)]="totalAmount" />
                </div>
            </div>

            <div class="mt-5 flex flex-col">
                <label class="mb-2 primaryTxt font-medium" for="notes"> {{ 'Notes' | translate }}</label>
                <textarea id="notes" class="w-full rounded-lg border border-solid border-gray-300 px-4 py-3"
                    [disabled]="isView"  placeholder="{{ 'Add Notes' | translate }}"
                    [(ngModel)]="payable.notes">
                </textarea>
            </div>
        </div>


        <div class="no-print flex justify-end mt-5 space-x-4 rtl:space-x-reverse items-center">
            <div class="flex space-x-4 rtl:space-x-reverse" *ngIf="!isCreate">
                <img class="w-5 cursor-pointer" src="Icons/Excel.png" (click)="DownloadAsExcel()"
                    title="Export to Excel">
                <img class="w-5 cursor-pointer" src="Icons/PDF.png" (click)="DownloadAsPDF()" title="Download as PDF">
                <img class="w-5 cursor-pointer" src="Icons/Print.png" (click)="Print()" title="Print">
            </div>
            <button *ngIf="!isView" [disabled]="isSaveLoading"
                class="secondaryBg text-white font-medium px-4 py-2 rounded-lg" (click)="Save()">
                <span *ngIf="!isSaveLoading"> {{ 'Save' | translate }} </span>
                <i *ngIf="isSaveLoading" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>

    <div class="mt-6" *ngIf="!isCreate">
        <div class="no-print flex justify-end" *ngIf="!isView">
            <button class="secondaryTxt secondaryBorder px-4 py-2 rounded-lg flex items-center space-x-2 rtl:space-x-reverse"
                (click)="AddPayableDetails()">
                <div class="secondaryBorder rounded-full flex items-center p-1"><i class="fa-solid fa-plus"></i></div>
                <p> {{ 'Add Row' | translate }}</p>
            </button>
        </div>

        <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
            <table class="overflow-auto w-full bg-[#EBEBEB] text-left rtl:text-right text-[#6F6F6F]">
                <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                    <tr>
                        <th
                            class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            {{ 'ID' | translate }}
                        </th>
                        <th
                            class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                            {{ 'Amount' | translate }}
                        </th>
                        <th
                            class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            {{ 'Link File' | translate }}
                        </th>
                        <th
                            class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                            {{ 'Link File Type' | translate }}
                        </th>
                        <th
                            class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            {{ 'Notes' | translate }}
                        </th>
                        <th class="no-print py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0"
                            *ngIf="!isView">
                            {{ 'Actions' | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- No Data Row -->
                    <tr *ngIf="payable.payableDetails.length === 0 && payable.newDetails.length === 0">
                        <td colspan="6"
                            class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                            {{ 'No Data Found' | translate }}
                        </td>
                    </tr>
                    <!-- Data Rows -->
                    <tr *ngFor="let row of payable.payableDetails; let i = index"
                            [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                            class="border-t border-gray-300 text-xs md:text-sm">
                        
                        <!-- If the row is being edited, show inputs -->
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{
                            row.id}}</td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <input type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                                [attr.placeholder]="!row.amount ? 'Enter Amount' : ''"
                                (input)="validateNumberEditDetails(row , $event, 'amount'); "
                                [(ngModel)]="row.amount"
                                (ngModelChange)="onInputValueChangeForEditDetails(row , { field: 'amount', value: $event }); AddInUpdated(row)" />
                            <span *ngIf="validationErrorsForDetails[row.id] && validationErrorsForDetails[row.id]['amount']" class="text-red-500 ml-3 font-normal">
                                {{ validationErrorsForDetails[row.id]['amount'] }}
                            </span>
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <select  (ngModelChange)="onInputValueChangeForEditDetails(row ,{ field: 'linkFileID', value: $event }) ; AddInUpdated(row)"
                                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto"
                                id="linkFileID" [(ngModel)]="row.linkFileID">
                                <option [value]="0" disabled selected hidden>{{ 'Choose Link File' | translate }}
                                </option>
                                <option *ngFor="let linkFile of linkFilesData" [value]="linkFile.id">{{
                                    linkFile.name }}</option>
                                <option *ngIf="linkFilesData.length === 0" disabled selected>{{ 'No Data Found' |
                                    translate }}</option>
                            </select>
                            <span *ngIf="validationErrorsForDetails[row.id] && validationErrorsForDetails[row.id]['linkFileID']" class="text-red-500 ml-3 font-normal">
                             {{ validationErrorsForDetails[row.id]['linkFileID'] }}
                            </span>
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <select [disabled]="row.linkFileID == 0" [(ngModel)]="row.linkFileTypeID"
                                (ngModelChange)="onInputValueChangeForEditDetails(row ,{ field: 'linkFileTypeID', value: $event }); AddInUpdated(row)"
                                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto">
                                <option [value]="0" disabled selected hidden>
                                {{ 'Choose Link File Data' | translate }}
                                </option>
                                <option *ngFor="let item of row.linkFileTypesData" [value]="item.id">
                                {{ item.name || item.en_name }}
                                </option>
                                <option *ngIf="row.linkFileTypesData?.length === 0" disabled>
                                {{ 'No Data Found' | translate }}
                                </option>
                            </select>
                            <span *ngIf="validationErrorsForDetails[row.id] && validationErrorsForDetails[row.id]['linkFileTypeID']" class="text-red-500 ml-3 font-normal">
                              {{ validationErrorsForDetails[row.id]['linkFileTypeID'] }}
                            </span>
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <textarea class="w-full rounded-lg border border-solid border-gray-300 px-4 py-3" 
                             (ngModelChange)="AddInUpdated(row)"
                                [(ngModel)]="row.notes"></textarea>
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <div class="flex space-x-4 rtl:space-x-reverse">
                                <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                                    (click)="DeleteDetail(row.id)">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </div>
                        </td>
                    </tr>

                    <tr *ngFor="let row of payable.newDetails; let i = index"
                        [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                        class="border-t border-gray-300 text-xs md:text-sm">
                        
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">__</td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <input type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                                [attr.placeholder]="!row.amount ? 'Enter Amount' : ''"
                                (input)="validateNumberEditDetails(row ,$event, 'amount')"
                                [(ngModel)]="row.amount"
                                (ngModelChange)="onInputValueChangeForEditDetails(row , { field: 'amount', value: $event })" />
                            <span *ngIf="validationErrorsForDetails[row.id] && validationErrorsForDetails[row.id]['amount']" class="text-red-500 ml-3 font-normal">
                               {{ validationErrorsForDetails[row.id]['amount'] }}
                            </span>
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <select  (ngModelChange)="onInputValueChangeForEditDetails(row ,{ field: 'linkFileID', value: $event })"
                                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto"
                                id="linkFileID" [(ngModel)]="row.linkFileID">
                                <option [value]="0" disabled selected hidden>{{ 'Choose Link File' | translate }}
                                </option>
                                <option *ngFor="let linkFile of linkFilesData" [value]="linkFile.id">{{
                                    linkFile.name }}</option>
                                <option *ngIf="linkFilesData.length === 0" disabled selected>{{ 'No Data Found' |
                                    translate }}</option>
                            </select>
                           <span *ngIf="validationErrorsForDetails[row.id] && validationErrorsForDetails[row.id]['linkFileID']" class="text-red-500 ml-3 font-normal">
                              {{ validationErrorsForDetails[row.id]['linkFileID'] }}
                           </span>
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <select [disabled]="row.linkFileID == 0" [(ngModel)]="row.linkFileTypeID"
                                (ngModelChange)="onInputValueChangeForEditDetails(row ,{ field: 'linkFileTypeID', value: $event })"
                                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto">
                                <option [value]="0" disabled selected hidden>
                                {{ 'Choose Link File Data' | translate }}
                                </option>
                                <option *ngFor="let item of row.linkFileTypesData" [value]="item.id">
                                {{ item.name || item.en_name }}
                                </option>
                                <option *ngIf="row.linkFileTypesData?.length === 0" disabled>
                                {{ 'No Data Found' | translate }}
                                </option>
                            </select>
                            <span *ngIf="validationErrorsForDetails[row.id] && validationErrorsForDetails[row.id]['linkFileTypeID']" class="text-red-500 ml-3 font-normal">
                              {{ validationErrorsForDetails[row.id]['linkFileTypeID'] }}
                            </span>
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <textarea class="w-full rounded-lg border border-solid border-gray-300 px-4 py-3"
                                [(ngModel)]="row.notes"></textarea>
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <div class="flex space-x-4 rtl:space-x-reverse">
                                <button (click)="DeleteNewDetail(row.id)">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="absolute -top-[9999px] -left-[9999px]">
    <div id="Data" class="hidden">
        <app-pdf-print *ngIf="showPDF" [school]="{ 
                reportHeaderOneEn: 'Payable Report',
                reportHeaderTwoEn: 'Detailed payable information',
                reportHeaderOneAr: 'تقرير الدفع',
                reportHeaderTwoAr: 'معلومات تفصيلية عن الدفع',
            }" [fileName]="'Payable_Report'" [infoRows]="[
                { keyEn: 'Document Type: ' + payable.payableDocTypesName },
                { keyEn: 'Document Number: ' + payable.docNumber },
                { keyEn: 'Date: ' + payable.date },
                { keyEn: 'Total Amount: ' + totalAmount },
                { keyEn: 'Note: ' + payable.notes }
            ]" [tableHeaders]="['id', 'amount', 'linkFileName', 'linkFileTypeName', 'notes']"
            [tableData]=" payable.payableDetails" #pdfComponentRef>
        </app-pdf-print>
    </div>
</div>
