<div class="flex justify-between mb-3">
    <h1 class="primaryTxt font-semibold text-2xl leading-9"> {{'Salary Calculations'| translate }}</h1>
</div>

<div class="flex justify-start items-center space-x-4 rtl:space-x-reverse">
    <div class="w-[30%]">
        <label for="Month" class="block mb-2 text-sm font-medium text-gray-900">
            {{ 'Month' | translate }}
        </label>
        <input id="Month" type="month" [(ngModel)]="selectedMonth" required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
            (change)="onDateChange()">
    </div>
    <div class="w-[30%]">
        <label for="SelectedEmpId" class="block mb-2 text-sm font-medium text-gray-900"> {{ 'Employee' | translate }}</label>
        <select id="SelectedEmpId"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
            [(ngModel)]="SelectedEmpId">
            <option [value]="0" selected>All Employees</option>
            <option *ngFor="let c of employees" [value]="c.id">{{ c.en_name }}</option>
        </select>
    </div>
    <div class="mt-7 ml-2">
        <button class="p-3 font-medium text-xl rounded-lg" (click)="calculateSalary()"
            [disabled]="!month || !year || isLoading" [ngClass]="{ 
                'bg-gray-100 text-gray-300': !month || !year || isLoading, 
                'secondaryBg text-white': month && year && !isLoading }">
            {{'Calculate'| translate }}
        </button>
    </div>
</div>

<div class="flex justify-around mt-6">
    <div *ngIf="isLoading" class="w-[50%]">
        <div class="w-full bg-gray-200 rounded-full h-6">
            <div class="secondaryBg h-6 text-white text-center text-sm leading-6 rounded-full transition-all duration-500">
                {{ progressText }}
            </div>
        </div>
    </div>
</div>