/****** Object:  UserDefinedFunction [dbo].[FilterEntries]    Script Date: 7/7/2025 10:15:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[FilterEntries](
  @DateFrom Date,
  @DateTo Date
  --@MainAccNo Nvarchar(100) = '',
  --@SubAccNo Bigint = 0
  )
  Returns Table
  As
  Return (
	Select AEDT.Name Account, AEM.DocNumber InvoiceNumber, 
	ATC.LinkFileID MainAccountNo, LF.Name MainAccount,
	AED.AccountingTreeChartID SubAccountNo, ATC.Name SubAccount,
	AED.CreditAmount Credit, AED.DebitAmount Debit
	from AccountingEntriesMaster AEM
	Join AccountingEntriesDocTypes AEDT on AEM.AccountingEntriesDocTypeID = AEDT.ID
	Join AccountingEntriesDetails AED on AED.AccountingEntriesMasterID = AEM.ID
	Join AccountingTreeCharts ATC on AED.AccountingTreeChartID = ATC.ID
	Join LinkFile LF on LF.ID = ATC.LinkFileID
	where AEM.IsDeleted is null 
	--and AEM.Date between @DateFrom and @DateTo

	union all

	Select IFs.enName Account, IM.ID InvoiceNumber,
	IFs.ID MainAccountNo, IFs.enName MainAccount,
	S.ID SubAccountNo, ATC.Name SubAccount,
	(case when IM.FlagId in (11, 10) then IM.CashAmount else 0 end) Debit,
	(case when IM.FlagId in (12, 9) then IM.CashAmount else 0 end) Credit
	From InventoryMaster IM
	Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
	Join Student S on S.ID = IM.StudentID
	Join AccountingTreeCharts ATC on IM.FlagId = ATC.ID
	Join InventoryFlags IFs on IFs.ID = IM.FlagId
	Join LinkFile LF on LF.ID = ATC.LinkFileID
	where IM.IsDeleted is null
	--where IM.Date between @DateFrom and @DateTo

	union all

	Select IFs.enName Account, IM.ID InvoiceNumber,
	IFs.ID MainAccountNo, IFs.enName MainAccount,
	S.ID SubAccountNo, S.Name SubAccount,
	(case when IM.FlagId in (12, 9) then IM.CashAmount else 0 end) Debit,
	(case when IM.FlagId in (11, 10) then IM.CashAmount else 0 end) Credit
	From InventoryMaster IM
	Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
	Join Saves S on S.ID = IM.SaveID
	Join AccountingTreeCharts ATC on IM.FlagId = ATC.ID
	Join InventoryFlags IFs on IFs.ID = IM.FlagId
	Join LinkFile LF on LF.ID = ATC.LinkFileID
	where IM.IsDeleted is null
	--where IM.Date between @DateFrom and @DateTo
  )