<div class="flex justify-between items-center">
    <h1 class="primaryTxt font-semibold text-2xl leading-9">{{'Accounting Entries'| translate }}</h1>
    <div class="flex justify-between items-center">
        <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
        <button (click)="Create()" class="rounded-lg secondaryBorder secondaryTxt px-4 py-3 flex items-center justify-center gap-2">
             {{'Create Accounting Entries'| translate }}
        </button>
    </div>
</div>

<div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
    <table class="overflow-auto w-full bg-[#EBEBEB] text-left text-[#6F6F6F]">
        <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
            <tr>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    {{'ID'| translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                    {{'Doc Number'| translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    {{'Date'| translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                     {{'Accounting Entries Doc Types'| translate }}
                </th> 
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    {{'Notes'| translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                    {{'Actions'| translate }}
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- No Data Row -->
            <tr *ngIf="accountingEntriesData.length === 0">
                <td colspan="6" class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                    {{'No Data Found'| translate }}
                </td>
            </tr>

            <!-- Data Rows -->
            <tr *ngFor="let row of accountingEntriesData; let i = index"
                [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                class="border-t border-gray-300 text-xs md:text-sm">

                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.id }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.docNumber }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.date }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.accountingEntriesDocTypeName }}</td> 
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.notes }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex space-x-4">
                        <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                            (click)="Delete(row.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                        <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="Create(row.id, true)">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button (click)="Create(row.id, false)" >
                            <i class="fa-solid fa-eye"></i> 
                        </button>
                    </div>
                </td> 
            </tr>
        </tbody>
    </table>
</div>

<div class="mt-8 flex justify-between items-center">
    <div class="flex items-center space-x-4 flex-row rtl:flex-row-reverse">
        <button class="flex items-center space-x-2 rounded-lg border py-3 px-4 flex-row rtl:flex-row-reverse" (click)="changeCurrentPage(CurrentPage-1)"
        [disabled]="CurrentPage === 1 || accountingEntriesData.length == 0"
        [ngClass]="{'cursor-not-allowed opacity-50': CurrentPage === 1 || accountingEntriesData.length == 0}">
            <i class="fa-solid fa-arrow-left"></i>
            <p> {{'Previous'| translate }}</p>
        </button>
        <div class="flex">
            <div *ngFor="let page of visiblePages"
                class="rounded-lg py-[10px] w-[40px]"
                [ngClass]="{ 'border': page === CurrentPage, 'hover:bg-gray-100': page !== CurrentPage }"
                (click)="changeCurrentPage(page)">
                <p class="cursor-pointer text-center">{{ page }}</p>
            </div>
        </div>
        <button class="flex items-center space-x-2 rounded-lg border py-3 px-4 flex-row rtl:flex-row-reverse" (click)="changeCurrentPage(CurrentPage+1)"
        [disabled]="CurrentPage === TotalPages || accountingEntriesData.length == 0"
        [ngClass]="{'cursor-not-allowed opacity-50': CurrentPage === TotalPages || accountingEntriesData.length == 0}">
            <p> {{'Next'| translate }}</p> 
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>

    <div class="flex items-center space-x-2">
        <input  (input)="validateNumber($event)" class="rounded-lg border py-3 px-4 w-[73px]" [(ngModel)]="PageSize" min="1" (input)="validatePageSize($event)" (ngModelChange)="changeCurrentPage(CurrentPage)">
        <p> {{'items Per Page'| translate }}</p>
    </div>

    <div>
        <p>{{CurrentPage}}  {{'of'| translate }} {{TotalPages}} {{'pages'| translate }} ({{TotalRecords}}  {{'Item'| translate }})</p>
    </div>
</div>