<div *ngFor="let archiving of archivingData" [ngClass]="{ 'ml-11': archiving.archivingTreeParentID != 0, 'my-4':  archiving.fileLink == '' }">
    <div>
        <div class="flex items-center space-x-2 p-2 rounded" [ngClass]="{'primaryBg text-white': archiving.fileLink == ''}">
            <div *ngIf="archiving.fileLink == ''" class="px-3 py-[6px] rounded bg-white secondaryTxt" 
            (click)="toggleChildren(archiving)">
                <i class="fa-solid" [ngClass]="{
                    'fa-chevron-down': !archiving.isOpen,
                    'fa-chevron-up': archiving.isOpen
                  }"></i>
            </div> 
            <div [class.cursor-pointer]="archiving.filelink === ''" class="flex items-center space-x-2" (click)="archiving.filelink === '' ? getData(archiving) : null">
                <p>{{archiving.id}}</p>
                <p>{{archiving.name}}</p>
            </div>
        </div>

        <app-archiving-item *ngIf="archiving.isOpen && archiving.children && archiving.children.length > 0"
            [archivingData]="archiving.children" (Selected)="Selected.emit($event)">
        </app-archiving-item>
    </div>
</div>