<div class="">
  <div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
      <i class="fa-solid fa-chevron-left cursor-pointer" (click)="MoveToPermissionGroup()"></i>
      <h1 class="primaryTxt font-semibold text-2xl leading-9">Permission Group Employees</h1>
    </div>
    <div class="flex justify-between items-center"> 
      <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
      <button (click)="openModal()"
        class="rounded-lg secondaryBorder secondaryTxt px-4 py-3 flex items-center justify-center gap-2">
        Add Employee
      </button>
    </div>
  </div>

  <div>
    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD]">
      <table class="w-full tabe inset-0 bg-[#EBEBEB] text-left text-[#6F6F6F]">
        <thead class="bg-[#EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
          <tr>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
              ID
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
              Employee English Name
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
              Employee Arabic Name
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="TableData.length === 0">
            <td colspan="4" class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
              No Data Found
            </td>
          </tr>

          <tr *ngFor="let row of TableData; let i = index"
            [ngClass]="{ 'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1 }"
            class="border-t border-gray-300 text-xs md:text-sm">
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.id }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.employeeEnglishName }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.employeeArabicName }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              <div class="flex space-x-4 rtl:space-x-reverse">
                <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)" (click)="Delete(row.id)">
                  <i class="fa-regular fa-trash-can"></i>
                </button> 
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> 



<div id="Add_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
  <div class="bg-white rounded-2xl p-12 w-[669px] max-h-[90%] overflow-y-auto">
    <div class="flex justify-between items-center">
      <h1 class="font-semibold text-2xl leading-9">Add Employee</h1> 
      <button (click)="closeModal()" type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
    </div>

    <div class="mt-6 mb-4 flex justify-between flex-wrap">
      <div class="flex flex-col mb-4 w-full">
          <label class="mb-2 primaryTxt" for="Employee">Employee</label>
          <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Employee"
              [(ngModel)]="permissionGroupEmployee.employeeID">
              <option [value]="0" disabled selected hidden>Choose Employee</option>
              <option *ngFor="let c of employees" [value]="c.id">{{ c.en_name }}</option>
              <option *ngIf="employees.length === 0" disabled selected>No Data Found</option>
          </select> 
      </div>
    </div>

    <div class="flex justify-end">
      <button [disabled]="isLoading" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg cursor-pointer"
        (click)="Save()">
        <span *ngIf="!isLoading">Save</span>
        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
      </button>
    </div>
  </div>
</div>