<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5">
        <i class="fa-solid fa-chevron-left cursor-pointer" (click)="GoToClass()"></i>
        <h1 class="primaryTxt font-semibold text-2xl leading-9">Students</h1>
    </div>
    <div class="flex justify-between items-center space-x-5">
        <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search> 

        <button [disabled]="isLoading" class="secondaryBg text-white rounded-lg px-4 py-3"
            (click)="OpenModal()">
            Add
        </button>
    </div>
</div>

<div>
    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD]">
        <table class="w-full tabe inset-0 bg-[#EBEBEB] text-left text-[#6F6F6F]">
            <thead class="bg-[#EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                <tr>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        ID
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Student English Name
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Student Arabic Name
                    </th> 
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- No Data Row -->
                <tr *ngIf="ClassStudents.length === 0">
                    <td colspan="4"
                        class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                        No Data Found
                    </td>
                </tr>

                <!-- Data Rows -->
                <tr *ngFor="let row of ClassStudents; let i = index"
                    [ngClass]="{ 'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1 }"
                    class="border-t border-gray-300 text-xs md:text-sm">
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.id }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.studentEnglishName }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.studentArabicName }}
                    </td> 
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div class="flex space-x-4"> 
                            <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                                (click)="deleteStudent(row.id)">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                            <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="OpenTransferModal(row.id)">
                                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                            </button>
                            <img *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" src="Icons/LessonResource.png" (click)="OpenHideModal(row.id)"> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div id="Transfer_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-[669px] overflow-auto">
        <div class="flex justify-between items-center">
            <h1 class="font-semibold text-2xl leading-9">Transfer From Class To Class</h1> 
            <button (click)="closeModal()" type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>

        <div class="flex flex-col mt-6 mb-4 bg-[#F7F7F7] rounded-3xl p-4">  
            <div class="flex flex-col mb-4">
                <label class="mb-2 primaryTxt" for="class">Class</label> 
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="class"
                    [(ngModel)]="ClasssStudent.classID">
                    <option [value]="0" disabled selected hidden>Choose Class</option>
                    <option *ngFor="let class of Classes" [value]="class.id">{{ class.name }}</option>
                    <option *ngIf="Classes.length === 0" disabled selected>No Data Found</option>
                </select>
            </div> 
        </div>

        <div class="flex justify-end">
            <button [disabled]="isLoading" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg"
                (click)="SaveTransfer()">
                <span *ngIf="!isLoading">Save</span>
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>
</div>


<div id="Hide_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-[669px] overflow-auto">
        <div class="flex justify-between items-center">
            <h1 class="font-semibold text-2xl leading-9">{{ClasssStudent.studentEnglishName}}</h1> 
            <button (click)="closeModal()" type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div> 

        <div class="flex flex-col mt-6 mb-4 bg-[#F7F7F7] rounded-3xl p-4">  
            <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD]">
                <table class="w-full tabe inset-0 bg-[#EBEBEB] text-left text-[#6F6F6F]">
                    <thead class="bg-[#EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                        <tr> 
                            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                                Subject English Name
                            </th>
                            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                                Subject Arabic Name
                            </th>
                            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                                Hide
                            </th> 
                        </tr>
                    </thead>
                    <tbody>
                        <!-- No Data Row -->
                        <tr *ngIf="ClasssStudent.studentClassroomSubjects.length == 0">
                            <td colspan="3"
                                class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                                No Data Found
                            </td>
                        </tr>

                        <!-- Data Rows -->
                        <ng-container *ngIf="ClasssStudent.studentClassroomSubjects.length > 0">
                            <tr *ngFor="let row of ClasssStudent.studentClassroomSubjects; let i = index"
                                [ngClass]="{ 'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1 }"
                                class="border-t border-gray-300 text-xs md:text-sm"> 
                                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                                    {{ row.subjectEnglishName }}
                                </td>
                                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                                    {{ row.subjectArabicName }}
                                </td>   
                                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                                    <label class="inline-flex items-center cursor-pointer">
                                        <input type="checkbox" 
                                            [(ngModel)]="row.hide" 
                                            class="sr-only peer" />
                                        
                                        <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-300 peer-checked:bg-green-500 relative transition-colors duration-300">
                                            <span class="absolute left-1 top-1 w-4 h-4 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-5"></span>
                                        </div>
                                    </label> 
                                </td>  
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div> 
        </div>

        <div class="flex justify-end">
            <button [disabled]="isLoading" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg"
                (click)="SaveHideSubject()">
                <span *ngIf="!isLoading">Save</span>
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>
</div>

<!-- <app-search-student *ngIf="isModalOpen" (closeModal)="closeModal()" (studentSelected)="handleStudentSelected($event)"></app-search-student> -->

<app-search-student
  *ngIf="isModalOpen"
  [selectedYear]="preSelectedYear"
  [selectedGrade]="preSelectedGrade"
  [selectedClassroom]="preSelectedClassroom"
  [hiddenInputs]="hiddenInputs"
  (closeModal)="closeModal()"
  (studentSelected)="handleStudentSelected($event)"
></app-search-student>