<div id="DataToDownload">
    <div class="no-print flex justify-between items-center">
        <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
            <i class="fa-solid fa-chevron-left cursor-pointer" (click)="moveToAccountingEntries()"></i>
            <h1 *ngIf="isCreate" class="primaryTxt font-semibold text-2xl leading-9">  {{ 'Create Accounting Entries' | translate }}</h1>
            <h1 *ngIf="isEdit" class="primaryTxt font-semibold text-2xl leading-9">  {{ 'Edit Accounting Entries' | translate }}</h1>
            <h1 *ngIf="isView" class="primaryTxt font-semibold text-2xl leading-9">  {{ 'Accounting Entries' | translate }}</h1>
        </div>
    </div>

    <div class="mt-6">
        <div class="flex justify-between">
            <div class="flex flex-col w-[30%]">
                <label class="mb-2 primaryTxt font-medium" for="accountingEntriesDocTypeID"> {{ 'Doc Type' | translate }}</label>
                <select *ngIf="!isView"
                    (ngModelChange)="onInputValueChange({ field: 'accountingEntriesDocTypeID', value: $event })"
                    [disabled]="isView" class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto"
                    id="accountingEntriesDocTypeID" [(ngModel)]="accountingEntries.accountingEntriesDocTypeID">
                    <option [value]="0" disabled selected hidden> {{ 'Choose Doc Type' | translate }}</option>
                    <option *ngFor="let dataType of dataTypesData" [value]="dataType.id">{{ dataType.name }}</option>
                    <option *ngIf="dataTypesData.length === 0" disabled selected>{{ 'No Data Found' | translate }}</option>
                </select>
                <div *ngIf="isView"
                    class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto text-lg">
                    {{accountingEntries.accountingEntriesDocTypeName}}
                </div>
                <span *ngIf="validationErrors['accountingEntriesDocTypeID']" class="text-red-500 ml-3 font-normal">{{
                    validationErrors['accountingEntriesDocTypeID'] }}</span>
            </div>
            <div class="flex flex-col w-[30%]">
                <label class="mb-2 primaryTxt font-medium" for="DocType"> {{ 'Doc Number' | translate }}</label>
                <input id="DocType" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                  placeholder="{{ 'Enter Doc Number' | translate }}"
                    [(ngModel)]="accountingEntries.docNumber" (ngModelChange)="onInputValueChange({ field: 'docNumber', value: $event })"/>
                <span *ngIf="validationErrors['docNumber']" class="text-red-500 ml-3 font-normal">{{
                        validationErrors['docNumber'] }}</span> 
            </div>
            <div class="flex flex-col w-[30%]">
                <label class="mb-2 primaryTxt font-medium" for="date"> {{ 'Date' | translate }}</label>
                <input id="date" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                    [(ngModel)]="accountingEntries.date" [disabled]="isView"
                    (ngModelChange)="onInputValueChange({ field: 'date', value: $event })" />
                <span *ngIf="validationErrors['date']" class="text-red-500 ml-3 font-normal">{{ validationErrors['date']
                    }}</span>
            </div>
        </div>

        <div class="mt-5 flex justify-between">
            <div class="flex flex-col w-[30%]" *ngIf="!isCreate">
                <label class="mb-2 primaryTxt font-medium" for="total"> {{ 'Total Credit' | translate }}</label>
                <input id="totalCredit" type="text" disabled class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                    [(ngModel)]="totalCredit" />
            </div>
            <div class="flex flex-col w-[30%]" *ngIf="!isCreate">
                <label class="mb-2 primaryTxt font-medium" for="total">{{ 'Total Debit ' | translate }}</label>
                <input id="totalDebit" type="text" disabled class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                    [(ngModel)]="totalDebit" />
            </div>
            <div class="flex flex-col w-[30%]" *ngIf="!isCreate">
                <label class="mb-2 primaryTxt font-medium" for="total">{{ 'The Difference ' | translate }}</label>
                <input id="totalDifference" type="text" disabled class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                    [(ngModel)]="theDifference" />
            </div>
        </div>

        <div class="mt-5 flex flex-col">
            <label class="mb-2 primaryTxt font-medium" for="notes"> {{ 'Notes' | translate }}</label>
            <textarea id="notes" class="w-full rounded-lg border border-solid border-gray-300 px-4 py-3"
                [disabled]="isView"  placeholder="{{ 'Add Notes' | translate }}" [(ngModel)]="accountingEntries.notes">
            </textarea>
        </div>
    </div>


    <div class="no-print flex justify-end mt-5 space-x-4 rtl:space-x-reverse items-center">
        <div class="flex space-x-4 rtl:space-x-reverse" *ngIf="!isCreate">
            <img class="w-5 cursor-pointer" src="Icons/Excel.png" (click)="DownloadAsExcel()" title="Export to Excel">
            <img class="w-5 cursor-pointer" src="Icons/PDF.png" (click)="DownloadAsPDF()" title="Download as PDF">
            <img class="w-5 cursor-pointer" src="Icons/Print.png" (click)="Print()" title="Print">
        </div>

        <button *ngIf="!isView" [disabled]="isSaveLoading" 
            class="secondaryBg text-white font-medium px-4 py-2 rounded-lg" (click)="Save()">
            <span *ngIf="!isSaveLoading"> {{ 'Save' | translate }} </span>
            <i *ngIf="isSaveLoading" class="fas fa-spinner fa-spin"></i>
        </button>
    </div>
</div>

<div class="mt-6" *ngIf="!isCreate">
    <div class="no-print flex justify-end" *ngIf="!isView">
        <button class="secondaryTxt secondaryBorder px-4 py-2 rounded-lg flex items-center space-x-2 rtl:space-x-reverse"
            (click)="AddAccountingEntriesDetails()">
            <div class="secondaryBorder rounded-full flex items-center p-1"><i class="fa-solid fa-plus"></i></div>
            <p> {{ 'Add Row' | translate }}</p>
        </button>
    </div>

    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
        <table class="overflow-auto w-full bg-[#EBEBEB] text-left rtl:text-right  text-[#6F6F6F]">
            <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                <tr>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                         {{ 'ID' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                         {{ 'Debit' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                         {{ 'Credit' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                         {{ 'Account Name' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                         {{ 'Sub Account' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                         {{ 'Notes' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                         {{ 'Actions' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- No Data Row -->
                <tr *ngIf="(accountingEntries.accountingEntriesDetails?.length || 0) === 0 && (accountingEntries.newDetails?.length || 0) === 0">
                    <td colspan="7"
                        class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                       {{ 'No Data Found' | translate }}
                    </td>
                </tr>

                <!-- Data Rows -->
                <tr *ngFor="let row of accountingEntries.accountingEntriesDetails; let i = index"
                    [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                    class="border-t border-gray-300 text-xs md:text-sm">

                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.id }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <input id="debitAmount" type="text"
                            class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                            (input)="validateNumberEditedRowData(row ,$event, 'debitAmount')"
                            [(ngModel)]="row.debitAmount"
                            (ngModelChange)="onInputValueChangeForDetails(row,{ field: 'debitAmount', value: $event })" />
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <input id="creditAmount" type="text"
                            class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                            (input)="validateNumberEditedRowData(row ,$event, 'creditAmount')"
                            [(ngModel)]="row.creditAmount"
                            (ngModelChange)="onInputValueChangeForDetails(row,{ field: 'creditAmount', value: $event })" />
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <select (change)="GetSubAccountData(row ,$event)"
                            (ngModelChange)="onInputValueChangeForDetails(row,{ field: 'accountingTreeChartID', value: $event })"
                            class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto"
                            id="accountingTreeChartID" [(ngModel)]="row.accountingTreeChartID">
                            <option [value]="0" disabled selected hidden> {{ 'Choose Account' | translate }}</option>
                            <option *ngFor="let acc of AccountingTreeChartData" [value]="acc.id">{{ acc.name }}
                            </option>
                            <option *ngIf="AccountingTreeChartData.length === 0" disabled selected>{{ 'No Data Found' | translate }}
                            </option>
                        </select>
                        <span *ngIf="validationErrorsForDetails[row.id] && validationErrorsForDetails[row.id]['accountingTreeChartID']" class="text-red-500 ml-3 font-normal">
                          {{ validationErrorsForDetails[row.id]['accountingTreeChartID'] }}
                        </span>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <select [disabled]="row.accountingTreeChartID == 0"
                            (ngModelChange)="onInputValueChangeForDetails(row,{ field: 'subAccountingID', value: $event })"
                            class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto"
                            id="subAccountingID" [(ngModel)]="row.subAccountingID">
                            <option [value]="null" disabled selected hidden> {{ 'Choose Sub Account Data' | translate }}</option>
                            <option *ngFor="let sub of row.subAccountData" [value]="sub.id">{{ sub.en_name }} {{
                                sub.name }}</option>
                            <option *ngIf="row.subAccountData.length === 0" disabled selected>{{ 'No Data Found' | translate }}</option>
                        </select>
                        <span *ngIf="validationErrorsForDetails[row.id] && validationErrorsForDetails[row.id]['subAccountingID']" class="text-red-500 ml-3 font-normal">
                            {{ validationErrorsForDetails[row.id]['subAccountingID'] }}
                        </span>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <textarea class="w-full rounded-lg border border-solid border-gray-300 px-4 py-3"
                            [(ngModel)]="row.note"></textarea>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div class="flex space-x-4 rtl:space-x-reverse">
                            <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                                (click)="DeleteDetail(row.id)">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>

                <tr *ngFor="let row of accountingEntries.newDetails; let i = index"
                    [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                    class="border-t border-gray-300 text-xs md:text-sm">

                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">__
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <input id="debitAmount" type="text"
                            class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                            [(ngModel)]="row.debitAmount"
                            (input)="validateNumberEditedRowData(row ,$event, 'debitAmount')"
                            (ngModelChange)="onInputValueChangeForDetails(row ,{ field: 'debitAmount', value: $event })" />
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <input id="creditAmount" type="text"
                            class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                            [(ngModel)]="row.creditAmount"
                            (input)="validateNumberEditedRowData(row ,$event, 'creditAmount')"
                            (ngModelChange)="onInputValueChangeForDetails(row ,{ field: 'creditAmount', value: $event })" />
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <select (change)="GetSubAccountData(row ,$event)"
                            (ngModelChange)="onInputValueChangeForDetails(row,{ field: 'accountingTreeChartID', value: $event })"
                            class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto"
                            id="accountingTreeChartID" [(ngModel)]="row.accountingTreeChartID">
                            <option [value]="0" disabled selected hidden> {{ 'Choose Account' | translate }}</option>
                            <option *ngFor="let acc of AccountingTreeChartData" [value]="acc.id">{{ acc.name }}
                            </option>
                            <option *ngIf="AccountingTreeChartData.length === 0" disabled selected>{{ 'No Data Found' | translate }}
                            </option>
                        </select>
                        <span *ngIf="validationErrorsForDetails[row.id] && validationErrorsForDetails[row.id]['accountingTreeChartID']" class="text-red-500 ml-3 font-normal">
                            {{ validationErrorsForDetails[row.id]['accountingTreeChartID'] }}
                        </span>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <select [disabled]="row.accountingTreeChartID == 0"
                            (ngModelChange)="onInputValueChangeForDetails(row,{ field: 'subAccountingID', value: $event })"
                            class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto"
                            id="subAccountingID" [(ngModel)]="row.subAccountingID">
                            <option [value]="null" disabled selected hidden> {{ 'Choose Sub Account Data' | translate }}</option>
                            <option *ngFor="let sub of row.subAccountData" [value]="sub.id">{{ sub.en_name }} {{
                                sub.name }}</option>
                            <option *ngIf="row.subAccountData.length === 0" disabled selected>{{ 'No Data Found' | translate }}</option>
                        </select>
                        <span *ngIf="validationErrorsForDetails[row.id] && validationErrorsForDetails[row.id]['subAccountingID']" class="text-red-500 ml-3 font-normal">
                            {{ validationErrorsForDetails[row.id]['subAccountingID'] }}
                        </span>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <textarea class="w-full rounded-lg border border-solid border-gray-300 px-4 py-3"
                            [(ngModel)]="row.note"></textarea>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div class="flex space-x-4 rtl:space-x-reverse">
                            <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                                (click)="DeleteNewDetail(row.id)">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="absolute -top-[9999px] -left-[9999px]">
    <div id="Data" class="hidden">
        <app-pdf-print *ngIf="showPDF" [school]="{ 
                reportHeaderOneEn: 'Accounting Entries Report',
                reportHeaderTwoEn: 'Detailed accounting entries information',
                reportHeaderOneAr: 'تقرير القيود المحاسبية',
                reportHeaderTwoAr: 'معلومات تفصيلية عن القيود المحاسبية'
            }" [fileName]="'Accounting_Entries_Report'" [infoRows]="infoRows"
            [tableHeaders]="['id', 'Debit Amount', 'Credit Amount', 'Account Name', 'sub Account', 'Note']"
            [tableData]="accountingEntriesDetailsDataForPrint" #pdfComponentRef>
        </app-pdf-print>
    </div>
</div>