<div class="flex justify-between">
    <h1 class="primaryTxt font-semibold text-2xl leading-9"> {{ 'Fees Activation' | translate }}</h1>
</div>

<div class="flex justify-start  items-center mt-5 flex-wrap p-3">
    <div class="w-[31%] mr-5 mb-3">
        <label for="Schools" class=" mb-2 text-sm font-medium text-gray-900"> {{ 'School' | translate }}<span
                class="text-red-500 text-sm">*</span></label>
        <select id="Schools" [(ngModel)]="SchoolId" (change)="SchoolIsChanged($event)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5">
            <option [value]="0" disabled hidden> {{ 'Select a School' | translate }}</option>
            <option *ngFor="let S of Schools" [value]="S.id">{{ S.name }}</option>
        </select>
    </div>

    <div class="w-[31%] mr-5 mb-3">
        <label for="AcYear" class=" mb-2 text-sm font-medium"
            [ngClass]="{ 'text-gray-400': SchoolId == 0, 'text-gray-900': SchoolId }"> {{ 'Academic Year' | translate
            }}<span class="text-red-500 text-sm">*</span></label>
        <select id="AcYear" [(ngModel)]="YearId" [disabled]="SchoolId == 0" (change)="YearIsChanged($event)"
            [ngClass]="{ 'bg-[#EBEBEB]': SchoolId == 0 }"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5">
            <option [value]="0" disabled hidden> {{ 'Select a Year' | translate }}</option>
            <option *ngFor="let S of AcademicYears" [value]="S.id">{{ S.name }}</option>
        </select>
    </div>

    <div class="w-[31%] mr-5 mb-3">
        <label for="Sections" class=" mb-2 text-sm font-medium"
            [ngClass]="{ 'text-gray-400': SchoolId == 0, 'text-gray-900': SchoolId }"> {{ 'Section' | translate }} <span
                class="text-red-500 text-sm">*</span></label>
        <select id="Sections" [(ngModel)]="SectionId" [disabled]="SchoolId == 0" (change)="SectionIsChanged($event)"
            [ngClass]="{ 'bg-[#EBEBEB]': SchoolId == 0 }"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5">
            <option [value]="0" disabled hidden> {{ 'Select a Section' | translate }}</option>
            <option *ngFor="let S of Sections" [value]="S.id">{{ S.name }}</option>
        </select>
    </div>

    <div class="w-[31%] mr-5 mb-3">
        <label for="Grades" class=" mb-2 text-sm font-medium"
            [ngClass]="{ 'text-gray-400': SectionId == 0, 'text-gray-900': SectionId }"> {{ 'Grade' | translate }}<span
                class="text-red-500 text-sm">*</span></label>
        <select id="Grades" [(ngModel)]="GradeId" [disabled]="SectionId == 0" (change)="GradeIsChanged($event)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5">
            <option [value]="0" disabled hidden> {{ 'Select a Grade' | translate }}</option>
            <option *ngFor="let S of Grades" [value]="S.id">{{ S.name }}</option>
        </select>
    </div>

    <div class="w-[42%] mr-5 mb-3">
        <label for="ClassRooms" class=" mb-2 text-sm font-medium "
            [ngClass]="{ 'text-gray-400': GradeId == 0 || YearId == 0, 'text-gray-900': YearId != 0 && GradeId != 0 }">
            {{ 'Classroom' | translate }}</label>
        <select id="ClassRooms" [(ngModel)]="ClassRoomId" (change)="ClassRoomIsChanged($event)"
            [disabled]="GradeId == 0 || YearId == 0"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5">
            <option [value]="0" disabled hidden> {{ 'Select a Classroom' | translate }}</option>
            <option *ngFor="let S of ClassRooms" [value]="S.id">{{ S.name }}</option>
        </select>
    </div>

    <div class="w-[42%] mr-5 mb-3">
        <label for="Students" class=" mb-2 text-sm font-medium"
            [ngClass]="{ 'text-gray-400': ClassRoomId == 0, 'text-gray-900': ClassRoomId }"> {{ 'Students' | translate
            }}</label>
        <select id="Students" [(ngModel)]="StudentId" (change)="StudentChanged($event)" [disabled]="ClassRoomId == 0"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5">
            <option [value]="0" disabled hidden> {{ 'Select a Student' | translate }}</option>
            <option *ngFor="let S of Students" [value]="S.id">{{ S.en_name }}</option>
        </select>
    </div>

    <div class="w-[10%] mr-5 mb-3 flex items-center">
        <button (click)="Search()" class="font-medium text-white px-5 py-3 rounded-lg mt-4"
            [ngClass]="{'bg-gray-300': (SchoolId == 0 || SectionId == 0 || GradeId == 0 || YearId == 0), 'secondaryBg':(SchoolId != 0 && SectionId != 0 && GradeId != 0 && YearId != 0)}"
            [disabled]="SchoolId == 0 || SectionId == 0 || GradeId == 0 || YearId == 0">
            <span *ngIf="!isSearchLoading"> {{ 'Search' | translate }}</span>
            <i *ngIf="isSearchLoading" class="fas fa-spinner fa-spin"></i>
        </button>
    </div>

    <div *ngIf="SchoolId != 0 || SectionId != 0 || GradeId != 0 || YearId != 0" class="rounded-full p-2 border-4" (click)="clearFilter()">
        <i class="fa-solid fa-rotate-left secondaryTxt text-2xl w-8 h-8 text-center hover:cursor-pointer rounded-full"></i>
    </div>

</div>

<div *ngIf="IsSearch" class="flex justify-start mt-5 flex-wrap p-3 bg-[#F7F7F7]">

    <div class="w-[22%] mr-5 mb-3">
        <label for="FeesTypes" class=" mb-2 text-sm font-medium text-gray-900"> {{ 'Fees Types' | translate }}</label>
        <select [(ngModel)]="Fees.feeTypeID" (ngModelChange)="onInputValueChange({ field: 'feeTypeID', value: $event })"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5">
            <option [value]="0" disabled hidden> {{ 'Select a Type' | translate }}</option>
            <option *ngFor="let S of FeesTypes" [value]="S.id">{{ S.name }}</option>
        </select>
        <span *ngIf="validationErrors['feeTypeID']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["feeTypeID"]}}</span>
    </div>

    <div class="w-[22%] mr-5 mb-3">
        <label for="FeesDiscountType" class=" mb-2 text-sm font-medium text-gray-900"> {{ 'Fees Discount Type' |
            translate }}</label>
        <select [(ngModel)]="Fees.feeDiscountTypeID" [disabled]="SchoolId == 0"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5">
            <option [value]="0" disabled hidden> {{ 'Select a Type' | translate }}</option>
            <option *ngFor="let S of FeesDiscountType" [value]="S.id">{{ S.name }}</option>
        </select>
    </div>

    <div class="w-[22%] mr-5 mb-3">
        <label for="Grades" class=" mb-2 text-sm font-medium text-gray-900"> {{ 'Date' | translate }}</label>
        <input type="date" [(ngModel)]="Fees.date"
            (ngModelChange)="onInputValueChange({ field: 'date', value: $event })"
            class="w-full h-[45px] rounded-lg border border-solid border-gray-300 px-2"
            placeholder="{{ 'Enter date' | translate }}">
        <span *ngIf="validationErrors['date']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["date"]}}</span>
    </div>

    <div class="w-[20%] mr-5 mb-3">
        <label class="mb-2 text-sm font-medium text-gray-900"> {{ 'Amount' | translate }}</label>
        <input (input)="validateNumber($event, 'amount')" [(ngModel)]="Fees.amount" (input)="CalculateNet()"
            (ngModelChange)="onInputValueChange({ field: 'amount', value: $event })"
            class="w-full h-[45px] rounded-lg border border-solid border-gray-300 px-2"
            placeholder="{{ 'Enter Amount' | translate }}">
        <span *ngIf="validationErrors['amount']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["amount"]}}</span>
    </div>

    <div class="w-[20%] mr-5 mb-3">
        <label class="mb-2 text-sm font-medium text-gray-900"> {{ 'Discount Percentage' | translate }}</label>
        <input (input)="validateNumberForDiscount($event)" [(ngModel)]="DiscountPercentage"
            (input)="CalculateDiscountFromPercentage()"
            class="w-full h-[45px] rounded-lg border border-solid border-gray-300 px-2"
            placeholder="{{ 'Enter Percentage' | translate }}">
    </div>

    <div class="w-[20%] mr-5 mb-3">
        <label class="mb-2 text-sm font-medium text-gray-900"> {{ 'Discount' | translate }}</label>
        <input (input)="validateNumber($event, 'discount')" [(ngModel)]="Fees.discount"
            (input)="CalculatePercentageFromDiscount()"
            class="w-full h-[45px] rounded-lg border border-solid border-gray-300 px-2"
            placeholder="{{ 'Enter Discount' | translate }}">
    </div>

    <div class="w-[20%] mr-5 mb-3">
        <label class="mb-2 text-sm font-medium text-gray-900"> {{ 'Net' | translate }}</label>
        <input (input)="validateNumber($event, 'net')" [(ngModel)]="Fees.net" disabled
            class="w-full h-[45px] rounded-lg border border-solid border-gray-300 px-2"
            placeholder="{{ 'Enter Net' | translate }}" readonly>
    </div>

    <div class="w-[10%] mr-5 mb-3 flex items-center">
        <button (click)="Activate()" class="secondaryBg text-white font-medium px-5 py-3 rounded-lg mt-4">
            <span *ngIf="!isLoading">{{ 'Activation' | translate }}</span>
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
        </button>
    </div>

</div>

<div *ngIf="IsSearch">
    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD]">
        <table class="w-full tabe inset-0 bg-[#EBEBEB] text-left  rtl:text-right text-[#6F6F6F]">
            <thead class="bg-[#EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                <tr>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'ID' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Student Name' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Fees Types' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Fees Discount Type' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Amount' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Discount' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Net' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Date' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Actions' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- No Data Row -->
                <tr *ngIf="TableData.length === 0">
                    <td colspan="9"
                        class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                        {{ 'No Data Found' | translate }}
                    </td>
                </tr>

                <!-- Data Rows -->
                <tr *ngFor="let row of TableData; let i = index"
                    [ngClass]="{ 'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1 }"
                    class="border-t border-gray-300 text-xs md:text-sm">
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.feeActivationID }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.studentName}}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <ng-container *ngIf="editingRowId === row.feeActivationID; else textModeFeesTypes">
                            <select [(ngModel)]="row.feeTypeID"
                                class="w-full border border-gray-300 px-2 py-1 rounded-md">
                                <option *ngFor="let S of FeesTypes" [value]="S.id">{{ S.name }}</option>
                            </select>
                        </ng-container>
                        <ng-template #textModeFeesTypes>{{ row.feeTypeName }}</ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <ng-container *ngIf="editingRowId === row.feeActivationID; else textModeFeesDiscountType">
                            <select [(ngModel)]="row.feeDiscountTypeID"
                                class="w-full border border-gray-300 px-2 py-1 rounded-md">
                                <option *ngFor="let S of FeesDiscountType" [value]="S.id">{{ S.name }}</option>
                            </select>
                        </ng-container>
                        <ng-template #textModeFeesDiscountType>{{ row.feeDiscountTypeName }}</ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <ng-container *ngIf="editingRowId === row.feeActivationID; else textMode">
                            <input [(ngModel)]="row.amount" (input)="CalculateNetForEdit(row)"
                                class="w-full border border-gray-300 px-2 py-1 rounded-md">
                        </ng-container>
                        <ng-template #textMode>{{ row.amount }}</ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <ng-container *ngIf="editingRowId === row.feeActivationID; else textModeDiscount">
                            <input [(ngModel)]="row.discount" (input)="CalculateNetForEdit(row)"
                                class="w-full border border-gray-300 px-2 py-1 rounded-md">
                        </ng-container>
                        <ng-template #textModeDiscount>{{ row.discount }}</ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <ng-container *ngIf="editingRowId === row.feeActivationID; else textModeNet">
                            <input [(ngModel)]="row.net" class="w-full border border-gray-300 px-2 py-1 rounded-md"
                                readonly>
                        </ng-container>
                        <ng-template #textModeNet>{{ row.net }}</ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <ng-container *ngIf="editingRowId === row.feeActivationID; else textModeDate">
                            <input type="date" [(ngModel)]="row.date"
                                class="w-full border border-gray-300 px-2 py-1 rounded-md">
                        </ng-container>
                        <ng-template #textModeDate>{{ row.date }}</ng-template>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0"
                        *ngIf="row.feeActivationID != 0 && row.feeActivationID != null">
                        <div class="flex space-x-4 rtl:space-x-reverse">
                            <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                                (click)="Delete(row.feeActivationID)">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                            <button *ngIf="editingRowId === row.feeActivationID" (click)="Save(row)">
                                <i class="far fa-check-circle secondaryTxt"></i>
                            </button>
                            <button *ngIf="editingRowId !== row.feeActivationID" (click)="Edit(row.feeActivationID)">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>