<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
        <i class="fa-solid fa-chevron-left cursor-pointer" (click)="moveToViolation()"></i>
        <h1 class="primaryTxt font-semibold text-2xl leading-9">{{ 'Violation' | translate }}</h1>
    </div>
</div>

<div class="flex flex-wrap  mt-5">
    <div class="p-3 w-[30%]">
        <div class="bg-[#EBEBEB] p-3  mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3"> {{ 'Employee Type' | translate }}</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ violation.employeeTypeName }}</p>
        </div>
    </div>
    <div class="p-3 w-[30%]">
        <div class="bg-[#EBEBEB] p-3 mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3"> {{ 'Violation Type' | translate }}</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ violation.violationTypeName }}</p>
        </div>
    </div>
    <div class="p-3 w-[30%]">
        <div class="bg-[#EBEBEB] p-3 mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3">{{ 'Employee' | translate }}</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ violation.employeeEnglishName }}</p>
        </div>
    </div>
    <div class="p-3 w-[30%]">
        <div class="bg-[#EBEBEB] p-3 mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F] mb-3"> {{ 'Date' | translate }}</p>
            <p class="font-medium text-base text-[#1E1E1E]">{{ violation.date }}</p>
        </div>
    </div>
    <div class="w-full p-3">
        <div class="bg-[#EBEBEB] p-3 mb-4">
            <p class="font-semibold text-sm text-[#6F6F6F]"> {{ 'Details' | translate }}</p>
            <p class="font-medium text-base text-[#1E1E1E] break-words whitespace-pre-wrap">
                {{ violation.details }}
            </p>
        </div>
    </div>
</div>

<!-- <div *ngIf="violation.attach" class=" w-[30%] px-6 py-3 lg:py-5">
    <p class="font-semibold text-sm text-[#6F6F6F] mb-3">Attach</p>
    <img *ngIf="violation.attach" [src]="violation.attach" class="object-cover w-1/2">
</div> -->

<div *ngIf="violation.attach" class=" rounded-md border-dashed border-2 w-[30%] px-6 py-3 lg:py-5">
    <p class="font-semibold text-sm text-[#6F6F6F] mb-3">{{ 'File' | translate }}</p>
    <div class="flex justify-between items-center">
        <div class="flex items-center space-x-2 rtl:space-x-reverse">
            <i class="fa-solid fa-file"></i>
            <p class="text-sm font-medium text-gray-700 truncate max-w-[150px]">
                {{ violation.attach}}
            </p>
        </div>
    </div>
    <p class="secondaryTxt cursor-pointer hover:underline mt-2" (click)="openUrl(violation.attach)">
         {{ 'Click to' | translate }} {{ 'View' | translate }}
    </p>
</div>