<div class="p-6">
    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
        <!-- <i class="fa-solid fa-chevron-left cursor-pointer rtl:rotate-180 cursor-pointer" (click)="goBack()"></i> -->
        <h1 class="primaryTxt font-semibold text-2xl leading-9">{{ subjectName }}</h1>
    </div>
</div>        <div class="flex space-x-2">
            <button
                class="border border-[#089B41] text-[#089B41] text-xs px-3 py-2 rounded hover:bg-green-50 flex items-center"
                (click)="setActiveTab('resources')">
                <i class="fas fa-book mr-1 text-xs"></i>
                Resources
            </button>
            <button
                 class="border border-[#089B41] text-[#089B41] text-xs px-3 py-2 rounded hover:bg-green-50 flex items-center"
                (click)="navigateToAssignments(subjectName)">
                <i class="fas fa-clipboard-check mr-1 text-xs"></i>
                Assignments
            </button>
            <button
                class="border border-[#089B41] text-[#089B41] text-xs px-3 py-2 rounded hover:bg-green-50 flex items-center"
                (click)="navigateToLessonLive(subjectName)">
                <i class="fas fa-chalkboard-teacher mr-1 text-xs"></i>
                Lesson Live
            </button>
        </div>
    </div>

    <!-- Weeks List -->
    <div class="space-y-3">
        <div *ngFor="let week of weeks"
            class="border-b border-gray-400 bg-[#F7F7F7] hover:bg-gray-100 text-gray-800 px-4 py-3 rounded shadow-sm cursor-pointer transition"
            (click)="selectWeek(week)">
            {{ week }}
        </div>
    </div>
</div>