<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5">
        <i class="fa-solid fa-chevron-left cursor-pointer" (click)="moveToEmployee()"></i>
        <h1 class="primaryTxt font-semibold text-2xl leading-9">{{ Data.user_Name }}</h1>
    </div>
    <div class="flex justify-between items-center space-x-5">
        <button class="underline text-[#1E1E1E] cursor-pointer" (click)="SubjectTeacher()">
               {{ 'Subject Teacher' | translate }}
        </button>
        <button class="underline text-[#1E1E1E] cursor-pointer" (click)="SubjectCoTeacher()">
               {{ 'Subject Co-Teacher' | translate }}
        </button>
        <button (click)="edit()"
            class="bg-[#6F6F6F] text-white rounded-lg px-4 py-3 flex items-center justify-center gap-2">
               {{ 'Edit' | translate }}
        </button>
    </div>
</div>

<div class="flex flex-wrap justify-between mt-5">
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">   {{ 'English Name' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Data.en_name }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">   {{ 'Arabic Name' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Data.ar_name }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">   {{ 'Email' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Data.email }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3"> {{ 'Mobile' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Data.mobile }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3"> {{ 'Phone' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Data.phone }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">   {{ 'licenseNumber' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Data.licenseNumber }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">   {{ 'expireDate' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Data.expireDate }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">   {{ 'Address' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Data.address }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">   {{ 'Role Name' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Data.role_Name }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">{{ 'busCompanyName' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Data.busCompanyName }}</p>
    </div>
    <div class="bg-[#EBEBEB] p-3 w-[30%] mb-4">
        <p class="font-semibold text-sm text-[#6F6F6F] mb-3">{{ 'employeeTypeName' | translate }}</p>
        <p class="font-medium text-base text-[#1E1E1E]">{{ Data.employeeTypeName }}</p>
    </div>
</div>

<div class="flex align-middle space-x-2 mb-4 w-full">
  <input type="checkbox" id="canReceiveRequest" class="w-5 h-5" [checked]="Data.canReceiveRequest" disabled>
  <label class="mb-2" for="canReceiveRequest">   {{ 'Can Receive Request' | translate }}</label>
</div>

<div class="flex align-middle space-x-2 mb-4 w-full">
  <input type="checkbox" id="canReceiveMessage" class="w-5 h-5" [checked]="Data.canReceiveMessage" disabled>
  <label class="mb-2" for="canReceiveMessage">   {{ 'Can Receive Messages' | translate }}</label>
</div>
<div class="flex align-middle space-x-2 mb-4 w-full">
  <input type="checkbox" id="canReceiveRequestFromParentOrStudent" class="w-5 h-5" [checked]="Data.canReceiveRequestFromParent" disabled>
  <label class="mb-2" for="canReceiveRequestFromParentOrStudent">   {{ 'Can Receive Request From Parent Or Student' | translate }}</label>
</div>

<div class="flex align-middle space-x-2 mb-4 w-full">
  <input type="checkbox" id="canReceiveMessageFromParentOrStudent" class="w-5 h-5" [checked]="Data.canReceiveMessageFromParent" disabled>
  <label class="mb-2" for="canReceiveMessageFromParentOrStudent">   {{ 'Can Receive Messages From Parent Or Student' | translate }}</label>
</div>

<div class="flex align-middle space-x-2 mb-4 w-full items-center justify-between">
    <div class="flex align-middle w-[49%] space-x-2">
        <input type="checkbox" id="isFloorMonitor" class="w-5 h-5" [(ngModel)]="isFloorMonitor" disabled>
        <label class="mb-2" for="isFloorMonitor">   {{ 'Floor Monitor' | translate }}</label>
    </div>
    <div class="flex flex-col mb-4 w-[49%]" *ngIf="isFloorMonitor">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="ac"> {{ 'Floors' | translate }}</label>
        <div class="relative">
            <div class="border border-gray-300 rounded-lg px-4 py-3 cursor-pointer min-h-[48px]"
                tabindex="0">
                <ng-container *ngIf="floorsSelected.length > 0; else placeholder">
                    <div class="flex flex-wrap">
                        <span class="mr-2 mb-1 bg-gray-200 px-3 py-1 rounded-full text-sm flex items-center"
                            *ngFor="let selected of floorsSelected">
                            {{ selected.name }}
                        </span>
                    </div>
                </ng-container>
                <ng-template #placeholder>
                    <span class="text-gray-400">   {{ 'Choose Tag' | translate }}</span>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<div class="flex align-middle space-x-2 mb-4 w-full items-center justify-between">
    <div class="flex align-middle w-[49%] space-x-2">
        <input type="checkbox" id="isGradeSupervisor" class="w-5 h-5" [(ngModel)]="isGradeSupervisor" disabled>
        <label class="mb-2" for="isGradeSupervisor">   {{ 'Grade Supervisor' | translate }}</label>
    </div>
    <div class="flex flex-col mb-4 w-[49%]" *ngIf="isGradeSupervisor">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="ac">   {{ 'Grades' | translate }}</label>
        <div class="relative">
            <div class="border border-gray-300 rounded-lg px-4 py-3 cursor-pointer min-h-[48px]"
               tabindex="0">
                <ng-container *ngIf="gradeSelected.length > 0; else placeholder">
                    <div class="flex flex-wrap">
                        <span class="mr-2 mb-1 bg-gray-200 px-3 py-1 rounded-full text-sm flex items-center"
                            *ngFor="let selected of gradeSelected">
                            {{ selected.name }}
                        </span>
                    </div>
                </ng-container>
                <ng-template #placeholder>
                    <span class="text-gray-400">   {{ 'Choose Tag' | translate }}</span>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<div class="flex align-middle space-x-2 mb-4 w-full items-center justify-between">
    <div class="flex align-middle w-[49%] space-x-2">
        <input type="checkbox" id="isSubjectSupervisor" class="w-5 h-5" [(ngModel)]="isSubjectSupervisor" disabled> 
        <label class="mb-2" for="isSubjectSupervisor">   {{ 'Subject Supervisor' | translate }}</label>
    </div>
    <div class="flex flex-col mb-4 w-[49%]" *ngIf="isSubjectSupervisor">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="ac">   {{ 'Subjects' | translate }}</label>
        <div class="relative">
            <div class="border border-gray-300 rounded-lg px-4 py-3 cursor-pointer min-h-[48px]"
                tabindex="0">
                <ng-container *ngIf="subjectSelected.length > 0; else placeholder">
                    <div class="flex flex-wrap">
                        <span class="mr-2 mb-1 bg-gray-200 px-3 py-1 rounded-full text-sm flex items-center"
                            *ngFor="let selected of subjectSelected">
                            {{ selected.en_name }}
                        </span>
                    </div>
                </ng-container>
                <ng-template #placeholder>
                    <span class="text-gray-400">   {{ 'Choose Tag' | translate }}</span>
                </ng-template>
            </div>
        </div>
    </div>
</div>


<div *ngIf="AllowEdit && IsAllowEdit()" class="w-full md:w-1/2">
    <p class="font-semibold text-xs md:text-sm text-[#909090] mb-2"> {{ 'Password' | translate }}</p>
    <button *ngIf="!isChange" class="bg-[#089B41] text-white p-2 rounded-lg text-sm md:text-base"
        (click)="toggleChangePassword()">   {{ 'Change Password' | translate }}</button>
    <button *ngIf="isChange" class="bg-[#089B41] text-white p-2 rounded-lg text-sm md:text-base"
        (click)="UpdatePassword()"> {{ 'Update' | translate }}</button>
    <button *ngIf="isChange" class="bg-[#17253E] text-white p-2 rounded-lg text-sm md:text-base ml-3"
        (click)="CancelUpdatePassword()">   {{ 'Cancel' | translate }}</button>

    <input *ngIf="isChange" type="text" class="w-full p-2 md:p-4 border border-[#E5E5EA] rounded-xl mt-2"
        (input)="onoldPasswordChange()" 
        placeholder="{{ 'Enter old password' | translate }}"
 [(ngModel)]="editpasss.oldPassword">
    <span *ngIf="OldPasswordError" class="text-red-500 text-sm font-normal">{{ OldPasswordError }}</span>
    <input *ngIf="isChange" type="text" class="w-full p-2 md:p-4 border border-[#E5E5EA] rounded-xl mt-2"
       
    placeholder="{{ 'Enter the password' | translate }}"
 (input)="onPasswordChange()" [(ngModel)]="password">
    <span *ngIf="PasswordError" class="text-red-500 text-sm font-normal">{{ PasswordError }}</span>
    <input *ngIf="isChange" type="text" class="w-full p-2 md:p-4 border border-[#E5E5EA] rounded-xl mt-2"
        
  placeholder="{{ 'Enter the password again' | translate }}"
  [(ngModel)]="confirmPassword">
</div>

<div *ngIf="Data.files.length > 0" class="bg-white p-4 rounded-lg">
    <div class="flex flex-wrap gap-4">
        <div *ngFor="let file of Data.files; let i = index" class="flex w-full items-center gap-4 mb-4">
            <div class="flex flex-col w-[34%]">
                <h1 class="text-sm font-semibold mb-2">   {{ 'Name' | translate }}</h1>
                <p class="text-sm font-medium text-gray-700 mb-4">{{ file.name }}</p>
                <div class="border border-cacaca rounded-lg p-6">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center space-x-2">
                            <i class="fa-solid fa-file"></i>
                            <p class="text-sm font-medium text-gray-700 truncate max-w-[150px]">{{ file.name }}</p>
                        </div>
                    </div> 
                    <p class="secondaryTxt cursor-pointer hover:underline mt-2" (click)="downloadFile(file)">
                           {{ 'Click to Download' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>