@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
    font-family: "Poppins", sans-serif;
}

.primaryBg{
    background-color: #2E3646;
}

.primaryTxt{
    color: #2E3646;
}

.secondaryBg{
    background-color: #FF7519;
}

.secondaryTxt{
    color: #FF7519;
}

.secondaryBorder {
    border: 1px solid #FF7519;
}

.grayBorder {
    border: 1px solid #6F6F6F;
}

/* .Primary{
    background-color: var(--bg-color);
    color: var(--text-color);
} */

/*
    NOTE ==> How to write it i the TS
    document.documentElement.style.setProperty('--bg-color', backgroundColor);
    document.documentElement.style.setProperty('--text-color', textColor);
*/

html[dir='rtl'] {
    direction: rtl;
    text-align: right;
}

* [dir='rtl'] {
    direction: rtl;
    text-align: right;
}


.quill-editor-wrapper .ql-container { 
    height: auto !important; /* override Quill's height */ 
    font-style:normal !important;
}

.quill-editor-wrapper .ql-editor {
    min-height: 200px; 
}

.square-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #FF7519;
    background-color: transparent;

    display: inline-block; /* Ensure it's treated like a block element */
    vertical-align: middle; /* Helps with vertical alignment */
    position: relative;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove padding if any */
}

.square-radio:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Perfectly center the dot */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FF7519;
}
  