<!-- Modal Overlay -->
<div id="modal-overlay"
    class="fixed top-0 left-0 right-0 z-50 flex justify-center items-center w-full h-full bg-black/50"
    (click)="closeModal()">
    <div class="relative bg-white w-[669px] h-[257px] rounded-2xl p-8 flex flex-col gap-6 shadow-md"
        (click)="$event.stopPropagation()">
        <!-- Close Button -->
        <button (click)="closeModal()"
            class="absolute top-4 right-4 text-gray-400 hover:text-gray-600 transition-colors space-x-2 rtl:space-x-reverse rtl:right-auto rtl:left-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

        <!-- Modal Header -->
        <h1 class="font-semibold text-2xl leading-9">{{ isEditMode ? 'Edit ' + title : title }}</h1>

        <!-- Modal Body -->
        <div class="bg-gray-100 px-5 py-3 rounded-3xl flex items-center gap-4 w-full">
            <ng-content></ng-content>
            <button
                class="text-white font-medium px-5 py-3 rounded-xl text-lg transition-colors hover:bg-[#FF8C42] disabled:opacity-50 disabled:cursor-not-allowed"
                style="background-color: #089B41;" (click)="onSave()" [disabled]="isLoading">
                {{ isLoading ? 'Saving...' : buttonText }}
            </button>
        </div>
    </div>
</div>