<div class="">
    <div class="flex justify-between items-center">
        <h1 class="primaryTxt font-semibold text-2xl leading-9">Conduct</h1>
        <div class="flex justify-between items-center">
            <app-search *ngIf="SelectedSchoolId!=0" [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
            <button (click)="Create()"
                class="rounded-lg secondaryBorder secondaryTxt px-4 py-3 flex items-center justify-center gap-2">
                Create Conduct Type
            </button>
        </div>
    </div>

    <div class="flex justify-start items-center space-x-4 rtl:space-x-reverse">
        <div class="w-full">
            <label for="SelectedSchoolId" class="block mb-2 text-sm font-medium text-gray-900">School</label>
            <select id="SelectedSchoolId"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
                [(ngModel)]="SelectedSchoolId" (change)="GetAllData();">
                <option value=0 disabled selected hidden> Select School</option>
                <option *ngFor="let stu of schools" [value]="stu.id">
                    {{ stu.name }}
                </option>
                <option *ngIf="schools.length === 0" disabled selected>No Data Found</option>
            </select>
        </div>
    </div>

    <div *ngIf="SelectedSchoolId!=0">
        <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD]">
            <table class="w-full tabe inset-0 bg-[#EBEBEB] text-left text-[#6F6F6F]">
                <thead class="bg-[#EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                    <tr>
                        <th
                            class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            ID
                        </th>
                        <th
                            class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            Student 
                        </th>
                        <th
                            class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            Conduct Type
                        </th>
                        <th
                            class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            Date
                        </th>
                        <th
                            class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- No Data Row -->
                    <tr *ngIf="TableData.length === 0">
                        <td colspan="6"
                            class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                            No Data Found
                        </td>
                    </tr>
                    <!-- Data Rows -->
                    <tr *ngFor="let row of TableData; let i = index"
                        [ngClass]="{ 'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1 }"
                        class="border-t border-gray-300 text-xs md:text-sm">
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            {{ row.id }}
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            {{ row.studentName }}
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            {{ row.conductTypeName }}
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            {{ row.insertedAt | date:'yyyy-MM-dd' }}
                        </td>
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <div class="flex space-x-4">
                                <button (click)="Delete(row.id)">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                                <button (click)="Edit(row.id)">
                                    <i class="fa-solid fa-pencil"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
