/****** Object:  UserDefinedFunction [dbo].[EntriesFun]    Script Date: 7/29/2025 10:19:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER function [dbo].[EntriesFun](
	@DateFrom Date,
	@DateTo Date,
	@MainAccNo BIGINT = 0,
	@SubAccNo BIGINT = 0,
	@linkFileID BIGINT = NULL
  )
  Returns Table
  As
 Return (
 --============================Accounting Entries============================
		SELECT AEM.ID MasterID, AED.ID DetailsID, 
			ATC.Name Account, 
			--ATC.ID ATC_ID, 'Entries' TBL, 
			AEM.ID Serial,
			CASE WHEN @MainAccNo > 0 THEN 0 ELSE ATC.ID END AS MainAccountNo,
			CASE WHEN @MainAccNo > 0 THEN '' ELSE ATC.Name END AS MainAccount,
			CASE WHEN @SubAccNo > 0 THEN 0 ELSE SA.SubAccountNo END AS SubAccountNo,

			SA.SubAccountName SubAccount,
				
			ISNull(AED.CreditAmount, 0) Credit, ISNULL(AED.DebitAmount, 0) Debit, 

			0 Balance,
			TRY_CONVERT(DATE, AEM.Date) Date,
			LF.ID LinkFileID,
			AEM.Notes
		FROM AccountingEntriesMaster AEM
		LEFT JOIN AccountingEntriesDetails AED ON AED.AccountingEntriesMasterID = AEM.ID
		LEFT JOIN AccountingTreeCharts ATC ON AED.AccountingTreeChartID = ATC.ID
		LEFT JOIN LinkFile LF ON LF.ID = ATC.LinkFileID
		OUTER APPLY dbo.GetSubAccountInfo(LF.ID, AED.SubAccountingID) SA
		WHERE ISNULL(AEM.IsDeleted, 0) = 0
			AND ISNULL(AED.IsDeleted, 0) = 0
			AND (@DateFrom IS NULL OR TRY_CONVERT(DATE, AEM.Date) >= @DateFrom)
			AND (@DateTo IS NULL OR TRY_CONVERT(DATE, AEM.Date) < DATEADD(DAY, 1, @DateTo))
			AND (
			(@MainAccNo = 0 AND @SubAccNo = 0)
			OR (ATC.ID = @MainAccNo AND AED.SubAccountingID = @SubAccNo)) 

		union all
 --============================Sales============================
		Select IM.ID MasterID, ID.ID DetailsID, 
			ATC.Name Account,
			--ATC.ID, 'Sales1' TBL, 
			IM.ID Serial,
			CASE WHEN @MainAccNo > 0 THEN 0 ELSE ATC.ID END AS MainAccountNo,
			CASE WHEN @MainAccNo > 0 THEN '' ELSE ATC.Name END AS MainAccount,
			0 SubAccountNo, 
			CASE WHEN @MainAccNo > 0 THEN S.en_name ELSE ATC.Name END AS SubAccount,
			0 Credit,
			ID.TotalPrice Debit, 
			0 Balance,
			IM.Date Date,
			LF.ID LinkFileID,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join Student S on S.ID = IM.StudentID
		left Join AccountingConfigs AC on AC.ID = 1
		left Join AccountingTreeCharts ATC on ATC.ID = AC.SalesID 
		left Join InventoryFlags IFs on IFs.ID = IM.FlagId
		left Join LinkFile LF on LF.ID = ATC.LinkFileID
		WHERE IM.FlagId = 11
			and (ISNULL(IM.IsDeleted, 0) <> 1)
			AND ISNULL(ID.IsDeleted, 0) <> 1
			AND (@DateFrom IS NULL OR Date >= @DateFrom)
			AND (@DateTo IS NULL OR Date < DATEADD(DAY, 1, @DateTo))
			AND Date >= ISNULL(@DateFrom, '19000101') AND Date < DATEADD(DAY, 1, ISNULL(@DateTo, '99991231'))
			AND (
			(@MainAccNo = 0 AND @SubAccNo = 0) -- No filter, return all
			OR (ATC.ID = @MainAccNo AND S.ID = @SubAccNo)) -- Match both

		union all

		Select IM.ID MasterID, ID.ID DetailsID, 
			ATC.Name Account, 
			--ATC.ID, 'Sales2' TBL, 
			IM.ID Serial,
			ATC.ID MainAccountNo, LF.Name MainAccount, 
			SA.SubAccountNo SubAccountNo, 
			SA.SubAccountName SubAccount,
			ID.TotalPrice Credit,
			0 Debit,
			0 Balance,
			IM.Date Date,
			LF.ID LinkFileID,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join Student S on S.ID = IM.StudentID
		left Join AccountingConfigs AC on AC.ID = 1
		left Join AccountingTreeCharts ATC on ATC.ID = AC.SalesID 
		left Join InventoryFlags IFs on IFs.ID = IM.FlagId
		left Join LinkFile LF on LF.ID = 13
		OUTER APPLY dbo.GetSubAccountInfo(13, S.ID) SA
		WHERE IM.FlagId = 11
			and (ISNULL(IM.IsDeleted, 0) <> 1)
			AND ISNULL(ID.IsDeleted, 0) <> 1
			AND (@DateFrom IS NULL OR Date >= @DateFrom)
			AND (@DateTo IS NULL OR Date < DATEADD(DAY, 1, @DateTo))
			AND @MainAccNo = 0 AND @SubAccNo = 0
  
		--============================Purchases============================
		union all

		Select IM.ID MasterID, ID.ID DetailsID, 
			ATC.Name Account,
			--ATC.ID, 'Purchases1' TBL, 
			IM.ID Serial,
			CASE WHEN @MainAccNo > 0 THEN 0 ELSE ATC.ID END AS MainAccountNo,
			CASE WHEN @MainAccNo > 0 THEN '' ELSE ATC.Name END AS MainAccount,
			0 SubAccountNo, 
			CASE WHEN @MainAccNo > 0 THEN S.Name ELSE ATC.Name END AS SubAccount,
			ID.TotalPrice Credit,
			0 Debit,
			0 Balance,
			IM.Date Date,
			LF.ID LinkFileID,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join Suppliers S on S.ID = IM.SupplierId
		left Join AccountingConfigs AC on AC.ID = 1
		left Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseID 
		left Join InventoryFlags IFs on IFs.ID = IM.FlagId
		left Join LinkFile LF on LF.ID = ATC.LinkFileID
		WHERE IM.FlagId = 9
			and (ISNULL(IM.IsDeleted, 0) <> 1)
			AND ISNULL(ID.IsDeleted, 0) <> 1
			AND (@DateFrom IS NULL OR Date >= @DateFrom)
			AND (@DateTo IS NULL OR Date < DATEADD(DAY, 1, @DateTo))
			AND Date >= ISNULL(@DateFrom, '19000101') AND Date < DATEADD(DAY, 1, ISNULL(@DateTo, '99991231'))
			AND (
			(@MainAccNo = 0 AND @SubAccNo = 0) -- No filter, return all
			OR (ATC.ID = @MainAccNo AND S.ID = @SubAccNo)) -- Match both

		union all

		Select IM.ID MasterID, ID.ID DetailsID, 
			ATC.Name Account, 
			--ATC.ID, 'Purchases2' TBL, 
			IM.ID Serial,
			ATC.ID MainAccountNo, LF.Name MainAccount, 
			SA.SubAccountNo SubAccountNo, 
			SA.SubAccountName SubAccount,
			0 Credit,
			ID.TotalPrice Debit,
			0 Balance,
			IM.Date Date,
			LF.ID LinkFileID,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join Suppliers S on S.ID = IM.SupplierId
		left Join AccountingConfigs AC on AC.ID = 1
		left Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseID 
		left Join InventoryFlags IFs on IFs.ID = IM.FlagId
		left Join LinkFile LF on LF.ID = 2
		OUTER APPLY dbo.GetSubAccountInfo(2, S.ID) SA
		WHERE IM.FlagId = 9
			and (ISNULL(IM.IsDeleted, 0) <> 1)
			AND ISNULL(ID.IsDeleted, 0) <> 1
			AND (@DateFrom IS NULL OR Date >= @DateFrom)
			AND (@DateTo IS NULL OR Date < DATEADD(DAY, 1, @DateTo))
			AND @MainAccNo = 0 AND @SubAccNo = 0
  
		--============================Sales Returns============================
		union all

		Select IM.ID MasterID, ID.ID DetailsID, 
			ATC.Name Account,
			--ATC.ID, 'SalesReturns1' TBL, 
			IM.ID Serial,
			CASE WHEN @MainAccNo > 0 THEN 0 ELSE ATC.ID END AS MainAccountNo,
			CASE WHEN @MainAccNo > 0 THEN '' ELSE ATC.Name END AS MainAccount,
			0 SubAccountNo, 
			CASE WHEN @MainAccNo > 0 THEN S.en_name ELSE ATC.Name END AS SubAccount,
			ID.TotalPrice Credit,
			0 Debit, 
			0 Balance,
			IM.Date Date,
			LF.ID LinkFileID,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join Student S on S.ID = IM.StudentID
		left Join AccountingConfigs AC on AC.ID = 1
		left Join AccountingTreeCharts ATC on ATC.ID = AC.SalesReturnID 
		left Join InventoryFlags IFs on IFs.ID = IM.FlagId
		left Join LinkFile LF on LF.ID = ATC.LinkFileID
		WHERE IM.FlagId = 12
			and (ISNULL(IM.IsDeleted, 0) <> 1)
			AND ISNULL(ID.IsDeleted, 0) <> 1
			AND (@DateFrom IS NULL OR Date >= @DateFrom)
			AND (@DateTo IS NULL OR Date < DATEADD(DAY, 1, @DateTo))
			AND Date >= ISNULL(@DateFrom, '19000101') AND Date < DATEADD(DAY, 1, ISNULL(@DateTo, '99991231'))
			AND (
			(@MainAccNo = 0 AND @SubAccNo = 0) -- No filter, return all
			OR (ATC.ID = @MainAccNo AND S.ID = @SubAccNo)) -- Match both

		union all

		Select IM.ID MasterID, ID.ID DetailsID, 
			ATC.Name Account, 
			--ATC.ID, 'SalesReturns2' TBL, 
			IM.ID Serial,
			ATC.ID MainAccountNo, LF.Name MainAccount, 
			SA.SubAccountNo SubAccountNo, 
			SA.SubAccountName SubAccount,
			0 Credit,
			ID.TotalPrice Debit,
			0 Balance,
			IM.Date Date,
			LF.ID LinkFileID,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join Student S on S.ID = IM.StudentID
		left Join AccountingConfigs AC on AC.ID = 1
		left Join AccountingTreeCharts ATC on ATC.ID = AC.SalesReturnID 
		left Join InventoryFlags IFs on IFs.ID = IM.FlagId
		left Join LinkFile LF on LF.ID = 13
		OUTER APPLY dbo.GetSubAccountInfo(13, S.ID) SA
		WHERE IM.FlagId = 12
			and (ISNULL(IM.IsDeleted, 0) <> 1)
			AND ISNULL(ID.IsDeleted, 0) <> 1
			AND (@DateFrom IS NULL OR Date >= @DateFrom)
			AND (@DateTo IS NULL OR Date < DATEADD(DAY, 1, @DateTo))
			AND @MainAccNo = 0 AND @SubAccNo = 0

		--============================Purchases Returns============================
		union all

		Select IM.ID MasterID, ID.ID DetailsID, 
			ATC.Name Account,
			--ATC.ID ATC_ID, 'PurchasesReturns1' TBL, 
			IM.ID Serial,
			CASE WHEN @MainAccNo > 0 THEN 0 ELSE ATC.ID END AS MainAccountNo,
			CASE WHEN @MainAccNo > 0 THEN '' ELSE ATC.Name END AS MainAccount,
			0 SubAccountNo, 
			CASE WHEN @MainAccNo > 0 THEN S.Name ELSE ATC.Name END AS SubAccount,
			0 Credit,
			ID.TotalPrice Debit, 
			0 Balance,
			IM.Date Date,
			LF.ID LinkFileID,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join Suppliers S on S.ID = IM.SupplierId
		left Join AccountingConfigs AC on AC.ID = 1
		left Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseReturnID 
		left Join InventoryFlags IFs on IFs.ID = IM.FlagId
		left Join LinkFile LF on LF.ID = ATC.LinkFileID
		WHERE IM.FlagId = 10
			and (ISNULL(IM.IsDeleted, 0) <> 1)
			AND ISNULL(ID.IsDeleted, 0) <> 1
			AND (@DateFrom IS NULL OR Date >= @DateFrom)
			AND (@DateTo IS NULL OR Date < DATEADD(DAY, 1, @DateTo))
			AND Date >= ISNULL(@DateFrom, '19000101') AND Date < DATEADD(DAY, 1, ISNULL(@DateTo, '99991231'))
			AND (
			(@MainAccNo = 0 AND @SubAccNo = 0) -- No filter, return all
			OR (ATC.ID = @MainAccNo AND S.ID = @SubAccNo)) -- Match both

		union all

		Select IM.ID MasterID, ID.ID DetailsID, 
			ATC.Name Account, 
			--ATC.ID ATC_ID, 'PurchasesReturns2' TBL, 
			IM.ID Serial,
			ATC.ID MainAccountNo, LF.Name MainAccount, 
			SA.SubAccountNo SubAccountNo, 
			SA.SubAccountName SubAccount,
			ID.TotalPrice Credit,
			0 Debit,
			0 Balance,
			IM.Date Date,
			LF.ID LinkFileID,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join Suppliers S on S.ID = IM.SupplierId
		left Join AccountingConfigs AC on AC.ID = 1
		left Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseReturnID 
		left Join InventoryFlags IFs on IFs.ID = IM.FlagId
		left Join LinkFile LF on LF.ID = 2
		OUTER APPLY dbo.GetSubAccountInfo(2, S.ID) SA
		WHERE IM.FlagId = 10
			and (ISNULL(IM.IsDeleted, 0) <> 1)
			AND ISNULL(ID.IsDeleted, 0) <> 1
			AND (@DateFrom IS NULL OR Date >= @DateFrom)
			AND (@DateTo IS NULL OR Date < DATEADD(DAY, 1, @DateTo))
			AND @MainAccNo = 0 AND @SubAccNo = 0

	--============================Payables============================
		union all

		Select PM.ID MasterID, PD.ID DetailsID, 
			ATC.Name Account, 
			--ATC.ID ATC_ID, 'Payables Suppliers' TBL,
			PM.ID Serial,
			0 MainAccountNo,
			'' MainAccount,
			0 SubAccountNo, 
			SA.SubAccountName SubAccount, 
			PD.Amount Credit,
			0 Debit, 
			0 Balance,
			PM.Date Date,
			LF.ID LinkFileID,
			PM.Notes
		From PayableDetails PD
			left Join PayableMaster PM on PD.PayableMasterID = PM.ID
			LEFT JOIN Suppliers S ON S.ID = PD.LinkFileTypeID
			LEFT JOIN AccountingTreeCharts ATC ON ATC.ID = @MainAccNo
			LEFT JOIN LinkFile LF ON LF.ID = PD.LinkFileID
			OUTER APPLY dbo.GetSubAccountInfo(PD.LinkFileID, S.ID) SA
		WHERE (ISNULL(PM.IsDeleted, 0) <> 1)
			AND ISNULL(PD.IsDeleted, 0) <> 1
			AND (@DateFrom IS NULL OR Date >= @DateFrom)
			AND (@DateTo IS NULL OR Date < DATEADD(DAY, 1, @DateTo))
			AND (--@MainAccNo = 0 OR 
			ATC.ID = @MainAccNo)
			AND (--@SubAccNo = 0 OR 
			SA.SubAccountNo = @SubAccNo)
			AND (--@LinkFileID = 0 OR 
			LF.ID = @LinkFileID)
			--AND ((@MainAccNo = 0 AND @SubAccNo = 0)
			--AND (ATC.ID = @MainAccNo AND S.ID = @SubAccNo) 

	--	union all
	----============================Receivables============================
	--	SELECT RM.ID MasterID, RD.ID DetailsID, 
	--		ATC.Name Account,
	--		--ATC.ID ATC_ID, 'Receivables Saves' TBL,
	--		RM.ID Serial,
	--		0 MainAccountNo,
	--		'' MainAccount,
	--		0 SubAccountNo,
	--		SA.SubAccountName SubAccount,
	--		RD.Amount Credit,
	--		0 Debit, 
	--		0 Balance,
	--		TRY_CONVERT(DATE, RM.Date) AS Date,
	--		LF.ID LinkFileID,
	--		RM.Notes
	--	FROM ReceivableMaster RM
	--		LEFT JOIN ReceivableDetails RD ON RD.ReceivableMasterID = RM.ID
	--		LEFT JOIN Saves S ON S.ID = RM.BankOrSaveID
	--		LEFT JOIN AccountingTreeCharts ATC ON ATC.ID = @MainAccNo
	--		LEFT JOIN LinkFile LF ON LF.ID = @linkFileID
	--		LEFT JOIN dbo.vUnifiedSubAccounts SA ON SA.LinkFileID = RD.LinkFileID AND SA.SubAccountNo = RD.LinkFileTypeID
	--		--LEFT JOIN dbo.vUnifiedSubAccounts MA ON MA.LinkFileID = RM.LinkFileID AND MA.SubAccountNo = RM.BankOrSaveID
	--	WHERE ISNULL(RM.IsDeleted, 0) = 0
	--		AND ISNULL(RD.IsDeleted, 0) = 0
	--		AND (@DateFrom IS NULL OR TRY_CONVERT(DATE, RM.Date) >= @DateFrom)
	--		AND (@DateTo IS NULL OR TRY_CONVERT(DATE, RM.Date) < DATEADD(DAY, 1, @DateTo))
	--		AND Date >= ISNULL(@DateFrom, '19000101') AND Date < DATEADD(DAY, 1, ISNULL(@DateTo, '99991231'))
	--		--AND ((@MainAccNo = 0 AND @SubAccNo = 0) 
	--		--AND (ATC.ID = @MainAccNo AND S.ID = @SubAccNo)
  );