CREATE OR ALTER   function [dbo].[EntriesFun](
	@DateFrom Date,
	@DateTo Date
  )
  Returns Table
  As
 Return (
 --============================Accounting Entries============================
		SELECT AED.AccountingTreeChartID MainAccNo,
			AED.SubAccountingID MainSubAccNo,
			AEM.ID Serial,
			0 SubAccNo,
			0 SubSubAccNo,
			AEM.DocNumber InvoiceNumber,
			ISNull(AED.CreditAmount, 0) Credit, 
			ISNULL(AED.DebitAmount, 0) Debit, 
			AEM.Date Date,
			AEM.Notes
		FROM AccountingEntriesMaster AEM
		LEFT JOIN AccountingEntriesDetails AED ON AED.AccountingEntriesMasterID = AEM.ID
		WHERE (AEM.IsDeleted = 0 OR AEM.IsDeleted IS NULL)
			AND (AED.IsDeleted = 0 OR AED.IsDeleted IS NULL)
			AND AEM.Date >= ISNULL(@DateFrom, '19000101') 
			AND AEM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

		union all
 --============================Sales============================
		Select AC.SalesID MainAccNo,
			0 MainSubAccNo,
			IM.ID Serial,
			0 SubAccNo,
			0 SubSubAccNo, 
			IM.InvoiceNumber InvoiceNumber,
			ID.TotalPrice Credit,
			0 Debit, 
			IM.Date Date,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join AccountingConfigs AC on AC.ID = 1
		WHERE IM.FlagId = 11
			AND (IM.IsDeleted = 0 OR IM.IsDeleted IS NULL)
			AND (ID.IsDeleted = 0 OR ID.IsDeleted IS NULL)
			AND IM.Date >= ISNULL(@DateFrom, '19000101') 
			AND IM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

		union all

		Select AC.SalesID MainAccNo,
			IM.StudentID MainSubAccNo,
			IM.ID Serial,
			SAI.AccountID SubAccNo, 
			0 SubSubAccNo, 
			IM.InvoiceNumber InvoiceNumber,
			0 Credit,
			ID.TotalPrice Debit,
			IM.Date Date,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join AccountingConfigs AC on AC.ID = 1
		OUTER APPLY GetSubAccountInfo(13, IM.StudentID) SAI
		WHERE IM.FlagId = 11
			AND (IM.IsDeleted = 0 OR IM.IsDeleted IS NULL)
			AND (ID.IsDeleted = 0 OR ID.IsDeleted IS NULL)
			AND IM.Date >= ISNULL(@DateFrom, '19000101') 
			AND IM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))
  
--============================Purchases============================
		union all

		Select AC.PurchaseID MainAccNo,
			0 MainSubAccNo,
			IM.ID Serial,
			0 SubAccNo,
			0 SubSubAccNo, 
			IM.InvoiceNumber InvoiceNumber,
			ID.TotalPrice Credit,
			0 Debit,
			IM.Date Date,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join AccountingConfigs AC on AC.ID = 1
		WHERE IM.FlagId = 9
			AND (IM.IsDeleted = 0 OR IM.IsDeleted IS NULL)
			AND (ID.IsDeleted = 0 OR ID.IsDeleted IS NULL)
			AND IM.Date >= ISNULL(@DateFrom, '19000101') 
			AND IM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

		union all

		Select AC.PurchaseID MainAccNo,
			IM.SupplierId MainSubAccNo,
			IM.ID Serial,
			SAI.AccountID SubAccNo,  
			0 SubSubAccNo, 
			IM.InvoiceNumber InvoiceNumber,
			0 Credit,
			ID.TotalPrice Debit,
			IM.Date Date,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join AccountingConfigs AC on AC.ID = 1
		OUTER APPLY GetSubAccountInfo(2, IM.SupplierId) SAI
		WHERE IM.FlagId = 9
			AND (IM.IsDeleted = 0 OR IM.IsDeleted IS NULL)
			AND (ID.IsDeleted = 0 OR ID.IsDeleted IS NULL)
			AND IM.Date >= ISNULL(@DateFrom, '19000101') 
			AND IM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))
  
--============================Sales Returns============================
		union all

		Select AC.SalesReturnID MainAccNo,
			0 MainSubAccNo,
			IM.ID Serial,
			0 SubAccNo, 
			0 SubSubAccNo,
			IM.InvoiceNumber InvoiceNumber,
			0 Credit,
			ID.TotalPrice Debit, 
			IM.Date Date,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join AccountingConfigs AC on AC.ID = 1
		WHERE IM.FlagId = 12
			AND (IM.IsDeleted = 0 OR IM.IsDeleted IS NULL)
			AND (ID.IsDeleted = 0 OR ID.IsDeleted IS NULL)
			AND IM.Date >= ISNULL(@DateFrom, '19000101') 
			AND IM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

		union all

		Select AC.SalesReturnID MainAccNo,
			IM.StudentID MainSubAccNo,
			IM.ID Serial,
			SAI.AccountID SubAccNo, 
			0 SubSubAccNo, 
			IM.InvoiceNumber InvoiceNumber,
			ID.TotalPrice Credit,
			0 Debit,
			IM.Date Date,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join AccountingConfigs AC on AC.ID = 1
		OUTER APPLY GetSubAccountInfo(13, IM.StudentID) SAI
		WHERE IM.FlagId = 12
			AND (IM.IsDeleted = 0 OR IM.IsDeleted IS NULL)
			AND (ID.IsDeleted = 0 OR ID.IsDeleted IS NULL)
			AND IM.Date >= ISNULL(@DateFrom, '19000101') 
			AND IM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

--		--============================Purchases Returns============================
		union all

		Select AC.PurchaseReturnID MainAccNo,
			0 MainSubAccNo,
			IM.ID Serial,
			0 SubAccNo,
			0 SubSubAccNo, 
			IM.InvoiceNumber InvoiceNumber,
			0 Credit,
			ID.TotalPrice Debit, 
			IM.Date Date,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join AccountingConfigs AC on AC.ID = 1
		WHERE IM.FlagId = 10
			AND (IM.IsDeleted = 0 OR IM.IsDeleted IS NULL)
			AND (ID.IsDeleted = 0 OR ID.IsDeleted IS NULL)
			AND IM.Date >= ISNULL(@DateFrom, '19000101') 
			AND IM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

		union all

		Select AC.PurchaseReturnID MainAccNo,
			IM.SupplierId MainSubAccNo,
			IM.ID Serial,
			SAI.AccountID SubAccNo, 
			0 SubSubAccNo, 
			IM.InvoiceNumber InvoiceNumber,
			ID.TotalPrice Credit,
			0 Debit,
			IM.Date Date,
			IM.Notes
		From InventoryMaster IM
		left Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
		left Join AccountingConfigs AC on AC.ID = 1
		OUTER APPLY GetSubAccountInfo(2, IM.SupplierId) SAI
		WHERE IM.FlagId = 10
			AND (IM.IsDeleted = 0 OR IM.IsDeleted IS NULL)
			AND (ID.IsDeleted = 0 OR ID.IsDeleted IS NULL)
			AND IM.Date >= ISNULL(@DateFrom, '19000101') 
			AND IM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

	--============================Payables============================
		
		union all

		SELECT AI.AccountID MainAccNo, 
			PM.BankOrSaveID MainSubAccNo,
			PM.ID Serial,
			SAI.AccountID SubAccNo,
			PD.LinkFileTypeID SubSubAccNo, 
			CAST(PM.ID AS VARCHAR(50)) AS InvoiceNumber,
			0 Credit,
			PD.Amount Debit, 
			PM.Date AS Date,
			PM.Notes
		FROM PayableMaster PM
		LEFT JOIN PayableDetails PD ON PD.PayableMasterID = PM.ID
		OUTER APPLY GetSubAccountInfo(PM.LinkFileID, PM.BankOrSaveID) AI
		OUTER APPLY GetSubAccountInfo(PD.LinkFileID, PD.LinkFileTypeID) SAI
		WHERE (PM.IsDeleted = 0 OR PM.IsDeleted IS NULL)
			AND (PD.IsDeleted = 0 OR PD.IsDeleted IS NULL)
			AND PM.Date >= ISNULL(@DateFrom, '19000101') 
			AND PM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))
		
		union all

		Select AI.AccountID MainAccNo,
			PD.LinkFileTypeID MainSubAccNo,
			PM.ID Serial,
			SAI.AccountID SubAccNo,
			PM.BankOrSaveID AS SubSubAccNo,
			CAST(PM.ID AS VARCHAR(50)) AS InvoiceNumber,
			PD.Amount Credit,
			0 Debit,
			PM.Date AS Date,
			PM.Notes
		From PayableDetails PD
		LEFT JOIN PayableMaster PM ON PD.PayableMasterID = PM.ID
		OUTER APPLY GetSubAccountInfo(PD.LinkFileID, PD.LinkFIleTypeID) AI
		OUTER APPLY GetSubAccountInfo(PM.LinkFileID, PM.BankOrSaveID) SAI
		WHERE (PM.IsDeleted = 0 OR PM.IsDeleted IS NULL)
			AND (PD.IsDeleted = 0 OR PD.IsDeleted IS NULL)
			AND PM.Date >= ISNULL(@DateFrom, '19000101') 
			AND PM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))
			

--============================Receivables============================
		
		union all

		SELECT AI.AccountID MainAccNo,
			RM.BankOrSaveID MainSubAccNo,
			RM.ID Serial,
			SAI.AccountID SubAccNo,
			RD.LinkFileTypeID SubSubAccNo,
			CAST(RM.ID AS VARCHAR(50)) AS InvoiceNumber, 
			RD.Amount Credit,
			0 Debit, 
			RM.Date AS Date,
			RM.Notes
		FROM ReceivableMaster RM
		LEFT JOIN ReceivableDetails RD ON RD.ReceivableMasterID = RM.ID
		OUTER APPLY GetSubAccountInfo(RM.LinkFileID, RM.BankOrSaveID) AI
		OUTER APPLY GetSubAccountInfo(RD.LinkFileID, RD.LinkFileTypeID) SAI
		WHERE (RM.IsDeleted = 0 OR RM.IsDeleted IS NULL)
			AND (RD.IsDeleted = 0 OR RD.IsDeleted IS NULL)
			AND RM.Date >= ISNULL(@DateFrom, '19000101') 
			AND RM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))
		
		union all

		SELECT AI.AccountID MainAccNo,
			RD.LinkFileTypeID MainSubAccNo,
			RM.ID Serial,
			SAI.AccountID SubAccNo,
			RM.BankOrSaveID SubSubAccNo, 
			CAST(RM.ID AS VARCHAR(50)) AS InvoiceNumber, 
			0 Credit,
			RD.Amount Debit,
			RM.Date AS Date,
			RM.Notes
		FROM ReceivableDetails RD
			LEFT JOIN ReceivableMaster RM ON RD.ReceivableMasterID = RM.ID
		OUTER APPLY GetSubAccountInfo(RD.LinkFileID, RD.LinkFIleTypeID) AI
		OUTER APPLY GetSubAccountInfo(RM.LinkFileID, RM.BankOrSaveID) SAI
		WHERE (RM.IsDeleted = 0 OR RM.IsDeleted IS NULL)
			AND (RD.IsDeleted = 0 OR RD.IsDeleted IS NULL)
			AND RM.Date >= ISNULL(@DateFrom, '19000101') 
			AND RM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

--============================Loans============================

		union all

		SELECT SAI.AccountID MainAccNo,
			L.SafeID MainSubAccNo,
			L.ID Serial,
			0 SubAccNo,
			0 SubSubAccNo, 
			'' InvoiceNumber,
			L.Amount Credit,
			0 Debit, 
			L.Date AS Date,
			L.Notes
		FROM Loans L
		OUTER APPLY GetSubAccountInfo(5, L.SafeID) SAI
		WHERE (L.IsDeleted = 0 OR L.IsDeleted IS NULL)
			AND L.Date >= ISNULL(@DateFrom, '19000101') 
			AND L.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

		union all

		SELECT SAI.AccountID MainAccNo,
			L.EmployeeID MainSubAccNo,
			L.ID Serial,
			0 SubAccNo,
			0 SubSubAccNo, 
			'' InvoiceNumber,
			0 Credit,
			L.Amount Debit, 
			L.Date AS Date,
			L.Notes
		FROM Loans L
		OUTER APPLY GetSubAccountInfo(10, L.EmployeeID) SAI
		WHERE (L.IsDeleted = 0 OR L.IsDeleted IS NULL)
			AND L.Date >= ISNULL(@DateFrom, '19000101') 
			AND L.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))
  );
