CREATE OR ALTER FUNCTION [dbo].[EntriesFun] (
    @DateFrom DATE,
    @DateTo   DATE
)
RETURNS TABLE
AS
RETURN
(
    -- 1. Accounting Entries (Manual)
    SELECT 
        AED.AccountingTreeChartID AS MainAccNo,
        AED.SubAccountingID AS MainSubAccNo,
        AEM.ID AS Serial,
        0 AS SubAccNo, 0 AS SubSubAccNo,
        AEM.DocNumber AS InvoiceNumber,
        ISNULL(AED.CreditAmount, 0) AS Credit,
        ISNULL(AED.DebitAmount, 0) AS Debit,
        AEM.Date, AEM.Notes
    FROM AccountingEntriesMaster AEM
    JOIN AccountingEntriesDetails AED ON AED.AccountingEntriesMasterID = AEM.ID
    WHERE (AEM.IsDeleted = 0 OR AEM.IsDeleted IS NULL)
      AND (AED.IsDeleted = 0 OR AED.IsDeleted IS NULL)
      AND AEM.Date >= ISNULL(@DateFrom, '19000101')
      AND AEM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

    UNION ALL

    -- 2. INVENTORY (Sales, Returns, Purchases, Returns) - READS TABLE ONLY ONCE
    SELECT 
    -- =========================================================
    -- 1. MAIN ACCOUNT SELECTION (NOW INCLUDES VISA)
    -- =========================================================
    CASE 
        -- Sides 1: Main Accounts (Revenue / Expense)
        WHEN Side = 1 AND IM.FlagId = 11 THEN AC.SalesID 
        WHEN Side = 1 AND IM.FlagId = 12 THEN AC.SalesReturnID 
        WHEN Side = 1 AND IM.FlagId = 9  THEN AC.PurchaseID
        WHEN Side = 1 AND IM.FlagId = 10 THEN AC.PurchaseReturnID
    
        -- Sides 2,3: Cash Student/Supplier
        WHEN Side IN (2, 3) AND IM.FlagId IN (11, 12) THEN ISNULL(S.AccountNumberID, 0)
        WHEN Side IN (2, 3) AND IM.FlagId IN (9, 10)  THEN ISNULL(Sup.AccountNumberID, 0)

        -- Side 4 (Cash Safe)
        WHEN Side = 4 THEN ISNULL(Saf.AccountNumberID, 0)

        -- ========================================
        -- VISA LOGIC ADDED (Sides 5 = Visa Student/Supplier, 6 = Visa Safe)
        -- ========================================
        WHEN Side = 5 AND IM.FlagId IN (11, 12) THEN ISNULL(S.AccountNumberID, 0)
        WHEN Side = 5 AND IM.FlagId IN (9, 10)  THEN ISNULL(Sup.AccountNumberID, 0)
        WHEN Side = 6 THEN ISNULL(B.AccountNumberID, 0)

        ELSE 0 
    END AS MainAccNo,

    -- =========================================================
    -- 2. MAIN SUB ACCOUNT ID (The Entity ID)
    -- =========================================================
    CASE 
        WHEN Side = 1 THEN 0 
        -- Student/Supplier for sides 2,3 (cash) AND 5 (visa)
        WHEN Side IN (2, 3, 5) THEN COALESCE(IM.StudentID, IM.SupplierId)
        -- Safe for cash (side 4)
        WHEN Side = 4 THEN IM.SaveID
        -- Visa Safe (side 6)
        WHEN Side = 6 THEN IM.BankID
        ELSE 0 
    END AS MainSubAccNo,

    IM.ID AS Serial,

    -- =========================================================
    -- 3. SUB ACCOUNT (Display Reference)
    -- =========================================================
    CASE 
        WHEN Side IN (2, 3) AND IM.FlagId IN (11, 12) THEN ISNULL(S.AccountNumberID, 0) 
        WHEN Side IN (2, 3) AND IM.FlagId IN (9, 10)  THEN ISNULL(Sup.AccountNumberID, 0)
        WHEN Side = 4 THEN ISNULL(Saf.AccountNumberID, 0)

        -- VISA (Side 5 Student/Supplier, Side 6 Safe)
        WHEN Side = 5 AND IM.FlagId IN (11, 12) THEN ISNULL(S.AccountNumberID, 0)
        WHEN Side = 5 AND IM.FlagId IN (9, 10)  THEN ISNULL(Sup.AccountNumberID, 0)
        WHEN Side = 6 THEN ISNULL(B.AccountNumberID, 0)

        ELSE 0 
    END AS SubAccNo,

    0 AS SubSubAccNo, 
    IM.InvoiceNumber,

    -- =========================================================
    -- 4. CREDIT LOGIC (VISA ADDED)
    -- =========================================================
    CASE 
        -- >> INVOICE TOTAL (Sides 1 & 2) <<
        WHEN Side = 1 AND IM.FlagId = 11 THEN IM.Total
        WHEN Side = 2 AND IM.FlagId = 12 THEN IM.Total
        WHEN Side = 2 AND IM.FlagId = 9  THEN IM.Total
        WHEN Side = 1 AND IM.FlagId = 10 THEN IM.Total

        -- >> CASH PAYMENT <<
        WHEN Side = 3 AND IM.FlagId = 11 THEN IM.CashAmount
        WHEN Side = 4 AND IM.FlagId = 12 THEN IM.CashAmount
        WHEN Side = 4 AND IM.FlagId = 9  THEN IM.CashAmount
        WHEN Side = 3 AND IM.FlagId = 10 THEN IM.CashAmount

        -- >> VISA PAYMENT <<
        WHEN Side = 5 AND IM.FlagId = 11 THEN IM.VisaAmount
        WHEN Side = 6 AND IM.FlagId = 12 THEN IM.VisaAmount
        WHEN Side = 6 AND IM.FlagId = 9  THEN IM.VisaAmount
        WHEN Side = 5 AND IM.FlagId = 10 THEN IM.VisaAmount

        ELSE 0 
    END AS Credit,

    -- =========================================================
    -- 5. DEBIT LOGIC (VISA ADDED)
    -- =========================================================
    CASE 
        -- >> INVOICE TOTAL (Sides 1 & 2) <<
        WHEN Side = 2 AND IM.FlagId = 11 THEN IM.Total
        WHEN Side = 1 AND IM.FlagId = 12 THEN IM.Total
        WHEN Side = 1 AND IM.FlagId = 9  THEN IM.Total
        WHEN Side = 2 AND IM.FlagId = 10 THEN IM.Total

        -- >> CASH PAYMENT <<
        WHEN Side = 4 AND IM.FlagId = 11 THEN IM.CashAmount
        WHEN Side = 3 AND IM.FlagId = 12 THEN IM.CashAmount
        WHEN Side = 3 AND IM.FlagId = 9  THEN IM.CashAmount
        WHEN Side = 4 AND IM.FlagId = 10 THEN IM.CashAmount

        -- >> VISA PAYMENT <<
        WHEN Side = 6 AND IM.FlagId = 11 THEN IM.VisaAmount
        WHEN Side = 5 AND IM.FlagId = 12 THEN IM.VisaAmount
        WHEN Side = 5 AND IM.FlagId = 9  THEN IM.VisaAmount
        WHEN Side = 6 AND IM.FlagId = 10 THEN IM.VisaAmount

        ELSE 0 
    END AS Debit,

    IM.Date, 
    IM.Notes

    FROM InventoryMaster IM
    LEFT JOIN AccountingConfigs AC ON AC.ID = 1
    LEFT JOIN Student S        ON S.ID = IM.StudentID        
    LEFT JOIN Suppliers Sup    ON Sup.ID = IM.SupplierId 
    LEFT JOIN Saves Saf        ON Saf.ID = IM.SaveID
    LEFT JOIN Banks B    ON B.ID = IM.BankID  

    -- =========================================================
    -- ADD VISA SIDES
    -- =========================================================
    CROSS APPLY (VALUES (1), (2), (3), (4), (5), (6)) AS V(Side)         

    WHERE IM.FlagId IN (9, 10, 11, 12)
      AND (IM.IsDeleted = 0 OR IM.IsDeleted IS NULL)
      AND (
          Side IN (1, 2) 
          OR (Side IN (3, 4) AND ISNULL(IM.CashAmount, 0) > 0)
          OR (Side IN (5, 6) AND ISNULL(IM.VisaAmount, 0) > 0) -- VISA ADDED
      )
      AND IM.Date >= ISNULL(@DateFrom, '19000101')
      AND IM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

    UNION ALL

    -- 3. PAYABLES (Dynamic Entity) - Must keep function, but optimize structure
    SELECT 
        AI.AccountID,
        CASE WHEN Side = 1 THEN PM.BankOrSaveID ELSE PD.LinkFileTypeID END,
        PM.ID,
        SAI.AccountID,
        CASE WHEN Side = 1 THEN PD.LinkFileTypeID ELSE PM.BankOrSaveID END,
        CAST(PM.ID AS VARCHAR(50)),
        CASE WHEN Side = 2 THEN PD.Amount ELSE 0 END, -- Credit
        CASE WHEN Side = 1 THEN PD.Amount ELSE 0 END, -- Debit
        PM.Date, PM.Notes
    FROM PayableMaster PM
    JOIN PayableDetails PD ON PD.PayableMasterID = PM.ID
    OUTER APPLY GetSubAccountInfo(PM.LinkFileID, PM.BankOrSaveID) AI
    OUTER APPLY GetSubAccountInfo(PD.LinkFileID, PD.LinkFileTypeID) SAI
    CROSS APPLY (VALUES (1), (2)) AS V(Side)
    WHERE (PM.IsDeleted = 0 OR PM.IsDeleted IS NULL)
      AND (PD.IsDeleted = 0 OR PD.IsDeleted IS NULL)
      AND PM.Date >= ISNULL(@DateFrom, '19000101')
      AND PM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

    UNION ALL

    -- 4. RECEIVABLES (Same pattern as Payables)
    SELECT 
        AI.AccountID,
        CASE WHEN Side = 1 THEN RM.BankOrSaveID ELSE RD.LinkFileTypeID END,
        RM.ID,
        SAI.AccountID,
        CASE WHEN Side = 1 THEN RD.LinkFileTypeID ELSE RM.BankOrSaveID END,
        CAST(RM.ID AS VARCHAR(50)),
        CASE WHEN Side = 1 THEN RD.Amount ELSE 0 END, -- Credit
        CASE WHEN Side = 2 THEN RD.Amount ELSE 0 END, -- Debit
        RM.Date, RM.Notes
    FROM ReceivableMaster RM
    JOIN ReceivableDetails RD ON RD.ReceivableMasterID = RM.ID
    OUTER APPLY GetSubAccountInfo(RM.LinkFileID, RM.BankOrSaveID) AI
    OUTER APPLY GetSubAccountInfo(RD.LinkFileID, RD.LinkFileTypeID) SAI
    CROSS APPLY (VALUES (1), (2)) AS V(Side)
    WHERE (RM.IsDeleted = 0 OR RM.IsDeleted IS NULL)
      AND (RD.IsDeleted = 0 OR RD.IsDeleted IS NULL)
      AND RM.Date >= ISNULL(@DateFrom, '19000101')
      AND RM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

    UNION ALL

    -- 5. LOANS (Optimized with Direct Joins)
    SELECT 
        CASE WHEN Side = 1 THEN Saf.AccountNumberID ELSE Emp.AccountNumberID END,
        CASE WHEN Side = 1 THEN L.SafeID ELSE L.EmployeeID END,
        L.ID, 0, 0, '',
        CASE WHEN Side = 1 THEN L.Amount ELSE 0 END, -- Credit
        CASE WHEN Side = 2 THEN L.Amount ELSE 0 END, -- Debit
        L.Date, L.Notes
    FROM Loans L
    LEFT JOIN Saves Saf ON Saf.ID = L.SafeID
    LEFT JOIN Employee Emp ON Emp.ID = L.EmployeeID
    CROSS APPLY (VALUES (1), (2)) AS V(Side)
    WHERE (L.IsDeleted = 0 OR L.IsDeleted IS NULL)
      AND L.Date >= ISNULL(@DateFrom, '19000101')
      AND L.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))
);
