CREATE OR ALTER FUNCTION [dbo].[EntriesFun] (
    @DateFrom DATE,
    @DateTo   DATE
)
RETURNS TABLE
AS
RETURN
(
    -- 1. Accounting Entries (Manual)
    SELECT 
        AED.AccountingTreeChartID AS MainAccNo,
        AED.SubAccountingID AS MainSubAccNo,
        AEM.ID AS Serial,
        0 AS SubAccNo, 0 AS SubSubAccNo,
        AEM.DocNumber AS InvoiceNumber,
        ISNULL(AED.CreditAmount, 0) AS Credit,
        ISNULL(AED.DebitAmount, 0) AS Debit,
        AEM.Date, AEM.Notes
    FROM AccountingEntriesMaster AEM
    JOIN AccountingEntriesDetails AED ON AED.AccountingEntriesMasterID = AEM.ID
    WHERE (AEM.IsDeleted = 0 OR AEM.IsDeleted IS NULL)
      AND (AED.IsDeleted = 0 OR AED.IsDeleted IS NULL)
      AND AEM.Date >= ISNULL(@DateFrom, '19000101')
      AND AEM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

    UNION ALL

    -- 2. INVENTORY (Sales, Returns, Purchases, Returns) - READS TABLE ONLY ONCE
    SELECT 
    -- =========================================================
    -- 1. MAIN ACCOUNT SELECTION
    -- =========================================================
        CASE 
            -- Sides 1 & 2: Invoice Logic (Standard)
            WHEN Side = 1 AND IM.FlagId = 11 THEN AC.SalesID 
            WHEN Side = 1 AND IM.FlagId = 12 THEN AC.SalesReturnID 
            WHEN Side = 1 AND IM.FlagId = 9  THEN AC.PurchaseID
            WHEN Side = 1 AND IM.FlagId = 10 THEN AC.PurchaseReturnID
        
            -- Side 3: Student/Entity (Payment Side)
            WHEN Side = 3 AND IM.FlagId IN (11, 12) THEN ISNULL(S.AccountNumberID, 0)
            WHEN Side = 3 AND IM.FlagId IN (9, 10)  THEN ISNULL(Sup.AccountNumberID, 0)

            -- Side 4: Safe (Cash Receipt Side)
            WHEN Side = 4 THEN ISNULL(Saf.AccountNumberID, 0)

            ELSE AC.SalesID 
        END AS MainAccNo,

        -- =========================================================
        -- 2. MAIN SUB ACCOUNT ID (The Entity ID)
        -- =========================================================
        CASE 
            WHEN Side = 1 THEN 0 
            -- Sides 2 & 3: The Student/Supplier
            WHEN Side IN (2, 3) THEN COALESCE(IM.StudentID, IM.SupplierId)
            -- Side 4: The Safe ID
            WHEN Side = 4 THEN IM.SaveID
            ELSE 0 
        END AS MainSubAccNo,
    
        IM.ID AS Serial,
    
        -- =========================================================
        -- 3. SUB ACCOUNT (Used for display/reference)
        -- =========================================================
        CASE 
            -- Side 2 (Invoice Entity) & Side 3 (Payment Entity)
            WHEN Side IN (2, 3) AND IM.FlagId IN (11, 12) THEN ISNULL(S.AccountNumberID, 0) 
            WHEN Side IN (2, 3) AND IM.FlagId IN (9, 10)  THEN ISNULL(Sup.AccountNumberID, 0)
            -- Side 4 (Safe)
            WHEN Side = 4 THEN ISNULL(Saf.AccountNumberID, 0)
            ELSE 0 
        END AS SubAccNo,

        0 AS SubSubAccNo, 
        IM.InvoiceNumber,

        -- =========================================================
        -- 4. CREDIT LOGIC (Invoice Total OR Cash Amount)
        -- =========================================================
        CASE 
            -- >> INVOICE TOTAL (Sides 1 & 2) <<
            WHEN Side = 1 AND IM.FlagId = 11 THEN IM.Total  -- Sales Revenue
            WHEN Side = 2 AND IM.FlagId = 12 THEN IM.Total  -- Sales Ret Student
            WHEN Side = 2 AND IM.FlagId = 9  THEN IM.Total  -- Purchase Supplier
            WHEN Side = 1 AND IM.FlagId = 10 THEN IM.Total  -- Purch Ret Main

            -- >> CASH PAYMENT (Sides 3 & 4) <<
            -- Student pays (Credits Student Account)
            WHEN Side = 3 AND IM.FlagId = 11 THEN IM.CashAmount 
            -- Refund to Student (Credits Safe)
            WHEN Side = 4 AND IM.FlagId = 12 THEN IM.CashAmount 
            -- Pay to Supplier (Credits Safe)
            WHEN Side = 4 AND IM.FlagId = 9  THEN IM.CashAmount 
            -- Supplier Refunds (Credits Supplier)
            WHEN Side = 3 AND IM.FlagId = 10 THEN IM.CashAmount 

            ELSE 0 
        END AS Credit,

        -- =========================================================
        -- 5. DEBIT LOGIC (Invoice Total OR Cash Amount)
        -- =========================================================
        CASE 
            -- >> INVOICE TOTAL (Sides 1 & 2) <<
            WHEN Side = 2 AND IM.FlagId = 11 THEN IM.Total  -- Sales Student
            WHEN Side = 1 AND IM.FlagId = 12 THEN IM.Total  -- Sales Ret Main
            WHEN Side = 1 AND IM.FlagId = 9  THEN IM.Total  -- Purchase Main
            WHEN Side = 2 AND IM.FlagId = 10 THEN IM.Total  -- Purch Ret Supplier

            -- >> CASH PAYMENT (Sides 3 & 4) <<
            -- Student pays (Debits Safe)
            WHEN Side = 4 AND IM.FlagId = 11 THEN IM.CashAmount 
            -- Refund to Student (Debits Student)
            WHEN Side = 3 AND IM.FlagId = 12 THEN IM.CashAmount 
            -- Pay to Supplier (Debits Supplier)
            WHEN Side = 3 AND IM.FlagId = 9  THEN IM.CashAmount 
            -- Supplier Refunds (Debits Safe)
            WHEN Side = 4 AND IM.FlagId = 10 THEN IM.CashAmount 
        
            ELSE 0 
        END AS Debit,

        IM.Date, IM.Notes
    FROM InventoryMaster IM
    LEFT JOIN AccountingConfigs AC ON AC.ID = 1
    LEFT JOIN Student S ON S.ID = IM.StudentID       
    LEFT JOIN Suppliers Sup ON Sup.ID = IM.SupplierId 
    -- Join Saves to get Safe Account ID
    LEFT JOIN Saves Saf ON Saf.ID = IM.SaveID        
    -- Generate 4 potential rows: 
    -- 1=InvMain, 2=InvSub, 3=PaySub, 4=PayMain(Safe)
    CROSS APPLY (VALUES (1), (2), (3), (4)) AS V(Side)         
    WHERE IM.FlagId IN (9, 10, 11, 12)
    AND (IM.IsDeleted = 0 OR IM.IsDeleted IS NULL)
    -- Filter: Always show Invoice (1,2). Show Payment (3,4) ONLY if Cash > 0
    AND (
      Side IN (1, 2) 
      OR 
      (Side IN (3, 4) AND ISNULL(IM.CashAmount, 0) > 0)
    )
      AND IM.Date >= ISNULL(@DateFrom, '19000101')
      AND IM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

    UNION ALL

    -- 3. PAYABLES (Dynamic Entity) - Must keep function, but optimize structure
    SELECT 
        AI.AccountID,
        CASE WHEN Side = 1 THEN PM.BankOrSaveID ELSE PD.LinkFileTypeID END,
        PM.ID,
        SAI.AccountID,
        CASE WHEN Side = 1 THEN PD.LinkFileTypeID ELSE PM.BankOrSaveID END,
        CAST(PM.ID AS VARCHAR(50)),
        CASE WHEN Side = 2 THEN PD.Amount ELSE 0 END, -- Credit
        CASE WHEN Side = 1 THEN PD.Amount ELSE 0 END, -- Debit
        PM.Date, PM.Notes
    FROM PayableMaster PM
    JOIN PayableDetails PD ON PD.PayableMasterID = PM.ID
    OUTER APPLY GetSubAccountInfo(PM.LinkFileID, PM.BankOrSaveID) AI
    OUTER APPLY GetSubAccountInfo(PD.LinkFileID, PD.LinkFileTypeID) SAI
    CROSS APPLY (VALUES (1), (2)) AS V(Side)
    WHERE (PM.IsDeleted = 0 OR PM.IsDeleted IS NULL)
      AND (PD.IsDeleted = 0 OR PD.IsDeleted IS NULL)
      AND PM.Date >= ISNULL(@DateFrom, '19000101')
      AND PM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

    UNION ALL

    -- 4. RECEIVABLES (Same pattern as Payables)
    SELECT 
        AI.AccountID,
        CASE WHEN Side = 1 THEN RM.BankOrSaveID ELSE RD.LinkFileTypeID END,
        RM.ID,
        SAI.AccountID,
        CASE WHEN Side = 1 THEN RD.LinkFileTypeID ELSE RM.BankOrSaveID END,
        CAST(RM.ID AS VARCHAR(50)),
        CASE WHEN Side = 1 THEN RD.Amount ELSE 0 END, -- Credit
        CASE WHEN Side = 2 THEN RD.Amount ELSE 0 END, -- Debit
        RM.Date, RM.Notes
    FROM ReceivableMaster RM
    JOIN ReceivableDetails RD ON RD.ReceivableMasterID = RM.ID
    OUTER APPLY GetSubAccountInfo(RM.LinkFileID, RM.BankOrSaveID) AI
    OUTER APPLY GetSubAccountInfo(RD.LinkFileID, RD.LinkFileTypeID) SAI
    CROSS APPLY (VALUES (1), (2)) AS V(Side)
    WHERE (RM.IsDeleted = 0 OR RM.IsDeleted IS NULL)
      AND (RD.IsDeleted = 0 OR RD.IsDeleted IS NULL)
      AND RM.Date >= ISNULL(@DateFrom, '19000101')
      AND RM.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))

    UNION ALL

    -- 5. LOANS (Optimized with Direct Joins)
    SELECT 
        CASE WHEN Side = 1 THEN Saf.AccountNumberID ELSE Emp.AccountNumberID END,
        CASE WHEN Side = 1 THEN L.SafeID ELSE L.EmployeeID END,
        L.ID, 0, 0, '',
        CASE WHEN Side = 1 THEN L.Amount ELSE 0 END, -- Credit
        CASE WHEN Side = 2 THEN L.Amount ELSE 0 END, -- Debit
        L.Date, L.Notes
    FROM Loans L
    LEFT JOIN Saves Saf ON Saf.ID = L.SafeID
    LEFT JOIN Employee Emp ON Emp.ID = L.EmployeeID
    CROSS APPLY (VALUES (1), (2)) AS V(Side)
    WHERE (L.IsDeleted = 0 OR L.IsDeleted IS NULL)
      AND L.Date >= ISNULL(@DateFrom, '19000101')
      AND L.Date < DATEADD(DAY, 1, ISNULL(@DateTo, '30000101'))
);
