/****** Object:  UserDefinedFunction [dbo].[FilterEntries]    Script Date: 7/9/2025 8:49:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER function [dbo].[FilterEntries](
  @DateFrom Date,
  @DateTo Date
  --@MainAccNo Nvarchar(100) = '',
  --@SubAccNo Bigint = 0
  )
  Returns Table
  As
 Return (
	Select AEM.ID MasterID, AED.ID DetailsID, 
	ATC.Name Account, ATC.ID Serial,
	AEM.DocNumber InvoiceNumber, 
	ATC.LinkFileID MainAccountNo, LF.Name MainAccount,
	SA.SubAccountNo SubAccountNo, 
	SA.SubAccountName SubAccount,
	AED.CreditAmount Credit, AED.DebitAmount Debit, TRY_CONVERT(date, AEM.Date) Date
	from AccountingEntriesMaster AEM
	Join AccountingEntriesDocTypes AEDT on AEM.AccountingEntriesDocTypeID = AEDT.ID
	Join AccountingEntriesDetails AED on AED.AccountingEntriesMasterID = AEM.ID
	Join AccountingTreeCharts ATC on AED.AccountingTreeChartID = ATC.ID
	Join LinkFile LF on LF.ID = ATC.LinkFileID
	CROSS APPLY dbo.GetSubAccountInfo(LF.ID, AED.SubAccountingID) SA
	where (ISNULL(AEM.IsDeleted, 0) <> 1)
	AND AEM.DocNumber IS NOT NULL
	AND ISNULL(AED.IsDeleted, 0) <> 1
	and TRY_CONVERT(date, AEM.Date) between @DateFrom and @DateTo

	union all
 --============================Sales============================
	Select IM.ID MasterID, ID.ID DetailsID, 
	ATC.Name Account, ATC.MainAccountNumberID Serial,
	IM.InvoiceNumber InvoiceNumber,
	ATC.ID MainAccountNo, ATC.Name MainAccount, 
	0 SubAccountNo, 
	ATC.Name SubAccount,
	IM.CashAmount Credit,
	0 Debit, 
	IM.Date Date
	From InventoryMaster IM
	Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
	Join Student S on S.ID = IM.StudentID
	Join AccountingConfigurations AC on AC.ID = 1
	Join AccountingTreeCharts ATC on ATC.ID = AC.SalesID 
	--case when IM.FlagId = 10 then Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseRe
	Join InventoryFlags IFs on IFs.ID = IM.FlagId
	--Join LinkFile LF on LF.ID = ATC.LinkFileID
	--CROSS APPLY dbo.GetSubAccountInfo(LF.ID, S.ID) SA
	WHERE IM.FlagId = 11
	and (ISNULL(IM.IsDeleted, 0) <> 1)
	AND IM.InvoiceNumber IS NOT NULL
	AND ISNULL(ID.IsDeleted, 0) <> 1
	AND IM.Date >= @DateFrom AND IM.Date < DATEADD(DAY, 1, @DateTo)

	union all

	Select IM.ID MasterID, ID.ID DetailsID, 
	ATC.Name Account, ATC.MainAccountNumberID Serial,
	IM.InvoiceNumber InvoiceNumber,
	ATC.MainAccountNumberID MainAccountNo, LF.Name MainAccount, 
	S.ID SubAccountNo, 
	S.en_name SubAccount,
	0 Credit,
	IM.CashAmount Debit,
	IM.Date Date
	From InventoryMaster IM
	Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
	Join Student S on S.ID = IM.StudentID
	Join AccountingConfigurations AC on AC.ID = 1
	Join AccountingTreeCharts ATC on ATC.ID = AC.SalesID 
	--case when IM.FlagId = 10 then Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseRe
	Join InventoryFlags IFs on IFs.ID = IM.FlagId
	Join LinkFile LF on LF.ID = ATC.LinkFileID
	--CROSS APPLY dbo.GetSubAccountInfo(LF.ID, S.ID) SA
	WHERE IM.FlagId = 11
	and (ISNULL(IM.IsDeleted, 0) <> 1)
	AND IM.InvoiceNumber IS NOT NULL
	AND ISNULL(ID.IsDeleted, 0) <> 1
	AND IM.Date >= @DateFrom AND IM.Date < DATEADD(DAY, 1, @DateTo)
  
	union all
 --============================Purchases============================
	Select IM.ID MasterID, ID.ID DetailsID, 
	ATC.Name Account, ATC.MainAccountNumberID Serial,
	IM.InvoiceNumber InvoiceNumber,
	ATC.ID MainAccountNo, ATC.Name MainAccount, 
	0 SubAccountNo, 
	ATC.Name SubAccount,
	0 Credit,
	IM.CashAmount Debit, 
	IM.Date Date
	From InventoryMaster IM
	Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
	Join Saves S on S.ID = IM.SaveID
	Join AccountingConfigurations AC on AC.ID = 1
	Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseID 
	--case when IM.FlagId = 10 then Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseRe
	Join InventoryFlags IFs on IFs.ID = IM.FlagId
	--Join LinkFile LF on LF.ID = ATC.LinkFileID
	--CROSS APPLY dbo.GetSubAccountInfo(LF.ID, S.ID) SA
	WHERE IM.FlagId = 9
	and (ISNULL(IM.IsDeleted, 0) <> 1)
	AND IM.InvoiceNumber IS NOT NULL
	AND ISNULL(ID.IsDeleted, 0) <> 1
	AND IM.Date >= @DateFrom AND IM.Date < DATEADD(DAY, 1, @DateTo)

	union all

	Select IM.ID MasterID, ID.ID DetailsID, 
	ATC.Name Account, ATC.MainAccountNumberID Serial,
	IM.InvoiceNumber InvoiceNumber,
	ATC.MainAccountNumberID MainAccountNo, LF.Name MainAccount, 
	S.ID SubAccountNo, 
	S.Name SubAccount,
	IM.CashAmount Credit,
	0 Debit,
	IM.Date Date
	From InventoryMaster IM
	Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
	Join Suppliers S on S.ID = IM.SupplierId
	Join AccountingConfigurations AC on AC.ID = 1
	Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseID 
	--case when IM.FlagId = 10 then Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseRe
	Join InventoryFlags IFs on IFs.ID = IM.FlagId
	Join LinkFile LF on LF.ID = ATC.LinkFileID
	--CROSS APPLY dbo.GetSubAccountInfo(LF.ID, S.ID) SA
	WHERE IM.FlagId = 9
	and (ISNULL(IM.IsDeleted, 0) <> 1)
	AND IM.InvoiceNumber IS NOT NULL
	AND ISNULL(ID.IsDeleted, 0) <> 1
	AND IM.Date >= @DateFrom AND IM.Date < DATEADD(DAY, 1, @DateTo)
  
--============================Sales Returns============================
	union all
	Select IM.ID MasterID, ID.ID DetailsID, 
	ATC.Name Account, ATC.MainAccountNumberID Serial,
	IM.InvoiceNumber InvoiceNumber,
	ATC.ID MainAccountNo, ATC.Name MainAccount, 
	0 SubAccountNo, 
	ATC.Name SubAccount,
	0 Credit,
	IM.CashAmount Debit, 
	IM.Date Date
	From InventoryMaster IM
	Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
	Join Student S on S.ID = IM.StudentID
	Join AccountingConfigurations AC on AC.ID = 1
	Join AccountingTreeCharts ATC on ATC.ID = AC.SalesReturnID 
	--case when IM.FlagId = 10 then Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseRe
	Join InventoryFlags IFs on IFs.ID = IM.FlagId
	--Join LinkFile LF on LF.ID = ATC.LinkFileID
	--CROSS APPLY dbo.GetSubAccountInfo(LF.ID, S.ID) SA
	WHERE IM.FlagId = 12
	and (ISNULL(IM.IsDeleted, 0) <> 1)
	AND IM.InvoiceNumber IS NOT NULL
	AND ISNULL(ID.IsDeleted, 0) <> 1
	AND IM.Date >= @DateFrom AND IM.Date < DATEADD(DAY, 1, @DateTo)

	union all

	Select IM.ID MasterID, ID.ID DetailsID, 
	ATC.Name Account, ATC.MainAccountNumberID Serial,
	IM.InvoiceNumber InvoiceNumber,
	ATC.MainAccountNumberID MainAccountNo, LF.Name MainAccount, 
	S.ID SubAccountNo, 
	S.en_name SubAccount,
	IM.CashAmount Credit,
	0 Debit,
	IM.Date Date
	From InventoryMaster IM
	Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
	Join Student S on S.ID = IM.StudentID
	Join AccountingConfigurations AC on AC.ID = 1
	Join AccountingTreeCharts ATC on ATC.ID = AC.SalesReturnID 
	--case when IM.FlagId = 10 then Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseRe
	Join InventoryFlags IFs on IFs.ID = IM.FlagId
	Join LinkFile LF on LF.ID = ATC.LinkFileID
	--CROSS APPLY dbo.GetSubAccountInfo(LF.ID, S.ID) SA
	WHERE IM.FlagId = 12
	and (ISNULL(IM.IsDeleted, 0) <> 1)
	AND IM.InvoiceNumber IS NOT NULL
	AND ISNULL(ID.IsDeleted, 0) <> 1
	AND IM.Date >= @DateFrom AND IM.Date < DATEADD(DAY, 1, @DateTo)

--============================Purchases Returns============================
	union all
	Select IM.ID MasterID, ID.ID DetailsID, 
	ATC.Name Account, ATC.MainAccountNumberID Serial,
	IM.InvoiceNumber InvoiceNumber,
	ATC.ID MainAccountNo, ATC.Name MainAccount, 
	0 SubAccountNo, 
	ATC.Name SubAccount,
	IM.CashAmount Credit,
	0 Debit, 
	IM.Date Date
	From InventoryMaster IM
	Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
	Join Saves S on S.ID = IM.SaveID
	Join AccountingConfigurations AC on AC.ID = 1
	Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseReturnID 
	--case when IM.FlagId = 10 then Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseRe
	Join InventoryFlags IFs on IFs.ID = IM.FlagId
	--Join LinkFile LF on LF.ID = ATC.LinkFileID
	--CROSS APPLY dbo.GetSubAccountInfo(LF.ID, S.ID) SA
	WHERE IM.FlagId = 10
	and (ISNULL(IM.IsDeleted, 0) <> 1)
	AND IM.InvoiceNumber IS NOT NULL
	AND ISNULL(ID.IsDeleted, 0) <> 1
	AND IM.Date >= @DateFrom AND IM.Date < DATEADD(DAY, 1, @DateTo)

	union all

	Select IM.ID MasterID, ID.ID DetailsID, 
	ATC.Name Account, ATC.MainAccountNumberID Serial,
	IM.InvoiceNumber InvoiceNumber,
	ATC.MainAccountNumberID MainAccountNo, LF.Name MainAccount, 
	S.ID SubAccountNo, 
	S.Name SubAccount,
	0 Credit,
	IM.CashAmount Debit,
	IM.Date Date
	From InventoryMaster IM
	Join InventoryDetails ID on ID.InventoryMasterId = IM.ID
	Join Suppliers S on S.ID = IM.SupplierId
	Join AccountingConfigurations AC on AC.ID = 1
	Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseReturnID 
	--case when IM.FlagId = 10 then Join AccountingTreeCharts ATC on ATC.ID = AC.PurchaseRe
	Join InventoryFlags IFs on IFs.ID = IM.FlagId
	Join LinkFile LF on LF.ID = ATC.LinkFileID
	--CROSS APPLY dbo.GetSubAccountInfo(LF.ID, S.ID) SA
	WHERE IM.FlagId = 10
	and (ISNULL(IM.IsDeleted, 0) <> 1)
	AND IM.InvoiceNumber IS NOT NULL
	AND ISNULL(ID.IsDeleted, 0) <> 1
	AND IM.Date >= @DateFrom AND IM.Date < DATEADD(DAY, 1, @DateTo)
  )