CREATE OR ALTER PROCEDURE [dbo].[GetAccountingTotals]
    @DateFrom DATE = NULL,
    @DateTo DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    WITH Aggregated AS (
        SELECT 
            SUM(ISNULL(Debit, 0)) AS TotalDebit,
            SUM(ISNULL(Credit, 0)) AS TotalCredit
        FROM dbo.EntriesFun(@DateFrom, @DateTo)
    ),
    EntriesWithDiff AS (
        SELECT 
            CAST(TotalDebit AS DECIMAL(18,2)) AS Debit,
            CAST(TotalCredit AS DECIMAL(18,2)) AS Credit,
            CAST(TotalCredit - TotalDebit AS DECIMAL(18,2)) AS Difference
        FROM Aggregated
    )
    SELECT 
        Debit AS TotalDebit,
        Credit AS TotalCredit,
        Difference AS Difference
    FROM EntriesWithDiff
END