CREATE OR ALTER PROCEDURE [dbo].[GetAccountingEntries]
    @DateFrom   DATE = NULL,
    @DateTo     DATE = NULL,
    @PageNumber INT = 1,
    @PageSize   INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------------------------
    -- 1) Read raw entries into Temp Table
    -- UPDATED: Added SubAccNo and SubSubAccNo to capture new Function logic
    --------------------------------------------------------------------
    SELECT 
        E.MainAccNo,
        E.MainSubAccNo,
        E.SubAccNo,      -- [NEW] Capture the Account ID of the Entity
        E.SubSubAccNo,   -- [NEW] Capture secondary linkage
        E.InvoiceNumber,
        E.Serial,
        CAST(E.Credit AS DECIMAL(18, 2)) AS Credit, 
        CAST(E.Debit AS DECIMAL(18, 2))  AS Debit,    
        E.[Date], 
        E.Notes
    INTO #RawData
    FROM dbo.EntriesFun(@DateFrom, @DateTo) E
    OPTION (RECOMPILE); 

    -- Performance Index
    CREATE CLUSTERED INDEX [CIX_RawData_Date_Serial] 
    ON #RawData ([Date], [Serial]);

    --------------------------------------------------------------------
    -- 2) Build paginated dates
    --------------------------------------------------------------------
    SELECT [Date]
    INTO #PagedDates
    FROM (
        SELECT 
            [Date],
            ROW_NUMBER() OVER (ORDER BY [Date]) AS RowNum
        FROM (SELECT DISTINCT [Date] FROM #RawData) AS DistDates
    ) AS Paged
    WHERE RowNum BETWEEN ((@PageNumber - 1) * @PageSize + 1) 
                     AND (@PageNumber * @PageSize);

    CREATE CLUSTERED INDEX [CIX_PagedDates_Date] ON #PagedDates([Date]);

    --------------------------------------------------------------------
    -- 3) Join with charts & subaccounts
    -- LOGIC: Use the MainSubAccNo (Entity ID) to get the Name via LinkFile
    --------------------------------------------------------------------
    SELECT
        MATC.Name AS Account, 
        R.Serial, 
        
        -- Logic: If it's a Main Account (Side 1), use 0. If Entity (Side 2/3/4), use LinkFile ID
        CASE WHEN R.MainSubAccNo = 0 THEN 0 ELSE MLF.ID END AS MainAccountNo,
        
        -- Logic: Show GL Name if Main, Show LinkFile Name (e.g. "Students") if Entity
        CASE WHEN R.MainSubAccNo = 0 THEN MATC.Name ELSE MLF.Name END AS MainAccount,
        
        R.MainSubAccNo AS SubAccountNo,
        
        -- Logic: Resolve the specific Name (e.g., "Student Ahmed", "Safe 1")
        CASE 
            WHEN R.MainSubAccNo = 0 THEN MATC.Name 
            ELSE SAI.SubAccountName 
        END AS SubAccount,
        
        R.InvoiceNumber,
        R.Credit, 
        R.Debit, 
        R.[Date], 
        R.Notes
    FROM #RawData R
    INNER JOIN #PagedDates PD ON R.[Date] = PD.[Date] 
    LEFT JOIN AccountingTreeCharts MATC ON MATC.ID = R.MainAccNo
    LEFT JOIN LinkFile MLF ON MLF.ID = MATC.LinkFileID
    
    -- Optimized: Only look up names if there is an Entity ID (MainSubAccNo > 0)
    OUTER APPLY (
        SELECT TOP 1 SubAccountName 
        FROM dbo.GetSubAccountInfo(MLF.ID, R.MainSubAccNo)
    ) AS SAI
    
    ORDER BY R.[Date], R.Serial;

    -- Cleanup
    DROP TABLE #PagedDates;
    DROP TABLE #RawData;
END;