CREATE OR ALTER PROCEDURE [dbo].[GetAccountingEntries]
    @DateFrom   DATE = NULL,
    @DateTo     DATE = NULL,
    @PageNumber INT = 1,
    @PageSize   INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    -- Step 1: Load everything into temp table
    CREATE TABLE #AllEntries (
        Account NVARCHAR(200),
        Serial BIGINT,
        MainAccountNo BIGINT,
        MainAccount NVARCHAR(200),
        SubAccountNo BIGINT,
        SubAccount NVARCHAR(200),
        Credit DECIMAL(18, 2),
        Debit DECIMAL(18, 2),
        [Date] DATE,
        Notes NVARCHAR(200)
    );

    INSERT INTO #AllEntries (
        Account, Serial, MainAccountNo, MainAccount, 
        SubAccountNo, SubAccount, Credit, Debit, [Date], Notes
    )
    SELECT
        MATC.Name, 
        E.Serial, 
        CASE WHEN E.MainSubAccNo = 0 THEN 0 ELSE MLF.ID END AS MainAccountNo,
        CASE WHEN E.MainSubAccNo = 0 THEN MATC.Name ELSE MLF.Name END AS MainAccount,
        E.MainSubAccNo SubAccountNo,
        CASE WHEN E.MainSubAccNo = 0 THEN MATC.Name ELSE SAI.SubAccountName END AS SubAccount,
        E.Credit, 
        E.Debit, 
        E.[Date], 
        E.Notes
    FROM dbo.EntriesFun(@DateFrom, @DateTo) E
    LEFT JOIN AccountingTreeCharts MATC ON MATC.ID = E.MainAccNo
    LEFT JOIN LinkFile MLF ON MLF.ID = MATC.LinkFileID
    OUTER APPLY dbo.GetSubAccountInfo(MLF.ID, E.MainSubAccNo) SAI;

    -- Step 2: Prepare paged dates in a temp table (to avoid invalid object errors)
    SELECT [Date]
    INTO #PagedDates
    FROM (
        SELECT 
            ROW_NUMBER() OVER (ORDER BY [Date]) AS RowNum,
            [Date]
        FROM (SELECT DISTINCT [Date] FROM #AllEntries) DistinctDates
    ) NumberedDates
    WHERE RowNum BETWEEN ((@PageNumber-1) * @PageSize + 1)
                    AND (@PageNumber * @PageSize);

    -- Step 3: Return all entries for those paged dates
    SELECT e.*
    FROM #AllEntries e
    INNER JOIN #PagedDates d ON e.[Date] = d.[Date]
    ORDER BY e.[Date], e.Serial;

    DROP TABLE #PagedDates;
    DROP TABLE #AllEntries;
END;