CREATE OR ALTER PROCEDURE [dbo].[GetAccountingEntries]
    @DateFrom   DATE = NULL,
    @DateTo     DATE = NULL,
    @PageNumber INT = 1,
    @PageSize   INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        E.MainAccNo,
        E.MainSubAccNo,
        E.InvoiceNumber,
        E.Serial,
        CAST(E.Credit AS DECIMAL(18, 2)) AS Credit, 
        CAST(E.Debit AS DECIMAL(18, 2)) AS Debit,   
        E.[Date], 
        E.Notes
    INTO #RawData
    FROM dbo.EntriesFun(@DateFrom, @DateTo) E;

    CREATE TABLE #PagedDates ([Date] DATE PRIMARY KEY);

    INSERT INTO #PagedDates ([Date])
    SELECT [Date]
    FROM (
        SELECT 
            [Date],
            ROW_NUMBER() OVER (ORDER BY [Date]) AS RowNum
        FROM (SELECT DISTINCT [Date] FROM #RawData) DistinctDates
    ) Paged
    WHERE RowNum BETWEEN ((@PageNumber-1) * @PageSize + 1) 
                     AND (@PageNumber * @PageSize);

    SELECT
        MATC.Name AS Account, 
        R.Serial, 
        CASE WHEN R.MainSubAccNo = 0 THEN 0 ELSE MLF.ID END AS MainAccountNo,
        CASE WHEN R.MainSubAccNo = 0 THEN MATC.Name ELSE MLF.Name END AS MainAccount,
        R.MainSubAccNo AS SubAccountNo,
        CASE WHEN R.MainSubAccNo = 0 THEN MATC.Name ELSE SAI.SubAccountName END AS SubAccount,
        R.InvoiceNumber,
        R.Credit, 
        R.Debit, 
        R.[Date], 
        R.Notes
    FROM #RawData R
    INNER JOIN #PagedDates PD ON R.[Date] = PD.[Date] 
    LEFT JOIN AccountingTreeCharts MATC ON MATC.ID = R.MainAccNo
    LEFT JOIN LinkFile MLF ON MLF.ID = MATC.LinkFileID
    OUTER APPLY dbo.GetSubAccountInfo(MLF.ID, R.MainSubAccNo) SAI 
    ORDER BY R.[Date], R.Serial;

    DROP TABLE #PagedDates;
    DROP TABLE #RawData;
END;