/****** Object:  StoredProcedure [dbo].[GetAccountingEntries]    Script Date: 7/28/2025 12:32:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[GetAccountingEntries]
    @DateFrom DATE = NULL,
    @DateTo DATE = NULL,
    @MainAccNo BIGINT = 0,
    @SubAccNo BIGINT = 0,
    @StartPage INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    CREATE TABLE #PagedDates ([Date] DATE PRIMARY KEY);

    INSERT INTO #PagedDates([Date])
    SELECT [Date]
    FROM (
        SELECT 
            TRY_CONVERT(DATE, [Date]) AS [Date],
            ROW_NUMBER() OVER (ORDER BY TRY_CONVERT(DATE, [Date])) AS DateRowNum
        FROM (
            SELECT DISTINCT TRY_CONVERT(DATE, [Date]) AS [Date]
            FROM dbo.EntriesFun(@DateFrom, @DateTo, @MainAccNo, @SubAccNo)
        ) AS DistinctDateSet
    ) AS RankedDates
    WHERE DateRowNum BETWEEN ((@StartPage - 1) * @PageSize + 1) AND (@StartPage * @PageSize);

    CREATE TABLE #FilteredEntries (
        Date DATETIME,
        MasterID BIGINT,
        DetailsID BIGINT,
        Account NVARCHAR(200),
		--ATC_ID BIGINT,
		--TBL NVARCHAR(200),
        Serial BIGINT,
        MainAccountNo BIGINT,
        MainAccount NVARCHAR(200),
        SubAccountNo BIGINT,
        SubAccount NVARCHAR(200),
        Credit DECIMAL(18,2),
        Debit DECIMAL(18,2),
        Balance DECIMAL(18,2),
        LinkFileID BIGINT,
		NOTES NVARCHAR(200)
    );

    INSERT INTO #FilteredEntries
    SELECT E.Date, E.MasterID, E.DetailsID, E.Account, 
	--E.ATC_ID, E.TBL, 
	E.Serial,
           E.MainAccountNo, E.MainAccount, E.SubAccountNo, E.SubAccount,
           E.Credit, E.Debit, E.Balance, E.LinkFileID, E.Notes
    FROM dbo.EntriesFun(@DateFrom, @DateTo, @MainAccNo, @SubAccNo) E
    INNER JOIN #PagedDates PD ON TRY_CONVERT(DATE, E.Date) = PD.Date;

    SELECT *
    FROM #FilteredEntries
    ORDER BY Date, MasterID;

    SELECT 
        TRY_CONVERT(DATE, Date) AS GroupDate,
        SUM(ISNULL(Debit, 0)) AS DebitTotal,
        SUM(ISNULL(Credit, 0)) AS CreditTotal,
        SUM(ISNULL(Debit, 0)) - SUM(ISNULL(Credit, 0)) AS Difference
    FROM #FilteredEntries
    GROUP BY TRY_CONVERT(DATE, Date)
    ORDER BY GroupDate;

    DROP TABLE #PagedDates;
    DROP TABLE #FilteredEntries;
END