/****** Object:  StoredProcedure [dbo].[GetAccountingTotals]    Script Date: 7/28/2025 11:18:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[GetAccountingTotals]
    @DateFrom DATE = NULL,
    @DateTo DATE = NULL,
    @MainAccNo BIGINT = 0,
    @SubAccNo BIGINT = 0,
	@LinkFileID BIGINT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        SUM(ISNULL(Debit, 0)) AS TotalDebit,
        SUM(ISNULL(Credit, 0)) AS TotalCredit,
		CASE WHEN @LinkFileID in (2, 4, 7) THEN SUM(ISNULL(Credit, 0)) - SUM(ISNULL(Debit, 0)) 
		ELSE SUM(ISNULL(Debit, 0)) - SUM(ISNULL(Credit, 0)) END AS Differences
    FROM dbo.EntriesFun(@DateFrom, @DateTo, @MainAccNo, @SubAccNo);
END