/****** Object:  UserDefinedFunction [dbo].[GetEntriesCount]    Script Date: 7/21/2025 5:10:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[GetEntriesCount]
(
    @DateFrom DATE = NULL,
    @DateTo DATE = NULL,
    @MainAccNo BIGINT = 0,
    @SubAccNo BIGINT = 0,
	@linkFileID BIGINT = 0
)
RETURNS BIGINT
AS
BEGIN
    DECLARE @TotalCount INT;

    SELECT @TotalCount = COUNT(MasterID)
    FROM dbo.EntriesFun(@DateFrom, @DateTo, @MainAccNo, @SubAccNo, @linkFileID);

    RETURN @TotalCount;
END