/****** Object:  UserDefinedFunction [dbo].[GetSubAccountInfo]    Script Date: 7/10/2025 9:17:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER FUNCTION [dbo].[GetSubAccountInfo]
(
    @LinkFileID INT,
    @AccountNumberID BIGINT
)
RETURNS @Result TABLE
(
    SubAccountNo BIGINT,
    SubAccountName NVARCHAR(200)
)
AS
BEGIN
    INSERT INTO @Result(SubAccountNo, SubAccountName)
    SELECT
        ID,
        en_name
    FROM Student WHERE AccountNumberID = @AccountNumberID AND @LinkFileID IN (1, 13)

    UNION ALL

    SELECT ID, Name FROM Suppliers WHERE AccountNumberID = @AccountNumberID AND @LinkFileID = 2
    UNION ALL
    SELECT ID, Name FROM Debits WHERE AccountNumberID = @AccountNumberID AND @LinkFileID = 3
    UNION ALL
    SELECT ID, Name FROM Credits WHERE AccountNumberID = @AccountNumberID AND @LinkFileID = 4
    UNION ALL
    SELECT ID, Name FROM Saves WHERE AccountNumberID = @AccountNumberID AND @LinkFileID = 5
    UNION ALL
    SELECT ID, Name FROM Banks WHERE AccountNumberID = @AccountNumberID AND @LinkFileID = 6
    UNION ALL
    SELECT ID, Name FROM Incomes WHERE AccountNumberID = @AccountNumberID AND @LinkFileID = 7
    UNION ALL
    SELECT ID, Name FROM Outcomes WHERE AccountNumberID = @AccountNumberID AND @LinkFileID = 8
    UNION ALL
    SELECT ID, Name FROM Assets WHERE AccountNumberID = @AccountNumberID AND @LinkFileID = 9
    UNION ALL
    SELECT ID, en_name FROM Employee WHERE AccountNumberID = @AccountNumberID AND @LinkFileID = 10
    UNION ALL
    SELECT ID, Name FROM TuitionFeesTypes WHERE AccountNumberID = @AccountNumberID AND @LinkFileID = 11
    UNION ALL
    SELECT ID, Name FROM TuitionDiscountTypes WHERE AccountNumberID = @AccountNumberID AND @LinkFileID = 12

    RETURN;
END
