CREATE OR ALTER FUNCTION [dbo].[GetSubAccountInfo]
(
    @LinkFileID BIGINT = NULL,
    @SubbAccountID BIGINT = NULL
)
RETURNS TABLE
AS
RETURN
(
    SELECT ID AS SubAccountNo, en_name AS SubAccountName, AccountNumberID AS AccountID
    FROM Student
    WHERE (@LinkFileID IS NULL OR @LinkFileID = 13) 
	AND (@SubbAccountID IS NULL OR ID = @SubbAccountID)
    AND (IsDeleted = 0 OR IsDeleted IS NULL)

    UNION ALL

    SELECT ID, Name, AccountNumberID AS AccountID FROM Suppliers
    WHERE (@LinkFileID IS NULL OR @LinkFileID = 2) 
	AND (@SubbAccountID IS NULL OR ID = @SubbAccountID)
    AND (IsDeleted = 0 OR IsDeleted IS NULL)

    UNION ALL

    SELECT ID, Name, AccountNumberID AS AccountID FROM Debits
    WHERE (@LinkFileID IS NULL OR @LinkFileID = 3) 
	AND (@SubbAccountID IS NULL OR ID = @SubbAccountID)
    AND (IsDeleted = 0 OR IsDeleted IS NULL)

    UNION ALL

    SELECT ID, Name, AccountNumberID AS AccountID FROM Credits
    WHERE (@LinkFileID IS NULL OR @LinkFileID = 4) 
	AND (@SubbAccountID IS NULL OR ID = @SubbAccountID)
    AND (IsDeleted = 0 OR IsDeleted IS NULL)

    UNION ALL

    SELECT ID, Name, AccountNumberID AS AccountID FROM Saves
    WHERE (@LinkFileID IS NULL OR @LinkFileID = 5) 
	AND (@SubbAccountID IS NULL OR ID = @SubbAccountID)
    AND (IsDeleted = 0 OR IsDeleted IS NULL)

    UNION ALL

    SELECT ID, Name, AccountNumberID AS AccountID FROM Banks
    WHERE (@LinkFileID IS NULL OR @LinkFileID = 6) 
	AND (@SubbAccountID IS NULL OR ID = @SubbAccountID)
    AND (IsDeleted = 0 OR IsDeleted IS NULL)

    UNION ALL

    SELECT ID, Name, AccountNumberID AS AccountID FROM Incomes
    WHERE (@LinkFileID IS NULL OR @LinkFileID = 7) 
	AND (@SubbAccountID IS NULL OR ID = @SubbAccountID)
    AND (IsDeleted = 0 OR IsDeleted IS NULL)

    UNION ALL

    SELECT ID, Name, AccountNumberID AS AccountID FROM Outcomes
    WHERE (@LinkFileID IS NULL OR @LinkFileID = 8) 
	AND (@SubbAccountID IS NULL OR ID = @SubbAccountID)
    AND (IsDeleted = 0 OR IsDeleted IS NULL)

    UNION ALL

    SELECT ID, Name, AccountNumberID AS AccountID FROM Assets
    WHERE (@LinkFileID IS NULL OR @LinkFileID = 9) 
	AND (@SubbAccountID IS NULL OR ID = @SubbAccountID)
    AND (IsDeleted = 0 OR IsDeleted IS NULL)

    UNION ALL

    SELECT ID, en_name, AccountNumberID AS AccountID FROM Employee
    WHERE (@LinkFileID IS NULL OR @LinkFileID = 10) 
	AND (@SubbAccountID IS NULL OR ID = @SubbAccountID)
    AND (IsDeleted = 0 OR IsDeleted IS NULL)

    UNION ALL

    SELECT ID, Name, AccountNumberID AS AccountID FROM TuitionFeesTypes
    WHERE (@LinkFileID IS NULL OR @LinkFileID = 11) 
	AND (@SubbAccountID IS NULL OR ID = @SubbAccountID)
    AND (IsDeleted = 0 OR IsDeleted IS NULL)

    UNION ALL

    SELECT ID, Name, AccountNumberID AS AccountID FROM TuitionDiscountTypes
    WHERE (@LinkFileID IS NULL OR @LinkFileID = 12) 
	AND (@SubbAccountID IS NULL OR ID = @SubbAccountID)
    AND (IsDeleted = 0 OR IsDeleted IS NULL)
);

