/****** Object:  UserDefinedFunction [dbo].[GetSubAccountName]    Script Date: 7/9/2025 12:26:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER FUNCTION [dbo].[GetSubAccountName]
(
    @LinkFileID INT,
    @AccountNumberID BIGINT
)
RETURNS NVARCHAR(200)
AS
BEGIN
    DECLARE @Name NVARCHAR(200);
    
    SELECT @Name = 
        CASE @LinkFileID
            WHEN 1 THEN (SELECT en_name FROM Student WHERE AccountNumberID = @AccountNumberID)
            WHEN 2 THEN (SELECT Name FROM Suppliers WHERE AccountNumberID = @AccountNumberID)
            WHEN 3 THEN (SELECT Name FROM Debits WHERE AccountNumberID = @AccountNumberID)
            WHEN 4 THEN (SELECT Name FROM Credits WHERE AccountNumberID = @AccountNumberID)
            WHEN 5 THEN (SELECT Name FROM Saves WHERE AccountNumberID = @AccountNumberID)
            WHEN 6 THEN (SELECT Name FROM Banks WHERE AccountNumberID = @AccountNumberID)
            WHEN 7 THEN (SELECT Name FROM Incomes WHERE AccountNumberID = @AccountNumberID)
            WHEN 8 THEN (SELECT Name FROM Outcomes WHERE AccountNumberID = @AccountNumberID)
            WHEN 9 THEN (SELECT Name FROM Assets WHERE AccountNumberID = @AccountNumberID)
            WHEN 10 THEN (SELECT en_name FROM Employee WHERE AccountNumberID = @AccountNumberID)
            WHEN 11 THEN (SELECT Name FROM TuitionFeesTypes WHERE AccountNumberID = @AccountNumberID)
            WHEN 12 THEN (SELECT Name FROM TuitionDiscountTypes WHERE AccountNumberID = @AccountNumberID)
            WHEN 13 THEN (SELECT en_name FROM Student WHERE AccountNumberID = @AccountNumberID)
        END;

    RETURN @Name;
END
