<div class="flex justify-start items-center space-x-5 rtl:space-x-reverse">
    <h1 class="primaryTxt font-semibold text-2xl leading-9">{{SubjectName}} {{ 'Meetings' | translate }}</h1>
</div>

<div class="flex flex-wrap justify-start mt-6 gap-6">
    <div *ngFor="let meeting of MeetingsData; let i = index"
        class="w-[33%] rounded-2xl shadow text-center flex flex-col space-x-2 rtl:space-x-reverse p-3 "
        [ngStyle]="{ 'background-color': getRandomColor(i) }">
        <div class="flex justify-start items-center space-x-3 rtl:space-x-reverse mb-3">
            <img src="https://d393tpgdl2mqkp.cloudfront.net/public/Icons/Live.png" />
            <h1 class="text-lg font-bold text-[#004279] ">{{meeting.title}}</h1>
        </div>
        <div class="flex justify-start items-center space-x-2 rtl:space-x-reverse text-[#6F6F6F]">
            <p class="text-small"> {{meeting.date}}</p>
        </div>
        <div *ngIf="isPastdueDate(meeting.date)" class="flex justify-start items-center space-x-2 rtl:space-x-reverse text-[#6F6F6F] cursor-pointer" (click)="openLink(meeting.url)">
            <i class="fa-solid fa-link"></i>
            <p class="text-lg font-bold text-[#6F6F6F] "> {{ 'Link' | translate }}</p>
        </div>
    </div>
</div>