<div class="flex justify-between">
    <h1 class="primaryTxt font-semibold text-2xl leading-9"> {{ 'Appoinment' | translate }}</h1>
    <div class="flex justify-between items-center">
        <app-search *ngIf="SelectedSchoolId!=0" [keysArray]="keysArray"
            (searchEvent)="onSearchEvent($event)"></app-search>
        <button (click)="Create()"
            class="rounded-lg secondaryBorder secondaryTxt px-4 py-3 flex items-center justify-center gap-2">
            {{ 'Create' | translate }} {{ 'Appoinment' | translate }}
        </button>
    </div>
</div>

<div class="flex justify-start items-center space-x-4 rtl:space-x-reverse">
    <div class="w-full">
        <label for="School1" class="block mb-2 text-sm font-medium text-gray-900">{{ 'School' | translate }}</label>
        <select id="School1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
            [(ngModel)]="SelectedSchoolId" (change)="GetAllData();">
            <option value=0 disabled selected hidden> {{ 'Select' | translate }} {{ 'School' | translate }}</option>
            <option *ngFor="let stu of schools" [value]="stu.id">
                {{ stu.name }}
            </option>
            <option *ngIf="schools.length === 0" disabled selected>{{ 'No Data Found' | translate }}</option>
        </select>
    </div>
</div>

<div *ngIf="SelectedSchoolId!=0">
    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD]">
        <table class="w-full tabe inset-0 bg-[#EBEBEB] text-left rtl:text-right text-[#6F6F6F]">
            <thead class="bg-[#EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                <tr>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'ID' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Title' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'School' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Actions' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- No Data Row -->
                <tr *ngIf="TableData.length === 0">
                    <td colspan="6"
                        class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                        {{ 'No Data Found' | translate }}
                    </td>
                </tr>
                <!-- Data Rows -->
                <tr *ngFor="let row of TableData; let i = index"
                    [ngClass]="{ 'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1 }"
                    class="border-t border-gray-300 text-xs md:text-sm">
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.id }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.title }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.schoolName }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div class="flex space-x-4 rtl:space-x-reverse">
                            <button (click)="Delete(row.id)">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                            <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="Edit(row)">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)" (click)="View(row.id)">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" [ngClass]="{ hidden: !isModalVisible }"
    class="fixed top-0 left-0 right-0 z-50 flex justify-center items-center w-full h-full bg-black/50">
    <div class="relative bg-white w-[669px] rounded-2xl p-12 gap-4 shadow-md">
        <!-- Close Icon -->
        <button (click)="closeModal()"
            class="absolute top-4 right-4 text-gray-400 hover:text-gray-900 transition duration-200">
            <i class="fa-solid fa-xmark text-2xl"></i>
        </button>

        <h1 *ngIf="mode == 'Create'" class="font-semibold text-2xl leading-9">
            {{ 'Create' | translate }} {{ 'Appoinment' | translate }}
        </h1>
        <h1 *ngIf="mode == 'Edit'" class="font-semibold text-2xl leading-9">
            {{ 'Edit' | translate }} {{ 'Appoinment' | translate }}
        </h1>

        <div class="mt-4 bg-[#F7F7F7] w-[573px] h-auto rounded-[24px] p-[16px_24px] gap-[20px]">
            <div class="flex justify-start mt-2 gap-2 items-start">
                <div class="flex flex-col">

                    <div class="flex flex-col mb-4 w-[49%]">
                        <label class="mb-2" for="title"> {{ 'Appoinment Title' | translate }}</label>
                        <input type="text"
                            class="w-[500px] h-[45px] rounded-lg border border-solid border-gray-300 px-2"
                            [(ngModel)]="appointment.title" placeholder=" {{ 'Enter Title' | translate }}"
                            (ngModelChange)="onInputValueChange({ field: 'title', value: $event })" />
                        <span *ngIf="validationErrors['title']"
                            class="text-red-500 ml-3 font-normal">{{validationErrors['title']}}</span>
                    </div>

                    <div class="flex flex-col mb-4 w-full">
                        <label class="mb-2" for="schoolID">{{ 'School' | translate }}</label>
                        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto"
                            id="schoolID" [(ngModel)]="appointment.schoolID" (change)="GetAllGrades()"
                            (ngModelChange)="onInputValueChange({ field: 'schoolID', value: $event })">
                            <option [value]="0" disabled selected hidden> {{ 'Choose' | translate }} {{ 'School' |
                                translate }}</option>
                            <option *ngFor="let school of schoolsToCreate" [value]="school.id">{{ school.name }}
                            </option>
                            <option *ngIf="schoolsToCreate.length === 0" disabled selected> {{ 'No Data Found' |
                                translate }}
                            </option>
                        </select>
                        <span *ngIf="validationErrors['schoolID']" class="text-red-500 ml-3 font-normal">{{
                            validationErrors["schoolID"]}}</span>
                    </div>


                    <div class="mb-4">
                        <div class="flex flex-col mb-1">
                            <label class="mb-3" for="ac"> {{ 'Grade' | translate }}</label>
                            <div class="relative">
                                <!-- Main box -->
                                <div class="border bg-white border-gray-300 rounded-lg px-4 py-3 cursor-pointer"
                                    [class.opacity-50]="!appointment.schoolID"
                                    [class.cursor-not-allowed]="!appointment.schoolID"
                                    (click)="appointment.schoolID && toggleDropdown()" tabindex="0">

                                    <!-- Selected Grades -->
                                    <div *ngIf="gradeSelected.length > 0; else placeholder">
                                        <div class="flex flex-wrap">
                                            <span class="mr-2 mb-1 px-3 py-1 rounded-full bg-gray-100 text-sm flex items-center"
                                                *ngFor="let selected of gradeSelected">
                                                {{ selected.gradeName }}
                                                <span class="ml-2 cursor-pointer text-red-500"
                                                    (click)="appointment.schoolID && removeSelected(selected.gradeID)">
                                                    &times;
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <!-- Placeholder -->
                                    <ng-template #placeholder>
                                        <span> {{ 'Choose Grade' | translate }}</span>
                                    </ng-template>
                                </div>

                                <!-- Dropdown List -->
                                <div class="absolute bg-white border border-gray-300 rounded-lg mt-1 w-full shadow-md z-10"
                                    *ngIf="dropdownOpen && appointment.schoolID">
                                    <ul>
                                        <li *ngFor="let grade of grades"
                                            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                                            (click)="selectGrade(grade)"
                                            (ngModelChange)="onInputValueChange({ field: 'gradeIds', value: $event })">
                                            {{ grade.name | translate }}
                                        </li>
                                        <li *ngIf="grades.length === 0"
                                            class="px-4 py-2 text-gray-400 cursor-not-allowed">
                                            {{ 'No Data Found' | translate }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Validation Message -->
                        <span *ngIf="validationErrors['gradeIds']" class="text-red-500 ml-3 font-normal">{{validationErrors["gradeIds"]}}</span>
                    </div>

                    <div class="flex flex-col mb-4 w-full">
                        <label class="mb-2" for="date"> {{ 'Date' | translate }}</label>
                        <input id="date" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                            placeholder=" {{ 'Enter date' | translate }}" [(ngModel)]="appointment.date"
                            (ngModelChange)="onInputValueChange({ field: 'date', value: $event })" />
                        <span *ngIf="validationErrors['date']"
                            class="text-red-500 ml-3 font-normal">{{validationErrors["date"]}}</span>
                    </div>

                    <div class="flex flex-col mb-4 w-full">
                        <label class="mb-2" for="dueDateToParentToAccept"> {{ 'Due Date To Parent To Accept'
                            | translate }}</label>
                        <input id="dueDateToParentToAccept" type="date"
                            class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                            placeholder=" {{ 'Enter date' | translate }}"
                            [(ngModel)]="appointment.dueDateToParentToAccept"
                            (ngModelChange)="onInputValueChange({ field: 'dueDateToParentToAccept', value: $event })" />
                        <span *ngIf="validationErrors['dueDateToParentToAccept']"
                            class="text-red-500 ml-3 font-normal">{{validationErrors["dueDateToParentToAccept"]}}</span>
                    </div>

                </div>
            </div>
            <div class="flex justify-end">
                <button [disabled]="isLoading" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg mt-2"
                    (click)="CreateOREdit()">
                    <span *ngIf="!isLoading">{{ 'Save' | translate }}</span>
                    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>
    </div>
</div>