<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
        <i class="fa-solid fa-chevron-left cursor-pointer" (click)="GoToClass()"></i>
        <h1 class="primaryTxt font-semibold text-2xl leading-9"> {{ 'Subjects' | translate }}</h1>
    </div>
    <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
        <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>

        <button [disabled]="isLoading" class="secondaryBg text-white rounded-lg px-4 py-3" (click)="Generate()">
            <span *ngIf="!isLoading"> {{ 'Create' | translate }}</span>
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
        </button>
    </div>
</div>

<div>
    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD]">
        <table class="w-full tabe inset-0 bg-[#EBEBEB] text-left text-[#6F6F6F]">
            <thead class="bg-[#EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                <tr>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'ID' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Subject' | translate }} {{ 'English Name' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Subject' | translate }} {{ 'Arabic Name' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Teacher' | translate }} {{ 'English Name' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Teacher' | translate }} {{ 'Arabic Name' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Co-Teacher' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Hide' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                        {{ 'Actions' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- No Data Row -->
                <tr *ngIf="ClassSubjects.length === 0">
                    <td colspan="8"
                        class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                        {{ 'No Data Found' | translate }}
                    </td>
                </tr>

                <!-- Data Rows -->
                <tr *ngFor="let row of ClassSubjects; let i = index"
                    [ngClass]="{ 'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1 }"
                    class="border-t border-gray-300 text-xs md:text-sm">
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.id }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.subjectEnglishName }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.subjectArabicName }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.teacherID != 0">
                            {{ row.teacherEnglishName }}
                        </div>
                        <div *ngIf="row.teacherID == 0">
                            <div class="w-full p-2 bg-gray-200 rounded-md">
                                <hr class="border-gray-300">
                            </div>
                        </div>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.teacherID != 0">
                            {{row.teacherArabicName}}
                        </div>
                        <div *ngIf="row.teacherID == 0">
                            <div class="w-full p-2 bg-gray-200 rounded-md">
                                <hr class="border-gray-300">
                            </div>
                        </div>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div *ngIf="row.classroomSubjectCoTeachers.length != 0">
                            <div *ngFor="let co of row.classroomSubjectCoTeachers; let i = index"
                                class="w-fit rounded-lg my-1 p-2 bg-gray-200">
                                {{co.coTeacherEnglishName}}
                            </div>
                        </div>
                        <div *ngIf="row.classroomSubjectCoTeachers.length == 0">
                            <div class="w-full p-2 bg-gray-200 rounded-md">
                                <hr class="border-gray-300">
                            </div>
                        </div>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0"> 
                        <label class="inline-flex items-center cursor-pointer toggle-wrapper">
                            <input
                                type="checkbox"
                                [(ngModel)]="row.hide" 
                                (change)="AllowEdit && IsAllowEdit(row.insertedByUserId) ? onToggle(row) : null"
                                [disabled]="!(AllowEdit && IsAllowEdit(row.insertedByUserId))" 
                                class="peer absolute opacity-0 w-0 h-0 focus:outline-none"
                            />
                            <div class="w-11 h-6 bg-gray-200 rounded-full relative overflow-hidden transition-colors duration-300 peer-checked:bg-green-500">
                                <span class="absolute left-1 top-1 w-4 h-4 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-5"></span>
                            </div>
                        </label>
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <div class="flex space-x-4 rtl:space-x-reverse">
                            <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="OpenModal(row.id)">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div id="Add_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-[669px] overflow-auto">
        <div class="flex justify-between items-center">
            <h1 class="font-semibold text-2xl leading-9">{{ClassSubject.subjectEnglishName}}</h1>
            <button (click)="closeModal()" type="button"
                class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>

        <div class="flex flex-col mt-6 mb-4 bg-[#F7F7F7] rounded-3xl p-4">
            <div class="flex flex-col mb-4">
                <label class="mb-2 primaryTxt" for="teacher">{{ 'Teacher' | translate }}</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="teacher"
                    [(ngModel)]="ClassSubject.teacherID">
                    <option [value]="0" disabled selected hidden> {{ 'Choose' | translate }} {{ 'Teacher' | translate }}
                    </option>
                    <option *ngFor="let Teacher of Employees" [value]="Teacher.id">{{ Teacher.en_name }}</option>
                    <option *ngIf="Employees.length === 0" disabled selected> {{ 'No Data Found' | translate }}</option>
                </select>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 primaryTxt"> {{ 'Co-Teacher' | translate }}</label>
                <div>
                    <div class="flex justify-between items-center rounded-lg border border-solid border-gray-300 px-4 py-3 cursor-pointer bg-white text-gray-400"
                        (click)="toggleDropdown($event)">
                        <span *ngIf="ChoosedCoTeacherIds.length == 0">
                            {{ 'Choose' | translate }} {{ 'Co-Teacher' | translate }}
                        </span>
                        <div *ngIf="ChoosedCoTeacherIds.length != 0" class="flex flex-wrap">
                            <div *ngFor="let ChoosedCoTeacherId of ChoosedCoTeacherIds">
                                <p *ngFor="let emp of Employees">
                                    @if(emp.id == ChoosedCoTeacherId){
                                <p class="p-2 rounded-md border bg-[#EBEBEB] text-[#6F6F6F] m-1">
                                    {{emp.en_name}}
                                    <i class="fa-solid fa-xmark text-red-600 ml-3"
                                        (click)="removeFromCoTeachers(ChoosedCoTeacherId, $event)"></i>
                                </p>
                                }
                                </p>
                            </div>
                        </div>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>

                    <div *ngIf="isDropdownOpen"
                        class=" w-full border border-[#E5E5EA] rounded-md bg-white mt-1 max-h-60 overflow-y-auto">
                        @if(Employees.length !==0 ) {
                        <div class="p-2 hover:bg-gray-100 flex items-center space-x-3 rtl:space-x-reverse border-b">
                            <input type="checkbox" id="selectAllCoTeachers" class="mr-2"
                                (change)="toggleSelectAll($event)"
                                [checked]="ChoosedCoTeacherIds.length === Employees.length" />
                            <label for="selectAllCoTeachers" class="text-xs md:text-sm w-full font-semibold">{{ 'Select'
                                | translate }} {{ 'All' | translate }}</label>
                        </div>
                        <div *ngFor="let emp of Employees"
                            class="p-2 hover:bg-gray-100 flex items-center space-x-3  rtl:space-x-reverse">
                            <input type="checkbox" id="emp{{emp.id}}" class="mr-2" [value]="emp.id"
                                (change)="onCoTeacherChange(emp.id, $event)"
                                [checked]="ChoosedCoTeacherIds.includes(emp.id)">
                            <label for="emp{{emp.id}}" class="text-xs md:text-sm w-full">{{ emp.en_name }}</label>
                        </div>
                        }@else {
                        <div class="p-2">{{ 'No Data Found' | translate }}</div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-end">
            <button [disabled]="isLoading" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg"
                (click)="Save()">
                <span *ngIf="!isLoading">{{ 'Save' | translate }}</span>
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>
</div>