<div class="">
    <div class="flex justify-between">
        <h1 class="primaryTxt font-semibold text-2xl leading-9">Accounting Configuration</h1> 
    </div>

    <div>
        <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD]">
            <table class="w-full tabe inset-0 bg-[#EBEBEB] text-left text-[#6F6F6F]">
                <thead class="bg-[#EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                    <tr>
                        <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            ID
                        </th> 
                        <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            Purchase Account Name
                        </th>  
                        <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            Purchase Return Account Name
                        </th>  
                        <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            Sales Account Name
                        </th>  
                        <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                            Sales Return Account Name
                        </th>   
                    </tr>
                </thead>
                <tbody>  
                    <tr class="bg-white border-t border-gray-300 text-xs md:text-sm">
                        <!-- <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            {{ accountConfigData.id }}
                        </td> 
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            {{ accountConfigData.name }}
                        </td>  
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            {{ accountConfigData.activityCode }}
                        </td>  
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            {{ accountConfigData.accountConfigType }}
                        </td>  
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            {{ accountConfigData.countryCode }}
                        </td>     -->
                        <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                            <div class="flex space-x-4"> 
                                <button (click)="openModal()">
                                    <i class="fa-solid fa-pencil"></i>
                                </button> 
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 

<!-- Modal -->
<!-- <div id="Add_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-[669px] max-h-[90%] overflow-y-auto">
        <div class="flex justify-between items-center"> 
            <h1 class="font-semibold text-2xl leading-9">Tax Issuer</h1>
            <button (click)="closeModal()" type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>
        
        <div class="mt-6 mb-4 flex justify-between flex-wrap">  
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2 primaryTxt" for="taxTypes">Tax Type</label>
                <select [(ngModel)]="taxDataToEdit.typeID"
                class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="taxTypes" >
                    <option [value]="null" disabled selected hidden>Select Tax Type</option>
                    <option *ngFor="let status of taxTypes" [value]="status.id">{{ status.type }}</option>
                    <option *ngIf="taxTypes.length === 0" disabled selected>No Data Found</option>
                </select>
            </div>   
        </div> 

        <div class="flex justify-end">
            <button
                [disabled]="isLoading"
                class="secondaryBg text-white font-medium px-4 py-2 rounded-lg cursor-pointer"
                (click)="save()">
                <span *ngIf="!isLoading">Save</span>
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>
</div>  -->