<div class="rounded-lg py-2 lg:py-3 px-3 lg:px-6 primaryBg">
    <div class="flex items-center justify-between">
        <div>
            <img src="Images/OctaWhiteLogo3.png">
        </div>
        <div>
            <input type="text"
                class="lg:w-[543px] lg:h-[53px] rounded-[8px] border border-gray-300 px-3 lg:px-4 py-2 lg:py-3"
                placeholder="{{ 'Enter Key Word' | translate }}" />
        </div> 
        <div class="flex space-x-4 rtl:space-x-reverse items-center"> 
            <div class="relative dropdown-container"> 
                <div class="relative cursor-pointer hover:opacity-80 hover:scale-110 transition-all" (click)="toggleNotificationPopup()" >
                    <i class="fi fi-rr-comment-alt-dots text-white text-3xl flex items-center"></i> 
                    <span *ngIf="notificationsUnSeenCount > 0"
                        class="primaryBg absolute -top-2 -right-2 border-2 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs font-bold" >
                        {{ notificationsUnSeenCount }}
                    </span>
                </div>
            </div>
            <div class="relative dropdown-container"> 
                <div class="relative cursor-pointer hover:opacity-80 hover:scale-110 transition-all" (click)="toggleRequestPopup()" > 
                    <i class="fi fi-rs-paper-plane text-white text-3xl flex items-center"></i> 
                    <span *ngIf="requestsUnSeenCount > 0"
                        class="primaryBg absolute -top-2 -right-2 border-2 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs font-bold" >
                        {{ requestsUnSeenCount }}
                    </span>
                </div>
                <div *ngIf="isRequuestPopupOpen" class="absolute ltr:right-0 rtl:left-0 mt-2 w-[440px] bg-white shadow-lg z-50">
                    <div class="flex justify-between space-x-3 rtl:space-x-reverse p-4">
                        <h3 class="primaryTxt font-semibold">Requests</h3>
                        <div class="flex space-x-2">
                            <button (click)="sendRequest()"
                                class="rounded secondaryBorder secondaryTxt text-xs py-1 px-2 flex items-center justify-center">
                                Send Request
                            </button>
                            <button (click)="viewAllRequests()" class="text-gray-500 text-sm hover:text-gray-700 transition">View All <i class="fas fa-arrow-right ml-2"></i></button>
                        </div>
                    </div>
                    <ul>
                        <li *ngFor="let request of requests; let i = index" class="relative" (click)="viewRequest(request)">
                            <div>
                                <div *ngIf="!request.seenOrNot"
                                    class="absolute top-2 left-2 w-2.5 h-2.5 border border-[#4d8db4] bg-[#8ccff8b6] rounded-full z-10">
                                </div>
                                <div class="flex hover:bg-gray-100 p-3 items-start" [ngClass]="{'border-b': i != requests.length, 'bg-[#e3ebf0b6]': !request.seenOrNot}">
                                    <div class="flex-shrink-0">
                                        <img src="Images/person-dummy.jpg" class="cursor-pointer rounded-full w-14" alt="Profile Photo">
                                    </div>
                                    <div class="ml-4 text-start w-full"> 
                                        <p *ngIf="request.forwardedFromID" class="primaryTxt text-sm"><span class="font-semibold">{{ request.forwardedFromEnglishName }} (Employee)</span> Forwarded You This Request From <span class="font-semibold">{{ request.senderEnglishName }} ({{ request.senderUserTypeName.charAt(0).toUpperCase() + request.senderUserTypeName.slice(1).toLowerCase() }})</span></p>
                                        <p *ngIf="!request.forwardedFromID" class="primaryTxt text-sm"><span class="font-semibold">{{ request.senderEnglishName }} ({{ request.senderUserTypeName.charAt(0).toUpperCase() + request.senderUserTypeName.slice(1).toLowerCase() }})</span> Requested From You</p>
                                        <div class="mt-4 flex flex-col space-y-3">
                                            <div *ngIf="request.message" class="w-[70%] border-l-4 border-gray-300 pl-4 primaryTxt text-base leading-relaxed truncate overflow-hidden whitespace-nowrap">
                                                {{request.message}}
                                            </div> 
                                            <div *ngIf="request.fileLink" class="flex space-x-2 items-center">
                                                <img src="Images/Icon frame.png" class="border p-[4px] w-10 rounded-md" alt="Photo">
                                                <span class="primaryTxt text-sm font-semibold">{{getFileName(request.fileLink)}}</span>
                                            </div> 
                                            <div *ngIf="request.link" class="secondaryTxt text-sm font-semibold">        
                                                <a [href]="request.link" class="border-b border-[#089B41] hover:text-[#089b408c]"
                                                    target="_blank" (click)="$event.stopPropagation();"
                                                    rel="noopener"> <!-- Prevents the new tab from having access to the original page via window.opener -->
                                                    View Link
                                                </a>                                    
                                            </div> 
                                            <div *ngIf="!request.forwardedOrNot && request.approvedOrNot == null" class="flex space-x-2">
                                                <button (click)="$event.stopPropagation(); Accept(request)"
                                                    class="rounded secondaryBg text-white text-xs py-1 px-2 flex items-center justify-center">
                                                    Accept
                                                </button>
                                                <button *ngIf="request.receiverUserTypeID == 1" (click)="$event.stopPropagation(); Forward(request)"
                                                    class="rounded secondaryBorder secondaryTxt text-xs py-1 px-2 flex items-center justify-center">
                                                    Forward
                                                </button>
                                                <button (click)="$event.stopPropagation(); Decline(request)"
                                                    class="rounded border border-[#6F6F6F] text-[#6F6F6F] text-xs py-1 px-2 flex items-center justify-center">
                                                    Decline
                                                </button>
                                            </div>
                                            <div *ngIf="request.forwardedOrNot">
                                                <p class="rounded secondaryBorder secondaryTxt text-xs py-1 px-2 flex items-center justify-center">
                                                    Forwarded To {{request.forwardedToEnglishName}}
                                                </p> 
                                            </div>
                                            <div *ngIf="request.approvedOrNot != null" >
                                                <p *ngIf="request.approvedOrNot == true" class="rounded secondaryBg text-white text-xs py-1 px-2 flex items-center justify-center">
                                                    Accepted
                                                </p> 
                                                <p *ngIf="request.approvedOrNot == false" class="rounded border border-[#6F6F6F] text-[#6F6F6F] text-xs py-1 px-2 flex items-center justify-center">
                                                    Declined
                                                </p> 
                                            </div>
                                        </div>
                                        <p class="text-[#BDBDBD] text-sm font-semibold mt-2">{{ formatInsertedAt(request.insertedAt) }}</p>
                                    </div>
                                </div>
                            </div> 
                        </li>
                        <li *ngIf="requests.length == 0"> 
                            <div class="flex justify-center">
                                <p class="text-[#BDBDBD]">No Requests Yet</p>
                            </div>  
                        </li>
                    </ul> 
                </div>
            </div>
            <div class="relative dropdown-container">  
                <div class="relative cursor-pointer hover:opacity-80 hover:scale-110 transition-all" (click)="toggleNotificationPopup()" >
                    <i class="fa-regular fa-bell text-white text-3xl"></i> 
                    <span *ngIf="notificationsUnSeenCount > 0"
                        class="primaryBg absolute -top-2 -right-2 border-2 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs font-bold" >
                        {{ notificationsUnSeenCount }}
                    </span>
                </div>
                <div *ngIf="isNotificationPopupOpen" class="absolute ltr:right-0 rtl:left-0 mt-2 w-[440px] bg-white shadow-lg z-50">
                    <div class="flex justify-between space-x-3 rtl:space-x-reverse p-4">
                        <h3 class="primaryTxt font-semibold">Notifications</h3>
                        <button (click)="viewAllNotifications()" class="text-gray-500 text-sm hover:text-gray-700 transition">View All <i class="fas fa-arrow-right ml-2"></i></button>
                    </div>
                    <ul>
                        <li *ngFor="let notification of notifications; let i = index" class="relative" (click)="viewNotification(notification)">
                             <div *ngIf="!notification.seenOrNot"
                                class="absolute top-2 left-2 w-2.5 h-2.5 border border-[#4d8db4] bg-[#8ccff8b6] rounded-full z-10">
                            </div>
                            <div class="flex hover:bg-gray-100 p-3 items-start" [ngClass]="{'border-b': i != notifications.length, 'bg-[#e3ebf0b6]': !notification.seenOrNot}">
                                <div class="flex-shrink-0">
                                    <img src="Images/person-dummy.jpg" class="cursor-pointer rounded-full w-14" alt="Profile Photo">
                                </div>
                                <div class="ml-4 text-start w-full"> 
                                    <p *ngIf="notification.insertedByUserName" class="primaryTxt text-sm"><span class="font-semibold">{{ notification.insertedByUserName }}</span> Notifed You</p>
                                    <div class="mt-4 flex flex-col space-y-3">
                                        <div *ngIf="notification.text" class="w-[70%] border-l-4 border-gray-300 pl-4 primaryTxt text-base leading-relaxed truncate overflow-hidden whitespace-nowrap">
                                            {{notification.text}}
                                        </div> 
                                        <div *ngIf="notification.imageLink" class="flex space-x-2 items-center">
                                            <img src="Images/Icon frame.png" class="border p-[4px] w-10 rounded-md" alt="Photo">
                                            <span class="primaryTxt text-sm font-semibold">{{getFileName(notification.imageLink)}}</span>
                                        </div> 
                                        <div *ngIf="notification.link" class="secondaryTxt text-sm font-semibold">        
                                            <a [href]="notification.link" class="border-b border-[#089B41] hover:text-[#089b408c]"
                                                target="_blank" (click)="$event.stopPropagation(); LinkOpened(notification)"
                                                rel="noopener"> <!-- Prevents the new tab from having access to the original page via window.opener -->
                                                View Link
                                            </a>                                    
                                        </div> 
                                    </div>
                                    <p class="text-[#BDBDBD] text-sm font-semibold mt-2">{{ formatInsertedAt(notification.insertedAt) }}</p>
                                </div>
                            </div>
                        </li>
                        <li *ngIf="notifications.length == 0"> 
                            <div class="flex justify-center">
                                <p class="text-[#BDBDBD]">No Notifications Yet</p>
                            </div>  
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between space-x-3 rtl:space-x-reverse">
            <div>
                <i class="fa-solid fa-globe text-white text-2xl"></i>
            </div>
            <div class="relative">
                <button class="lg:flex items-center lg:space-x-2 rtl:space-x-reverse font-semibold text-white"
                    (click)="toggleDropdown()">
                    <p class="hidden lg:block">{{ selectedLanguage }}</p>
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div *ngIf="dropdownOpen" class="absolute mt-2 w-32 bg-white text-gray-700 rounded-md shadow-lg z-50">
                    <a class="block px-4 py-2 hover:bg-gray-200" (click)="selectLanguage('en')">English</a>
                    <a class="block px-4 py-2 hover:bg-gray-200" (click)="selectLanguage('ar')">العربية</a>
                </div>
            </div>
        </div>
        <div>
            <div class="relative dropdown-container">
                <div class="flex items-center justify-between space-x-3 rtl:space-x-reverse" (click)="togglePopup()">
                    <img src="Images/person-dummy.jpg" class="cursor-pointer rounded-full w-14" alt="Profile Photo">
                    <div class="hidden font-semibold text-white lg:flex flex-col space-y-2">
                        <div class="text-xl">
                            {{userName}}
                        </div>
                        <div class="text-sm">
                            {{ User_Type.charAt(0).toUpperCase() + User_Type.slice(1).toLowerCase() }}
                        </div>
                    </div>
                </div>
                <div *ngIf="isPopupOpen"
                    class="absolute ltr:right-0 rtl:left-0 mt-2 w-60 max-w-xs bg-white rounded-lg shadow-lg p-4 z-50">
                    <h3 class="font-semibold text-gray-700">Account Options</h3>
                    <ul class="mt-2">
                        <li *ngFor="let token of allTokens">
                            <button (click)="ChangeAccount(token.id)" [ngClass]="{'border bg-gray-100':token.key == userName && token.UserType == User_Type}"
                                class="text-start w-full hover:bg-gray-100 p-2 rounded-md"> 
                                <p class="primaryTxt">{{ token.key }}</p>
                                <p class="text-gray-500 text-xs">{{ token.UserType }}</p>
                            </button>
                        </li>
                    </ul>
                    <button (click)="openModal()" class="text-start w-full hover:bg-gray-100 p-2 rounded-md">Change Password</button>
                    <button (click)="gotologin()" class="text-start w-full hover:bg-gray-100 p-2 rounded-md">Add New
                        Account</button>
                    <button (click)="logOut()" class="text-start w-full hover:bg-gray-100 p-2 rounded-md">Log
                        Out</button>
                    <button (click)="logOutAll()" class="text-start w-full hover:bg-gray-100 p-2 rounded-md">Log Out
                        From All Accounts</button>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div id="ChangePassModal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl px-12 py-9 w-1/3">
        <div class="flex justify-between items-center">
            <h1 class="font-semibold text-2xl leading-9">Change Password</h1> 
            <button (click)="closeModal()" type="button" class="text-gray-500 hover:text-gray-600 font-bold text-xl">X</button>
        </div>

        <div class="mt-6 flex flex-wrap justify-between mb-4">
            <div class="flex flex-col w-full mb-4"> 
                <label class="primaryTxt mb-2 font-medium" for="OldPassword">Old Password</label>
                <input id="OldPassword" type="password" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="Enter Old password"
                (input)="onoldPasswordChange()" autocomplete="new-password" [(ngModel)]="editpasss.oldPassword"/> 
                <span *ngIf="OldPasswordError" class="text-red-500 text-sm font-normal">{{ OldPasswordError }}</span>
            </div> 
            <div class="flex flex-col w-full mb-4"> 
                <label class="primaryTxt mb-2 font-medium" for="Password">Password</label>
                <input id="Password" type="password" autocomplete="new-password" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="Enter the password"
                (input)="onPasswordChange()" [(ngModel)]="password"/>
                <span *ngIf="PasswordError" class="text-red-500 text-sm font-normal">{{ PasswordError }}</span>
            </div> 
            <div class="flex flex-col w-full mb-4"> 
                <label class="primaryTxt mb-2 font-medium" for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" type="password" autocomplete="new-password" class="rounded-lg border border-solid border-gray-300 px-4 py-3" placeholder="Enter the password Again"
                [(ngModel)]="confirmPassword"/> 
            </div> 
        </div> 
        <div class="flex justify-end">
            <button  
                [disabled]="isLoading" 
                class="secondaryBg text-white font-medium px-4 py-2 rounded-lg" 
                (click)="Save()">
                <span *ngIf="!isLoading">Save</span>
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
              </button>
        </div>
    </div>
</div>


<!-- NotificationModal -->
<div id="NotificationModal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden overflow-x-hide">
    <div class="bg-white rounded-2xl p-5 w-1/3 max-h-[75vh] overflow-y-auto overflow-x-hide"> 
        <div class="flex justify-end">  
            <button (click)="closeNotificationModal()" type="button" class="text-gray-500 hover:text-gray-600 font-bold text-xl">X</button>
        </div>
        <div class="flex p-3 items-start max-w-full overflow-y-auto overflow-x-hide">
            <div class="flex-shrink-0">
                <img src="Images/person-dummy.jpg" class="cursor-pointer rounded-full w-14" alt="Profile Photo">
            </div>
            <div class="ml-4 text-start"> 
                <p *ngIf="notificationByID.insertedByUserName" class="primaryTxt text-sm"><span class="font-semibold">{{ notificationByID.insertedByUserName }}</span> Notifed You</p>
                <div class="mt-4 flex flex-col space-y-3 ">
                    <div *ngIf="notificationByID.imageLink" class="flex space-x-2 items-center"> 
                        <img [src]="notificationByID.imageLink" class="w-[200px] object-cover rounded-md"> 
                    </div> 
                    <div *ngIf="notificationByID.link" class="secondaryTxt text-sm font-semibold">        
                        <a [href]="notificationByID.link" class="border-b border-[#089B41] hover:text-[#089b408c]"
                        target="_blank" (click)="LinkOpened(notificationByID)"
                        rel="noopener"> <!-- Prevents the new tab from having access to the original page via window.opener -->
                        View Link
                        </a>                                    
                    </div> 
                    <div *ngIf="notificationByID.text" class="w-full border-l-4 border-gray-300 pl-4 primaryTxt text-base">
                        <p class="break-words">
                            {{notificationByID.text}}
                        </p>
                    </div> 
                </div>
                <p class="text-[#BDBDBD] text-sm font-semibold mt-2">{{ formatInsertedAt(notificationByID.insertedAt) }}</p>
            </div>
        </div>
    </div>
</div>


<!-- RequestModal -->
<div id="RequestModal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden overflow-x-hide">
    <div class="bg-white rounded-2xl p-5 w-1/3 max-h-[75vh] overflow-y-auto overflow-x-hide"> 
        <div class="flex justify-end">  
            <button (click)="closeRequestModal()" type="button" class="text-gray-500 hover:text-gray-600 font-bold text-xl">X</button>
        </div>
 
        <div class="flex p-3 items-start max-w-full overflow-y-auto overflow-x-hide">
            <div class="flex-shrink-0">
                <img src="Images/person-dummy.jpg" class="cursor-pointer rounded-full w-14" alt="Profile Photo">
            </div>  
            <div class="ml-4 text-start"> 
                <p *ngIf="requestByID.forwardedFromID" class="primaryTxt text-sm"><span class="font-semibold">{{ requestByID.forwardedFromEnglishName }} (Employee)</span> Forwarded You This Request From <span class="font-semibold">{{ requestByID.senderEnglishName }} ({{ requestByID.senderUserTypeName.charAt(0).toUpperCase() + requestByID.senderUserTypeName.slice(1).toLowerCase() }})</span></p>
                <p *ngIf="!requestByID.forwardedFromID" class="primaryTxt text-sm"><span class="font-semibold">{{ requestByID.senderEnglishName }} ({{ requestByID.senderUserTypeName.charAt(0).toUpperCase() + requestByID.senderUserTypeName.slice(1).toLowerCase() }})</span> Requested From You</p>
                <div class="mt-4 flex flex-col space-y-3 ">
                    <div *ngIf="requestByID.fileLink" class="flex space-x-2 items-center">  
                        <img src="Images/Icon frame.png" class="border p-[4px] w-10 rounded-md" alt="Photo">
                        <a href={{requestByID.fileLink}} class="secondaryTxt" target="_blank">
                            Click To Download
                        </a>
                    </div> 
                    <div *ngIf="requestByID.link" class="secondaryTxt text-sm font-semibold">        
                        <a [href]="notificationByID.link" class="border-b border-[#089B41] hover:text-[#089b408c]"
                        target="_blank"
                        rel="noopener"> <!-- Prevents the new tab from having access to the original page via window.opener -->
                        View Link
                        </a>                                    
                    </div> 
                    <div *ngIf="requestByID.message" class="w-full border-l-4 border-gray-300 pl-4 primaryTxt text-base">
                        <p class="break-words">
                            {{requestByID.message}}
                        </p>
                    </div> 
                    <div *ngIf="!requestByID.forwardedOrNot && requestByID.approvedOrNot == null" class="flex space-x-2">
                        <button (click)="$event.stopPropagation(); Accept(requestByID)"
                            class="rounded secondaryBg text-white text-xs py-1 px-2 flex items-center justify-center">
                            Accept
                        </button>
                        <button *ngIf="requestByID.receiverUserTypeID == 1" (click)="$event.stopPropagation(); Forward(requestByID)"
                            class="rounded secondaryBorder secondaryTxt text-xs py-1 px-2 flex items-center justify-center">
                            Forward
                        </button>
                        <button (click)="$event.stopPropagation(); Decline(requestByID)"
                            class="rounded border border-[#6F6F6F] text-[#6F6F6F] text-xs py-1 px-2 flex items-center justify-center">
                            Decline
                        </button>
                    </div>
                    <div *ngIf="requestByID.forwardedOrNot">
                        <p class="rounded secondaryBorder secondaryTxt text-xs py-1 px-2 flex items-center justify-center">
                            Forwarded To {{requestByID.forwardedToEnglishName}}
                        </p> 
                    </div>
                    <div *ngIf="requestByID.approvedOrNot != null" >
                        <p *ngIf="requestByID.approvedOrNot == true" class="rounded secondaryBg text-white text-xs py-1 px-2 flex items-center justify-center">
                            Accepted
                        </p> 
                        <p *ngIf="requestByID.approvedOrNot == false" class="rounded border border-[#6F6F6F] text-[#6F6F6F] text-xs py-1 px-2 flex items-center justify-center">
                            Declined
                        </p> 
                    </div>
                </div>
                <p class="text-[#BDBDBD] text-sm font-semibold mt-2">{{ formatInsertedAt(notificationByID.insertedAt) }}</p>
            </div>
        </div>
    </div>
</div>


<!-- Forward_Modal -->
<div id="Forward_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-[669px] max-h-[90%] overflow-y-auto">
        <div class="flex justify-between items-center">
            <h1 class="font-semibold text-2xl leading-9">Forward Request</h1> 
            <button (click)="closeForwardModal()" type="button"
                class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>

        <div class="mt-6 mb-4 flex justify-between flex-wrap">  
            <div class="w-full"> 
                <div class="flex flex-col w-full mb-4">
                    <label class="primaryTxt mb-2" for="Department">Department</label>
                    <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Department" 
                    [(ngModel)]="departmentID" (change)="onDepartmentChange($event)">
                        <option [value]="0" disabled selected hidden>Choose Department</option>
                        <option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</option>
                        <option *ngIf="departments.length === 0" disabled selected>No Data Found</option>
                    </select>
                </div>
                <div class="flex flex-col w-full mb-4">
                    <label class="mb-2" for="employee" [ngClass]="{ 'text-gray-400': !departmentID, 'primaryTxt': departmentID }">
                       Choose Employee</label>
                    <select
                    class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="employee" [(ngModel)]="requestToBeForwarded.forwardToID"
                    [disabled]="!departmentID" [ngClass]="{ 'bg-[#EBEBEB]': !departmentID }">
                        <option [value]="0" disabled selected hidden>Choose Employee</option>
                        <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.en_name }}</option>
                        <option *ngIf="employees.length === 0 && departmentID" disabled selected>No Data Found</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="flex justify-end">
            <button [disabled]="isLoading"
                class="secondaryBg text-white font-medium px-4 py-2 rounded-lg cursor-pointer" (click)="SendForward()">
                <span *ngIf="!isLoading">Forward</span>
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>
</div>


<!-- SendRequest_Modal -->
 <div id="SendRequest_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-[669px] max-h-[90%] overflow-y-auto">
        <div class="flex justify-between items-center">
            <h1 class="font-semibold text-2xl leading-9">Send Request</h1> 
            <button (click)="closeSendRequestModal()" type="button"
                class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>

        <div class="mt-6 mb-4 flex justify-between flex-wrap"> 
            <div *ngIf="User_Data_After_Login.type == 'employee'" class="w-full m-auto mt-5"> 
                <div class="flex justify-center items-center space-x-2 rtl:space-x-reverse mb-4 m-auto">
                    <div>
                        <img [src]="isStudentHovered ? 'Images/Student_Hover.png' : 'Images/student.png'" alt="Student"
                        (click)="selectType(2)">
                    </div>
                    <div>
                        <img [src]="isParentHovered ? 'Images/parent_hover.png' : 'Images/parent.png'" alt="Parent"
                        (click)="selectType(3)">
                    </div>
                    <div>
                        <img [src]="isEmployeeHovered ? 'Images/employee_hover.png' : 'Images/employee.png'" alt="Employee"
                        (click)="selectType(1)">
                    </div>
                </div> 
            </div>
            
            <div *ngIf="User_Data_After_Login.type != 'employee'" class="w-full my-5 flex space-x-5 justify-center">  
                <div>
                    <p (click)="selectTypeForStudentAndParent(2)" [ngClass]="{
                            'font-bold text-[#089B41] border-b-2 border-[#089B41]': isTeacherHovered,
                            'text-gray-500': !isTeacherHovered }" class="cursor-pointer pb-1 transition-all"> 
                        Teacher
                    </p>
                </div>
                <div>
                    <p (click)="selectTypeForStudentAndParent(1)" [ngClass]="{
                            'font-bold text-[#089B41] border-b-2 border-[#089B41]': isEmployeeHovered,
                            'text-gray-500': !isEmployeeHovered
                        }" class="cursor-pointer pb-1 transition-all">
                        Employee
                    </p>
                </div>
            </div>

            <div class="w-full">
                <div *ngIf="isEmployeeHovered" class="w-full">
                    <div class="flex flex-col w-full mb-4">
                        <label class="primaryTxt mb-2" for="Department">Department</label>
                        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Department" 
                        [(ngModel)]="departmentID" (change)="onDepartmentChange($event)">
                            <option [value]="0" disabled selected hidden>Choose Department</option>
                            <option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</option>
                            <option *ngIf="departments.length === 0" disabled selected>No Data Found</option>
                        </select>
                    </div>
                    <div class="flex flex-col w-full mb-4">
                        <label class="mb-2" for="employee" [ngClass]="{ 'text-gray-400': !departmentID, 'primaryTxt': departmentID }">Employee</label>
                        <select
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="employee" [(ngModel)]="requestToBeSend.receiverID"
                        [disabled]="!departmentID" [ngClass]="{ 'bg-[#EBEBEB]': !departmentID }">
                            <option [value]="0" disabled selected hidden>Choose Employee</option>
                            <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.en_name }}</option>
                            <option *ngIf="employees.length === 0" disabled selected>No Data Found</option>
                        </select>
                    </div>
                </div>
    
                <div *ngIf="!isEmployeeHovered && User_Data_After_Login.type =='employee'" class="w-full">
                    <div class="flex flex-col w-full mb-4">
                        <label class="primaryTxt mb-2" for="School">School</label>
                        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="School" 
                        [(ngModel)]="schoolID" (change)="onSchoolChange($event)">
                            <option [value]="0" disabled selected hidden>Choose School</option>
                            <option *ngFor="let school of schools" [value]="school.id">{{ school.name }}</option>
                            <option *ngIf="schools.length === 0" disabled selected> No Data Found</option>
                        </select>
                    </div>
                    <div class="flex flex-col w-full mb-4">
                        <label class="mb-2" for="Section" [ngClass]="{ 'text-gray-400': !schoolID, 'primaryTxt': schoolID }">Section</label>
                        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Section" 
                        [(ngModel)]="sectionID" (change)="onSectionChange($event)"
                        [disabled]="!schoolID" [ngClass]="{ 'bg-[#EBEBEB]': !schoolID }">
                            <option [value]="0" disabled selected hidden>Choose Section</option>
                            <option *ngFor="let section of sections" [value]="section.id">{{ section.name }}</option>
                            <option *ngIf="sections.length === 0" disabled selected>No Data Found</option>
                        </select>
                    </div>
                    <div class="flex flex-col w-full mb-4">
                        <label class="mb-2" for="grade" [ngClass]="{ 'text-gray-400': !sectionID, 'primaryTxt': sectionID }">Grade</label>
                        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="grade" 
                        [(ngModel)]="gradeID" (change)="onGradeChange($event)"
                        [disabled]="!sectionID" [ngClass]="{ 'bg-[#EBEBEB]': !sectionID }">
                            <option [value]="0" disabled selected hidden>Choose Grade</option>
                            <option *ngFor="let grade of grades" [value]="grade.id">{{ grade.name }}</option>
                            <option *ngIf="grades.length === 0" disabled selected>No Data Found</option>
                        </select>
                    </div>
                    <div class="flex flex-col w-full mb-4">
                        <label class="mb-2" for="classroom" [ngClass]="{ 'text-gray-400': !gradeID, 'primaryTxt': gradeID }">Classroom</label>
                        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="classroom" 
                        [(ngModel)]="classroomID" (change)="onClassroomChange($event)"
                        [disabled]="!gradeID" [ngClass]="{ 'bg-[#EBEBEB]': !gradeID }">
                            <option [value]="0" disabled selected hidden>Choose Classroom</option>
                            <option *ngFor="let classroom of classrooms" [value]="classroom.id">{{ classroom.name }}</option>
                            <option *ngIf="classrooms.length === 0" disabled selected>No Data Found</option>
                        </select>
                    </div>
                    <div class="flex flex-col w-full mb-4">
                        <label class="mb-2" for="student" [ngClass]="{ 'text-gray-400': !classroomID, 'primaryTxt': classroomID }">Student</label>
                        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="student" 
                        [(ngModel)]="requestToBeSend.receiverID"
                        [disabled]="!classroomID" [ngClass]="{ 'bg-[#EBEBEB]': !classroomID }">
                            <option [value]="0" disabled selected hidden>Choose Student</option>
                            <option *ngFor="let student of students" [value]="student.id">{{ student.en_name }}</option>
                            <option *ngIf="students.length === 0" disabled selected>No Data Found</option>
                        </select>
                    </div>
                </div> 

                <div *ngIf="isTeacherHovered" class="w-full">
                    <div *ngIf="User_Data_After_Login.type == 'parent'" class="flex flex-col w-full mb-4">
                        <label class="primaryTxt mb-2" for="StudentParent">Student</label>
                        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="StudentParent" 
                        [(ngModel)]="requestToBeSend.studentID" (change)="onStudentChange($event)">
                            <option [value]="0" disabled selected hidden>Choose Student</option>
                            <option *ngFor="let student of students" [value]="student.id">{{ student.en_name }}</option>
                            <option *ngIf="students.length === 0" disabled selected> No Data Found</option>
                        </select>
                    </div>
                    <div class="flex flex-col w-full mb-4">
                        <label class="mb-2" for="Subject" [ngClass]="{ 'text-gray-400': !requestToBeSend.studentID, 'primaryTxt': requestToBeSend.studentID }">Subject</label>
                        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Subject" 
                        [(ngModel)]="subjectID" (change)="onSubjectChange($event)"
                        [disabled]="!requestToBeSend.studentID" [ngClass]="{ 'bg-[#EBEBEB]': !requestToBeSend.studentID }">
                            <option [value]="0" disabled selected hidden>Choose Subject</option>
                            <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.en_name }}</option>
                            <option *ngIf="subjects.length === 0" disabled selected>No Data Found</option>
                        </select>
                    </div>
                    <div class="flex flex-col w-full mb-4">
                        <label class="mb-2" for="Teacher" [ngClass]="{ 'text-gray-400': !subjectID, 'primaryTxt': subjectID }">Teacher</label>
                        <select
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Teacher" [(ngModel)]="requestToBeSend.receiverID"
                        [disabled]="!subjectID" [ngClass]="{ 'bg-[#EBEBEB]': !subjectID }">
                            <option [value]="0" disabled selected hidden>Choose Teacher</option>
                            <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.en_name }}</option>
                            <option *ngIf="employees.length === 0" disabled selected>No Data Found</option>
                        </select>
                    </div>
                </div> 
    
                <div class="flex flex-col mb-4 w-full">
                    <label class="mb-2 primaryTxt" for="text">Message</label>
                    <input id="text" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3" 
                    placeholder="Enter Message" [(ngModel)]="requestToBeSend.message" /> 
                </div> 
                <div class="flex flex-col mb-4 w-full">
                    <label class="mb-2 primaryTxt" for="link">Link</label>
                    <input id="link" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                        placeholder="Enter Link" [(ngModel)]="requestToBeSend.link" /> 
                </div> 
                <div class="w-full mb-4"> 
                    <div class="bg-[#F6F6F6] flex items-center space-x-4 rtl:space-x-reverse w-full rounded-md border-dashed border-2">
                        <div class="flex justify-center w-full">
                            <label for="file-upload" class="cursor-pointer flex flex-col items-center rounded-xl px-6 py-3 lg:py-5">
                                <img *ngIf="!requestToBeSend.fileFile" src="Images/Icon frame.png" class="w-1/4">
                                <img *ngIf="requestToBeSend.fileFile" src="Images/FileAttached.png" class="w-1/4"> 
                                <p class="font-normal text-xs md:text-sm text-[#8E8E93] mt-3"><span class="secondaryTxt">Click To Upload</span></p>
                                <p class="font-normal text-xs md:text-sm text-[#8E8E93]">(Max. File size: 25 MB)</p>
                            </label>
                            <input id="file-upload" type="file" class="hidden" (change)="onFileSelected($event)" />
                        </div>
                    </div> 
                </div>   
            </div>
        </div>

        <div class="flex justify-end">
            <button [disabled]="isLoading"
                class="secondaryBg text-white font-medium px-4 py-2 rounded-lg cursor-pointer" (click)="Send()">
                <span *ngIf="!isLoading">Send</span>
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>
</div>