<div class="border border-gray-300 rounded-lg px-6 py-4 bg-white">

  <div class="flex items-center justify-between">

    <!-- Step 1 -->
    <div class="flex items-center cursor-pointer" (click)="goToSection(1)">
      <div class="w-5 h-5 rounded-full border-2 flex items-center justify-center" [ngClass]="{
          'bg-orange-500 border-orange-500': currentSection >= 1,
          'border-gray-300 bg-white': currentSection < 1
        }">
        <i *ngIf="currentSection >= 1" class="fa fa-check text-orange-500 text-xs"></i>
      </div>

      <span class="ml-2 text-sm font-medium" [ngClass]="{
          'text-orange-500': currentSection === 1,
          'text-gray-400': currentSection !== 1
        }">
        Personal Info
      </span>
    </div>

    <!-- Line -->
    <div class="flex-1 h-[2px] mx-4" [ngClass]="{
        'bg-orange-500': currentSection > 1,
        'bg-gray-300': currentSection <= 1
      }">
    </div>

    <!-- Step 2 -->
    <div class="flex items-center cursor-pointer" (click)="goToSection(2)">
      <div class="w-5 h-5 rounded-full border-2 flex items-center justify-center" [ngClass]="{
          'bg-orange-500 border-orange-500': currentSection >= 2,
          'border-gray-300 bg-white': currentSection < 2
        }">
        <i *ngIf="currentSection > 2" class="fa fa-check text-white text-xs"></i>
      </div>

      <span class="ml-2 text-sm font-medium" [ngClass]="{
          'text-orange-500': currentSection === 2,
          'text-gray-400': currentSection !== 2
        }">
        Experience Info
      </span>
    </div>

    <!-- Line -->
    <div class="flex-1 h-[2px] mx-4" [ngClass]="{
        'bg-orange-500': currentSection > 2,
        'bg-gray-300': currentSection <= 2
      }">
    </div>

    <!-- Step 3 -->
    <div class="flex items-center cursor-pointer" (click)="goToSection(3)">
      <div class="w-5 h-5 rounded-full border-2 flex items-center justify-center" [ngClass]="{
          'bg-orange-500 border-orange-500': currentSection >= 3,
          'border-gray-300 bg-white': currentSection < 3
        }">
        <i *ngIf="currentSection > 3" class="fa fa-check text-white text-xs"></i>
      </div>

      <span class="ml-2 text-sm font-medium" [ngClass]="{
          'text-orange-500': currentSection === 3,
          'text-gray-400': currentSection !== 3
        }">
        Additional Notes
      </span>
    </div>

  </div>

</div>


<!-- <div *ngIf="!showRegistrationForm"> -->
<div *ngIf="currentSection === 1">
  <div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
      <i class="fa-solid fa-chevron-left cursor-pointer" (click)="moveToEmployee()"></i>
      <h1 class="primaryTxt font-semibold text-2xl leading-9">
        {{ mode === 'Create' ? ('Create Application For Employee ' | translate) : ('Edit Application For Employee' |
        translate) }}
      </h1>
    </div>
  </div>

  <div class="flex gap-6 p-6 bg-gray-100 rounded-lg mb-6">

    <!-- Left Side (Inputs under each other) -->
    <div class="flex flex-col w-[49%]">

      <!-- Application Date -->
      <div class="flex flex-col mb-4">
        <label class="mb-2 primaryTxt" for="applicationDate">
          {{ 'Application Date' | translate }}
        </label>
        <input id="applicationDate" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
          placeholder="{{ 'Enter application Date' | translate }}" [(ngModel)]="Data.applicationDate"
          (ngModelChange)="onInputValueChange({ field: 'applicationDate', value: $event })" />
        <span *ngIf="validationErrors['applicationDate']" class="text-red-500 ml-3 font-normal">
          {{ validationErrors['applicationDate'] }}
        </span>
      </div>

      <!-- Position Applied For -->
      <div class="flex flex-col mb-4">
        <label class="mb-2 primaryTxt" for="positionAppliedFor">
          {{ 'Position Applied For' | translate }}
        </label>

        <select id="positionAppliedFor" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
          [(ngModel)]="Data.titleID" (change)="onTitleSelected($event)">
          <option [ngValue]="null" disabled>{{ 'Select position' | translate }}</option>
          <option *ngFor="let title of titles" [value]="title.id">
            {{ title.name }}
          </option>
        </select>
        <span *ngIf="validationErrors['titleName']" class="text-red-500 ml-3 font-normal">
          {{ validationErrors['titleName'] }}
        </span>
      </div>
    </div>


    <!-- Right Side (Profile Image Upload) -->
    <div class="w-[35%] flex flex-col items-center justify-center">
      <div class="w-40 h-40 mb-3 relative">
        <img [src]="Data.profileImage || 'https://d393tpgdl2mqkp.cloudfront.net/public/Images/DefaultProfileImage.png'"
          alt="" class="w-full h-full object-cover rounded-lg border border-gray-300" />
        <!-- أيقونة تعديل الصورة في الزاوية -->
        <label for="profileImageInput"
          class="absolute bottom-1 right-1 bg-white rounded-full p-1 cursor-pointer shadow-md" title="Upload new image">
          <i class="fas fa-camera text-gray-600"></i>
        </label>
      </div>
      <input id="profileImageInput" type="file" accept=".jpg,.jpeg,.png,.gif" class="hidden"
        (change)="onProfileImageSelected($event)" />

      <p class="text-xs text-gray-500 text-center">
        upload your profile image
      </p>
    </div>


  </div>

  <h1 class="font-semibold text-2xl leading-9">
    {{ 'Registration Form ' | translate }}
  </h1>


  <div class="flex flex-col mt-6 bg-[#FFF5EE] w-[100%] border rounded-lg mb-4">
    <h1 class="order-1 font-semibold text-2xl leading-9 text-orange-700">
      {{ 'Personal Information' | translate }}
    </h1>
  </div>


  <div class="mt-12 mb-4 rounded-3xl flex justify-between flex-wrap">

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="enName"> {{ 'English Name' | translate }}</label>
      <input id="enName" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'en_name', value: $event })"
        placeholder="{{ 'Enter English Name' | translate }}" [(ngModel)]="Data.en_name" />
      <span *ngIf="validationErrors['en_name']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["en_name"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="ArName"> {{ 'Arabic Name' | translate }}</label>
      <input id="ArName" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'ar_name', value: $event })"
        placeholder="{{ 'Enter Arabic Name' | translate }}" [(ngModel)]="Data.ar_name" />
      <span *ngIf="validationErrors['ar_name']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["ar_name"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="faculty"> {{ 'faculty' | translate }}</label>
      <input id="faculty" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'faculty', value: $event })"
        placeholder="{{ 'Enter Name faculty' | translate }}" [(ngModel)]="Data.faculty" />
      <span *ngIf="validationErrors['ar_name']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["faculty"]}}</span>
    </div>


    <div class="flex flex-col mb-4 w-[49%]">
      <label for="nationality">{{ 'Nationality' | translate }}</label>
      <select id="nationality" [(ngModel)]="Data.nationality"
        (ngModelChange)="onInputValueChange({ field: 'nationality', value: $event })"
        class="rounded-lg border border-gray-300 px-4 py-2 w-full">
        <option value="" disabled selected>{{ 'Select Nationality' | translate }}</option>
        <ng-container *ngIf="nationalities.length > 0">
          <option *ngFor="let nationality of nationalities" [value]="nationality.id">{{ nationality.name }}</option>
        </ng-container>
        <option *ngIf="nationalities.length === 0" disabled>{{ 'No Data Found' | translate }}</option>
      </select>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="university"> {{ 'University' | translate }}</label>
      <input id="faculty" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'university', value: $event })"
        placeholder="{{ 'Enter Name university' | translate }}" [(ngModel)]="Data.university" />
      <span *ngIf="validationErrors['university']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["university"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label for="gender">{{ 'Gender' | translate }}</label>
      <select id="gender" [(ngModel)]="Data.gender"
        (ngModelChange)="onInputValueChange({ field: 'gender', value: $event })"
        class="rounded-lg border border-gray-300 px-4 py-2 w-full">
        <option value="" disabled selected>{{ 'Select Gender' | translate }}</option>
        <ng-container *ngIf="Gender.length > 0">
          <option *ngFor="let gender of Gender" [value]="gender.id">{{ gender.name | translate }}</option>
        </ng-container>
        <option *ngIf="Gender.length === 0" disabled>{{ 'No Data Found' | translate }}</option>
      </select>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="birthdayDate"> {{ 'Birth Day Date' | translate }}</label>
      <input id="faculty" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'birthdayDate', value: $event })"
        placeholder="{{ 'Enter birth day Date' | translate }}" [(ngModel)]="Data.birthdayDate" />
      <span *ngIf="validationErrors['birthdayDate']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["birthdayDate"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="maritalStatus"> {{ 'Marital Status' | translate }}</label>
      <input id="faculty" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'maritalStatus', value: $event })"
        placeholder="{{ 'Enter Name marital Status' | translate }}" [(ngModel)]="Data.maritalStatus" />
      <span *ngIf="validationErrors['university']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["maritalStatus"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="passportNumber"> {{ 'passport Number' | translate }}</label>
      <input id="faculty" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'passportNumber', value: $event })"
        placeholder="{{ 'Enter passport Number' | translate }}" [(ngModel)]="Data.passportNumber" />
      <span *ngIf="validationErrors['passportNumber']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["passportNumber"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="graduationYear"> {{ 'Graduation Year' | translate }}</label>
      <input id="faculty" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'graduationYear', value: $event })"
        placeholder="{{ 'Enter graduation Year' | translate }}" [(ngModel)]="Data.graduationYear" />
      <span *ngIf="validationErrors['university']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["graduationYear"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="schoolYouGraduatedFrom"> {{ 'school You Graduated From' | translate }}</label>
      <input id="faculty" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'schoolYouGraduatedFrom', value: $event })"
        placeholder="{{ 'enter school you graduated from name' | translate }}"
        [(ngModel)]="Data.schoolYouGraduatedFrom" />
      <span *ngIf="validationErrors['schoolYouGraduatedFrom']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["schoolYouGraduatedFrom"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="major"> {{' Major ' | translate }}</label>
      <input id="faculty" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'major', value: $event })"
        placeholder="{{ 'Enter major Name' | translate }}" [(ngModel)]="Data.major" />
      <span *ngIf="validationErrors['major']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["major"]}}</span>
    </div>


    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="mobile"> {{ 'Mobile' | translate }}</label>
      <input id="mobile" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'mobile', value: $event })"
        (input)="validateNumber($event, 'mobile')" placeholder="{{ 'Enter Mobile' | translate }}"
        [(ngModel)]="Data.mobile" />
      <span *ngIf="validationErrors['mobile']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["mobile"]}}</span>
    </div>


    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="email"> {{ 'Email' | translate }}</label>
      <input id="email" type="email" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'email', value: $event })"
        placeholder="{{ 'Enter Email' | translate }}" [(ngModel)]="Data.email" />
      <span *ngIf="validationErrors['email']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["email"]}}</span>
    </div>


    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="otherStudies"> {{ 'Other Studies' | translate }}</label>
      <input id="enName" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        (ngModelChange)="onInputValueChange({ field: 'otherStudies', value: $event })"
        placeholder="{{ 'Enter other Studies' | translate }}" [(ngModel)]="Data.otherStudies" />
      <span *ngIf="validationErrors['otherStudies']" class="text-red-500 ml-3 font-normal">{{
        validationErrors["otherStudies"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="address"> {{ 'Address' | translate }}</label>
      <input id="address" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        placeholder="{{ 'Enter Address' | translate }}" [(ngModel)]="Data.currentAddress" />
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="computerSkills"> {{ 'computer Skills' | translate }}</label>
      <input id="computerSkills" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        placeholder="{{ 'Enter computer Skills' | translate }}" [(ngModel)]="Data.computerSkills" />
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
      <label class="mb-2 primaryTxt" for="hobbies"> {{ 'Hobbies' | translate }}</label>
      <input id="hobbies" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
        placeholder="{{ 'Enter hobbies' | translate }}" [(ngModel)]="Data.hobbies" />
    </div>

    <div class="flex justify-between items-start w-full">

      <!-- صندوق رفع الملفات -->
      <div class="bg-[#F6F6F6] flex flex-col items-center justify-center rounded-md border-dashed border-2 w-[49%] p-4">
        <label for="file" class="cursor-pointer flex flex-col items-center rounded-xl py-5 w-full">
          <!-- صورة الرفع -->
          <img *ngIf="!SelectedFiles || SelectedFiles.length === 0"
            src="https://d393tpgdl2mqkp.cloudfront.net/public/Images/Icon frame.png" class="w-16 h-16 object-cover"
            alt="Upload Icon">

          <!-- أيقونة تأكيد بعد اختيار الملفات -->
          <img *ngIf="SelectedFiles && SelectedFiles.length > 0"
            src="https://d393tpgdl2mqkp.cloudfront.net/public/Images/FileAttached.png" class="w-16 h-16 object-cover"
            alt="File Uploaded">

          <!-- النصوص -->
          <p class="font-normal text-xs md:text-sm text-[#8E8E93] mt-3">
            <span class="secondaryTxt" *ngIf="!SelectedFiles || SelectedFiles.length === 0">
              {{ 'Click To Upload' | translate }}
            </span>
            <span class="secondaryTxt" *ngIf="SelectedFiles && SelectedFiles.length > 0">
              {{ SelectedFiles.length }} {{ SelectedFiles.length > 1 ? 'Files Uploaded' : 'File Uploaded' }}
            </span>
          </p>
          <p class="font-normal text-xs md:text-sm text-[#8E8E93]">
            {{ 'Max. File size' | translate }} 25 MB
          </p>
        </label>

        <input id="file" type="file" class="hidden"
          accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.txt,.xls,.xlsx,.csv,.mp4,.avi,.mkv,.mov" multiple
          (change)="onFilesSelected($event)" />
      </div>


      <!-- Next Button - الجزء الأول -->
      <div class="w-[49%] flex justify-end items-center mt-6">
        <button type="button"
          class="bg-orange-500 text-white font-medium px-6 py-3 rounded-lg flex items-center hover:bg-orange-600 transition-colors duration-200"
          (click)="goToNextPage()">
          {{ 'Next' | translate }}
          <i class="fa-solid fa-arrow-right ml-2"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!------------------------------------------------------ Registration Form Section ------------------------------------------------------------------------------>


<div *ngIf="currentSection === 2" class="w-full mt-2">

  <div class=" text-white text-start ">
    <h1 class="primaryTxt font-semibold text-2xl leading-9">
      {{ mode === 'Create' ? (' Application For Employee' | translate) : ('Edit Application For Employee' | translate)
      }}
    </h1>
  </div>

  <div class="flex gap-6 p-6 bg-gray-100 rounded-lg mb-6">

    <!-- Left Side (Inputs under each other) -->
    <div class="flex flex-col w-[49%]">
      <!-- Application Date -->
      <div class="flex flex-col mb-4">
        <label class="mb-2 primaryTxt" for="applicationDate">
          {{ 'Application Date' | translate }}
        </label>
        <input id="applicationDate" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
          placeholder="{{ 'Enter application Date' | translate }}" [(ngModel)]="Data.applicationDate"
          (ngModelChange)="onInputValueChange({ field: 'applicationDate', value: $event })" />
        <span *ngIf="validationErrors['applicationDate']" class="text-red-500 ml-3 font-normal">
          {{ validationErrors['applicationDate'] }}
        </span>
      </div>

      <!-- Position Applied For -->
      <div class="flex flex-col mb-4">
        <label class="mb-2 primaryTxt" for="positionAppliedFor">
          {{ 'Position Applied For' | translate }}
        </label>

        <select id="positionAppliedFor" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
          [(ngModel)]="Data.titleID" (change)="onTitleSelected($event)">
          <option [ngValue]="null" disabled>{{ 'Select position' | translate }}</option>
          <option *ngFor="let title of titles" [value]="title.id">
            {{ title.name }}
          </option>
        </select>
        <span *ngIf="validationErrors['titleName']" class="text-red-500 ml-3 font-normal">
          {{ validationErrors['titleName'] }}
        </span>
      </div>

    </div>

    <!-- Right Side (Profile Image Upload) -->
    <div class="w-[35%] flex flex-col items-center justify-center">
      <div class="w-40 h-40 mb-3 relative">
        <img [src]="Data.profileImage || 'https://d393tpgdl2mqkp.cloudfront.net/public/Images/DefaultProfileImage.png'"
          alt="" class="w-full h-full object-cover rounded-lg border border-gray-300" />
        <label for="profileImageInput"
          class="absolute bottom-1 right-1 bg-white rounded-full p-1 cursor-pointer shadow-md" title="Upload new image">
          <i class="fas fa-camera text-gray-600"></i>
        </label>
      </div>

      <!-- زر رفع الصورة مخفي -->
      <input id="profileImageInput" type="file" accept=".jpg,.jpeg,.png,.gif" class="hidden"
        (change)="onProfileImageSelected($event)" />

      <p class="text-xs text-gray-500 text-center">
        upload your profile image
      </p>
    </div>

  </div>


  <h1 class="font-semibold text-2xl leading-9">{{ 'Registration Form' |translate }}</h1>

  <div class="flex flex-col mt-6 bg-[#FFF5EE] w-[100%] border rounded-lg mb-4">
    <h1 class="order-1 font-semibold text-2xl leading-9 text-orange-700">
      {{ 'Experience Info' | translate }}
    </h1>
  </div>

  <div *ngFor="let exp of experiences; let i = index" class="mt-12 mb-4 flex gap-4 flex-nowrap">

    <!-- Previous Experience Place -->
    <div class="flex flex-col w-[25%]">
      <label class="mb-2 primaryTxt">{{ 'Previous Experience Place' | translate}}</label>
      <input type="text" class="rounded-lg border border-gray-300 px-4 py-3" [(ngModel)]="exp.previousExperiencePlace"
        (ngModelChange)="onInputValueChangeExp(i, 'previousExperiencePlace', $event)"
        placeholder="{{ 'Enter previous Experience Place' | translate }}" />
    </div>

    <!-- Position -->
    <div class="flex flex-col w-[25%]">
      <label class="mb-2 primaryTxt">{{ 'Position' | translate }}</label>
      <input type="text" class="rounded-lg border border-gray-300 px-4 py-3" [(ngModel)]="exp.position"
        (ngModelChange)="onInputValueChangeExp(i, 'Position', $event)"
        placeholder="{{ 'Enter Position' | translate }}" />
    </div>

    <!-- From -->
    <div class="flex flex-col w-[25%]">
      <label class="mb-2 primaryTxt">{{ 'From' | translate }}</label>
      <input type="date" class="rounded-lg border border-gray-300 px-4 py-3" [(ngModel)]="exp.fromDate"
        (ngModelChange)="onInputValueChangeExp(i, 'fromDate', $event)" />
    </div>

    <!-- To -->
    <div class="flex flex-col w-[25%]">
      <label class="mb-2 primaryTxt">{{ 'To' | translate }}</label>
      <input type="date" class="rounded-lg border border-gray-300 px-4 py-3" [(ngModel)]="exp.toDate"
        (ngModelChange)="onInputValueChangeExp(i, 'toDate', $event)" />
    </div>

  </div>



  <div class="flex justify-end mb-6">
    <button type="button" class="bg-orange-500 text-white px-6 py-2 rounded-md hover:bg-orange-600"
      (click)="addExperience()">
      + Add Additional Company
    </button>
  </div>


  <div class="mt-12 mb-4 flex flex-wrap justify-between gap-y-4">

    <!-- 1 -->
    <div class="flex flex-col w-[49%]">
      <label class="mb-2 primaryTxt">
        {{ 'How Did You Find Us?' | translate }}
      </label>
      <select class="rounded-lg border border-gray-300 px-4 py-3" [(ngModel)]="Data.howDidYouFindUs">
        <option value="">Choose</option>
        <option>Internet</option>
        <option>Friend</option>
        <option>Newspaper</option>
        <option>Other</option>
      </select>
    </div>

    <!-- 2 -->
    <div class="flex flex-col w-[49%]">
      <label class="mb-2 primaryTxt">
        {{ 'Reason for Leaving The Job' | translate }}
      </label>
      <input type="text" class="rounded-lg border border-gray-300 px-4 py-3"
        [(ngModel)]="Data.reasonforLeavingtheJob" />
    </div>

    <!-- 3 -->
    <div class="flex flex-col w-[49%]">
      <label class="mb-2 primaryTxt">
        {{ 'Do You Have Any Relatives Here?' | translate }}
      </label>
      <select class="rounded-lg border border-gray-300 px-4 py-3" [(ngModel)]="Data.didYouHaveAnyRelativeHere">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>

    <!-- 4 -->
    <div class="flex flex-col w-[49%]">
      <label class="mb-2 primaryTxt">
        {{ 'Your Level In English' | translate }}
      </label>
      <select class="rounded-lg border border-gray-300 px-4 py-3" [(ngModel)]="Data.yourLevelInEnglish">
        <option>Beginner</option>
        <option>Intermediate</option>
        <option>Advanced</option>
        <option>Native</option>
      </select>
    </div>

    <!-- 5 -->
    <div class="flex flex-col w-[49%]">
      <label class="mb-2 primaryTxt">
        {{ 'Your Level In French' | translate }}
      </label>
      <select class="rounded-lg border border-gray-300 px-4 py-3" [(ngModel)]="Data.yourLevelInFrensh">
        <option>Beginner</option>
        <option>Intermediate</option>
        <option>Advanced</option>
        <option>Native</option>
      </select>
    </div>

    <!-- 6 -->
    <div class="flex flex-col w-[49%]">
      <label class="mb-2 primaryTxt">
        {{ 'Do You Speak Any Other Languages?' | translate }}
      </label>
      <select class="rounded-lg border border-gray-300 px-4 py-3" [(ngModel)]="Data.doYouSpeakAnyOtherLanguages">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>

    <!-- 7 -->
    <div class="flex flex-col w-[49%]">
      <label class="mb-2 primaryTxt">
        {{ 'Current Job' | translate }}
      </label>
      <input type="text" class="rounded-lg border border-gray-300 px-4 py-3" [(ngModel)]="Data.currentJob" />
    </div>

    <!-- 8 -->
    <div class="flex flex-col w-[49%]">
      <label class="mb-2 primaryTxt">
        {{ 'Last Salary' | translate }}
      </label>
      <input type="number" class="rounded-lg border border-gray-300 px-4 py-3" [(ngModel)]="Data.lastSalary" />
    </div>

  </div>



  <!-- Checkbox -->
  <div class="flex items-start mb-8">
    <input type="checkbox" class="mt-1 mr-3" [(ngModel)]="Data.authorizeInvestigation" name="authorizeInvestigation">
    <label class="text-sm text-gray-700">
      I Certify That All The Answers Given Here Are True And Complete. I Authorize Investigation On All Statements
      Contained In This Application.
    </label>
    <span *ngIf="validationErrors['authorizeInvestigation']" class="text-red-500 ml-8 font-normal block mt-1">
      {{ validationErrors['authorizeInvestigation'] }}
    </span>
  </div>


  <!-- التوقيع في الأسفل -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Full Name</label>
      <input type="text" class="w-full px-4 py-2 border border-gray-300 rounded-md" [(ngModel)]="Data.fullName"
        name="fullName">
    </div>
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Enter Date</label>
      <input type="date" class="w-full px-4 py-2 border border-gray-300 rounded-md" [(ngModel)]="Data.EnterDate"
        name="enterDate">
    </div>

  </div>

  <!-- الأزرار -->
  <div class="flex justify-between items-center mt-10 w-full">
    <button type="button" class="bg-orange-500 text-white px-8 py-3 rounded-md hover:bg-gray-600 transition"
      (click)="goToPreviousPage()">
      Back
    </button>

    <button type="button"
      class="bg-orange-500 text-white font-medium px-6 py-3 rounded-lg flex items-center hover:bg-orange-600 transition-colors duration-200"
      (click)="goToNextPage()">
      {{ 'Next' | translate }}
      <i class="fa-solid fa-arrow-right ml-2"></i>
    </button>

  </div>

</div>

<!-------------------------------------------------- الصفحة الثالثة ------------------------------------------------------------>
<div *ngIf="currentSection === 3" class="w-full mt-8">

  <h2 class="text-xl font-semibold mb-4 primaryTxt">
    Additional Notes / Job Comments
  </h2>

  <!-- Textarea بعرض الصفحة -->
  <div class="w-full mb-8">
    <label class="block mb-2 primaryTxt">
      Write any comments related to the job you are applying for
    </label>

    <textarea rows="6"
      class="w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-orange-400 resize-none"
      placeholder="Write your comment here..." [(ngModel)]="Data.comment">
    </textarea>
  </div>

  <!-- الأزرار -->
  <div class="flex justify-between items-center mt-10">

    <!-- Back -->
    <button type="button" class="bg-orange-500 text-white px-8 py-3 rounded-md hover:bg-gray-600 transition"
      (click)="goToPreviousPage()">
      Back
    </button>

    <!-- Finish -->
    <button type="button" [disabled]="isLoading"
      class="bg-orange-500 text-white font-medium px-4 py-2 rounded-lg mb-4 flex items-center justify-center"
      (click)="Save()">
      <span *ngIf="!isLoading">{{ 'Save' | translate }} </span>
      <i *ngIf="isLoading" class="fas fa-spinner fa-spin ml-2"></i>
    </button>
  </div>

</div>