<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5">
        <h1 class="primaryTxt font-semibold text-2xl leading-9">Subjects</h1>
    </div>
</div>

<div class="flex flex-wrap justify-start gap-6 mt-6">
    <div *ngFor="let subject of subjectData" class="w-[33%] bg-[#F7F7F7] rounded-2xl p-4 shadow text-center">
        <h1 class="text-lg font-bold text-[#003366] mb-4">{{ subject.en_name }}</h1>
        <img *ngIf="subject.iconLink" [src]="subject.iconLink" alt="Subject Icon"
            class="mx-auto rounded-md mb-4 w-[80%]">
        <div class="flex flex-wrap justify-center gap-6 text-sm text-[#4F4F4F]">
            <div class="flex items-center w-[40%] space-x-1">
                <img src="Icons/Assignments.png" alt="Assignments" />
                <span>Assignments</span>
            </div>
            <div class="flex items-center w-[40%] space-x-1">
                <img src="Icons/Resources.png" alt="Resources" />
                <span>Resources</span>
            </div>
            <div class="flex items-center w-[40%] space-x-1">
                <img src="Icons/LessonLive.png" alt="Lesson Live" />
                <span>Lesson Live</span>
            </div>
        </div>
    </div>
</div>