<div class="flex justify-between items-center">
    <h1 class="primaryTxt font-semibold text-2xl leading-9"> {{ 'Hygiene Forms' | translate }}</h1>
    <div class="flex justify-between items-center">
        <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
        <button (click)="navigateToCreateHygieneForm()"
            class="font-medium rounded-lg px-4 py-2 flex items-center justify-center gap-2 secondaryBorder secondaryTxt">
            {{'Create'| translate }} {{ 'Hygiene Form' | translate }}
        </button>
    </div>
</div>

<!-- Reusable Table Component -->
    <app-table [headers]="GetTableHeaders()" [data]="hygieneForms"
        [keys]="['id','school', 'grade', 'classRoom', 'date']"
            [showViewAction]="true" [showEditAction]="false"
 (delete)="deleteHygieneForm($event)" (edit)="openModal($event.id)" (view)="onView($event)">
    </app-table>