<div class="flex justify-between items-center">
    <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
        <i class="fa-solid fa-chevron-left cursor-pointer" (click)="moveToEmployee()"></i>
        <h1 class="primaryTxt font-semibold text-2xl leading-9">
          {{ mode === 'Create' ? ('Create Employee' | translate) : ('Edit Employee' | translate) }}
        </h1>
    </div>
    <button [disabled]="isLoading" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg" (click)="Save()">
        <span *ngIf="!isLoading"> {{ 'Save' | translate }}</span>
        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
    </button>
</div>

<div class="mt-6 mb-4 rounded-3xl flex justify-between flex-wrap">
    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">  {{ 'User Name' | translate }}</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
   placeholder="{{ 'Enter User Name' | translate }}" [(ngModel)]="Data.user_Name"
            (ngModelChange)="onInputValueChange({ field: 'user_Name', value: $event })" />
        <span *ngIf="validationErrors['user_Name']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["user_Name"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">  {{ 'English Name' | translate }}</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'en_name', value: $event })"  
            
            
               placeholder="{{ 'Enter English Name' | translate }}"
            [(ngModel)]="Data.en_name" />
        <span *ngIf="validationErrors['en_name']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["en_name"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">  {{ 'Arabic Name' | translate }}</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'ar_name', value: $event })"  
         placeholder="{{ 'Enter Arabic Name' | translate }}"
             [(ngModel)]="Data.ar_name" />
        <span *ngIf="validationErrors['ar_name']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["ar_name"]}}</span>
    </div>

    <div *ngIf="mode == 'Create'" class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">  {{ 'Password' | translate }}</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'password', value: $event })" 
              placeholder="{{ 'Enter Password' | translate }}"
            [(ngModel)]="Data.password" />
        <span *ngIf="validationErrors['password']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["password"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">  {{ 'Mobile' | translate }}</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'mobile', value: $event })"
            (input)="validateNumber($event, 'mobile')" 
            
            placeholder="{{ 'Enter Mobile' | translate }}"
             [(ngModel)]="Data.mobile" />
        <span *ngIf="validationErrors['mobile']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["mobile"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">  {{ 'Phone' | translate }}</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'phone', value: $event })"
            (input)="validateNumber($event, 'phone')" 
            
             placeholder="{{ 'Enter Phone' | translate }}"
 [(ngModel)]="Data.phone" />
        <span *ngIf="validationErrors['phone']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["phone"]}}</span>
    </div>


    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">  {{ 'Email' | translate }}</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'email', value: $event })"    placeholder="{{ 'Enter Email' | translate }}"
            [(ngModel)]="Data.email" />
        <span *ngIf="validationErrors['email']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["email"]}}</span>
    </div>

    <div class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name"> {{ 'Address' | translate }}</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
  placeholder="{{ 'Enter Address' | translate }}" [(ngModel)]="Data.address" />
    </div>

    <div class="flex flex-col w-[49%] mb-4">
        <label class="mb-2" for="role">  {{ 'Role' | translate }}</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="role"
            (ngModelChange)="onInputValueChange({ field: 'role_ID', value: $event })" [(ngModel)]="Data.role_ID">
            <option [value]="0" disabled selected hidden>  {{ 'Choose Role' | translate }}</option>
            <option *ngFor="let role of Roles" [value]="role.id">{{ role.name }}</option>
            <option *ngIf="Roles.length === 0" disabled selected>{{ 'No Data Found' | translate }}</option>
        </select>
        <span *ngIf="validationErrors['role_ID']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["role_ID"]}}</span>
    </div>

    <div class="flex flex-col w-[49%] mb-4">
        <label class="mb-2" for="employeeType"> {{ 'Employee Type' | translate }}</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="employeeType"
            (ngModelChange)="onInputValueChange({ field: 'employeeTypeID', value: $event })"
            [(ngModel)]="Data.employeeTypeID">
            <option [value]="0" disabled selected hidden>  {{ 'Choose Employee Type' | translate }}</option>
            <option *ngFor="let employeeType of empTypes" [value]="employeeType.id">{{ employeeType.name }}</option>
            <option *ngIf="empTypes.length === 0" disabled selected>  {{ 'No Data Found' | translate }}</option>
        </select>
        <span *ngIf="validationErrors['employeeTypeID']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["employeeTypeID"]}}</span>
    </div>

    <div *ngIf="Data.employeeTypeID == 2" class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="name">  {{ 'License Number' | translate }}</label>
        <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'licenseNumber', value: $event })"
            (input)="validateNumber($event, 'licenseNumber')" 
              placeholder="{{ 'Enter License Number' | translate }}"

            [(ngModel)]="Data.licenseNumber" />
        <span *ngIf="validationErrors['licenseNumber']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["licenseNumber"]}}</span>
    </div>

    <div *ngIf="Data.employeeTypeID == 2" class="flex flex-col mb-4 w-[49%]">
        <label class="mb-2 primaryTxt" for="expireDate">  {{ 'Expire Date' | translate }}</label>
        <input id="expireDate" type="date" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
            (ngModelChange)="onInputValueChange({ field: 'expireDate', value: $event })" 
            
              placeholder="{{ 'Enter Expiry Date' | translate }}"

            [(ngModel)]="Data.expireDate" />
        <span *ngIf="validationErrors['expireDate']" class="text-red-500 ml-3 font-normal">{{
            validationErrors["expireDate"]}}</span>
    </div>

    <div *ngIf="Data.employeeTypeID == 2" class="flex flex-col w-[49%] mb-4">
        <label class="mb-2" for="bus"> {{ 'Bus Comapny' | translate }}</label>
        <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="bus"
            [(ngModel)]="Data.busCompanyID">
            <option [value]="0" disabled selected hidden>  {{ 'Choose Bus Company' | translate }}</option>
            <option *ngFor="let bus of BusCompany" [value]="bus.id">{{ bus.name }}</option>
            <option *ngIf="BusCompany.length === 0" disabled selected>  {{ 'No Data Found' | translate }}</option>
        </select>
    </div>

    <div class="flex align-middle space-x-2 rtl:space-x-reverse mb-4 w-full">
        <input type="checkbox" id="canReceiveRequest" class="w-5 h-5" [(ngModel)]="Data.canReceiveRequest">
        <label class="mb-2" for="canReceiveRequest">  {{ 'Can Receive Request' | translate }}</label>
    </div>

    <div class="flex align-middle space-x-2 rtl:space-x-reverse mb-4 w-full">
        <input type="checkbox" id="canReceiveMessage" class="w-5 h-5" [(ngModel)]="Data.canReceiveMessage">
        <label class="mb-2" for="canReceiveMessage">  {{ 'Can Receive Messages' | translate }}</label>
    </div>

    <div class="flex align-middle space-x-2 rtl:space-x-reverse mb-4 w-full items-center justify-between">
        <div class="flex align-middle w-[49%] space-x-2 rtl:space-x-reverse">
            <input type="checkbox" id="isFloorMonitor" class="w-5 h-5" [(ngModel)]="isFloorMonitor" (change)="onFloorsSupervisorChange()">
            <label class="mb-2" for="isFloorMonitor">  {{ 'Floor Monitor' | translate }}</label>
        </div>
        <div class="flex flex-col mb-4 w-[49%]" *ngIf="isFloorMonitor" >
            <label class="block mb-2 text-sm font-medium text-gray-900" for="ac">  {{ 'Floors' | translate }}</label>
            <div class="relative">
                <div class="border border-gray-300 rounded-lg px-4 py-3 cursor-pointer min-h-[48px]"
                    (click)="toggleDropdown()" tabindex="0">
                    <ng-container *ngIf="floorsSelected.length > 0; else placeholder">
                        <div class="flex flex-wrap">
                            <span class="mr-2 mb-1 bg-gray-200 px-3 py-1 rounded-full text-sm flex items-center"
                                *ngFor="let selected of floorsSelected">
                                {{ selected.name }}
                                <span class="ml-2 cursor-pointer text-red-500" (click)="removeSelected(selected.id)">
                                    &times;
                                </span>
                            </span>
                        </div>
                    </ng-container>
                    <ng-template #placeholder>
                        <span class="text-gray-400">  {{ 'Choose Floor' | translate }}</span>
                    </ng-template>
                </div>
                <div class="absolute bg-white border border-gray-300 rounded-lg mt-1 w-full shadow-md z-10"
                    *ngIf="dropdownOpen">
                    <ul>
                        <li *ngFor="let Type of floors" class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                            (click)="selectType(Type)">
                            {{ Type.name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="flex align-middle space-x-2 rtl:space-x-reverse mb-4 w-full items-center justify-between">
        <div class="flex align-middle w-[49%] space-x-2 rtl:space-x-reverse">
            <input type="checkbox" id="isGradeSupervisor" class="w-5 h-5" [(ngModel)]="isGradeSupervisor" (change)="onGradeSupervisorChange()">
            <label class="mb-2" for="isGradeSupervisor">  {{ 'Grade Supervisor' | translate }}</label>
        </div>
        <div class="flex flex-col mb-4 w-[49%]" *ngIf="isGradeSupervisor">
            <label class="block mb-2 text-sm font-medium text-gray-900" for="ac">  {{ 'Grades' | translate }}</label>
            <div class="relative">
                <div class="border border-gray-300 rounded-lg px-4 py-3 cursor-pointer min-h-[48px]"
                    (click)="GradetoggleDropdown()" tabindex="0">
                    <ng-container *ngIf="gradeSelected.length > 0; else placeholder">
                        <div class="flex flex-wrap">
                            <span class="mr-2 mb-1 bg-gray-200 px-3 py-1 rounded-full text-sm flex items-center"
                                *ngFor="let selected of gradeSelected">
                                {{ selected.name }}
                                <span class="ml-2 cursor-pointer text-red-500" (click)="GraderemoveSelected(selected.id)">
                                    &times;
                                </span>
                            </span>
                        </div>
                    </ng-container>
                    <ng-template #placeholder>
                        <span class="text-gray-400">  {{ 'Choose Grade' | translate }}</span>
                    </ng-template>
                </div>
                <div class="absolute bg-white border border-gray-300 rounded-lg mt-1 w-full shadow-md z-10"
                    *ngIf="GradedropdownOpen">
                    <ul>
                        <li *ngFor="let Type of grades" class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                            (click)="GradeselectType(Type)">
                            {{ Type.name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="flex align-middle space-x-2 rtl:space-x-reverse mb-4 w-full items-center justify-between">
        <div class="flex align-middle w-[49%] space-x-2 rtl:space-x-reverse">
            <input type="checkbox" id="isSubjectSupervisor" class="w-5 h-5" [(ngModel)]="isSubjectSupervisor" (change)="onSubjectSupervisorChange()">
            <label class="mb-2" for="isSubjectSupervisor">  {{ 'Subject Supervisor' | translate }}</label>
        </div>
        <div class="flex flex-col mb-4 w-[49%]" *ngIf="isSubjectSupervisor">
            <label class="block mb-2 text-sm font-medium text-gray-900" for="ac">  {{ 'Subjects' | translate }}</label>
            <div class="relative">
                <div class="border border-gray-300 rounded-lg px-4 py-3 cursor-pointer min-h-[48px]"
                    (click)="SubjecttoggleDropdown()" tabindex="0">
                    <ng-container *ngIf="subjectSelected.length > 0; else placeholder">
                        <div class="flex flex-wrap">
                            <span class="mr-2 mb-1 bg-gray-200 px-3 py-1 rounded-full text-sm flex items-center"
                                *ngFor="let selected of subjectSelected">
                                {{ selected.en_name }}
                                <span class="ml-2 cursor-pointer text-red-500" (click)="SubjectremoveSelected(selected.id)">
                                    &times;
                                </span>
                            </span>
                        </div>
                    </ng-container>
                    <ng-template #placeholder>
                        <span class="text-gray-400">  {{ 'Choose Subject' | translate }}</span>
                    </ng-template>
                </div>
                <div class="absolute bg-white border border-gray-300 rounded-lg mt-1 w-full shadow-md z-10"
                    *ngIf="SubjectdropdownOpen">
                    <ul>
                        <li *ngFor="let Type of subject" class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                            (click)="SubjectselectType(Type)">
                            {{ Type.en_name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-[#F6F6F6] flex items-center space-x-4 rtl:space-x-reverse w-full rounded-md border-dashed mb-4 border-2">
        <div class="flex justify-center w-full">
            <label for="file-upload" class="cursor-pointer flex flex-col items-center rounded-xl px-6 py-3 lg:py-5">
                <img src="Images/Icon frame.png" class="w-1/4" alt="Upload Icon">
                <p class="font-normal text-xs md:text-sm text-[#8E8E93] mt-3">
                    <span class="secondaryTxt">  {{ 'Click to Upload' | translate }}</span>
                </p>
                <p class="font-normal text-xs md:text-sm text-[#8E8E93]"> (Max. File size: 25 MB each)</p>
            </label>
            <input id="file-upload" type="file" class="hidden" accept="image/jpeg, image/png" multiple
                (change)="onFilesSelected($event)" />
        </div>
    </div>
</div>

<div *ngIf="Data.files.length > 0" class="bg-white p-4 rounded-lg">
    <div class="flex flex-wrap gap-4">
        <div *ngFor="let file of Data.files; let i = index" class="flex w-full items-center gap-4 mb-4">
            <div class="flex flex-col w-[34%]">
                <h1 class="text-sm font-semibold mb-2">  {{ 'Name' | translate }}</h1>
                <p class="text-sm font-medium text-gray-700 mb-4">{{ file.name }}</p>
                <div class="border border-cacaca rounded-lg p-6">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center space-x-2 rtl:space-x-reverse">
                            <i class="fa-solid fa-file"></i>

                        </div>
                        <button (click)="deleteFile(i)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </div> 
                    <p class="secondaryTxt cursor-pointer hover:underline mt-2" (click)="downloadFile(file)">
                          {{ 'Click to View' | translate }}
                    </p>
                </div>
            </div>

            <div class="w-[64%]">
                <div class="flex flex-col">
                    <label class="mb-2 primaryTxt" for="name-{{ i }}">  {{ 'Add Name' | translate }}</label>
                    <input id="name-{{ i }}" type="text" [value]="file.name"
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                       
                       placeholder="{{ 'Enter Attachment Name' | translate }}"
 (change)="changeFileName(file.id, $event)" />
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="SelectedFiles.length > 0" class="bg-white p-4 rounded-lg">
    <div class="flex flex-wrap gap-4">
        <div *ngFor="let file of SelectedFiles; let i = index" class="flex w-full items-center gap-4 mb-4">
            <div class="flex flex-col w-[34%]">
                <h1 class="text-sm font-semibold mb-2">  {{ 'Name' | translate }}</h1>
                <p class="text-sm font-medium text-gray-700 mb-4">{{ file.file.name }}</p>
                <div class="border border-cacaca rounded-lg p-6">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center space-x-2 rtl:space-x-reverse">
                            <i class="fa-solid fa-file"></i>
                            <p class="text-sm font-medium text-gray-700 truncate max-w-[150px]">{{ file.name }}</p>
                        </div>
                        <button (click)="deleteFileFromSelectedFile(file.file)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-[64%]">
                <div class="flex flex-col">
                    <label class="mb-2 primaryTxt" for="name-{{ i }}">  {{ 'Add Name' | translate }}</label>
                    <input id="name-{{ i }}" type="text" [value]="file.name"
                        class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                         
                        placeholder="{{ 'Enter Attachment Name' | translate }}"
                         (change)="changeFileName(i, $event)" />
                </div>
            </div>
        </div>
    </div>
</div>