<div class="flex justify-between items-center mb-5">
    <div class="flex justify-between items-center space-x-5 rtl:space-x-reverse">
        <i class="fa-solid fa-chevron-left cursor-pointer" (click)="moveToAssignment()"></i>
        <h1 class="primaryTxt font-semibold text-2xl leading-9">{{ 'Assignment' | translate }} {{ 'Students' | translate }}</h1>
    </div>
</div>

<div class="flex justify-start items-center space-x-4 rtl:space-x-reverse">
    <!-- <div class="w-[49%]">
        <label for="School1" class="block mb-2 text-sm font-medium text-gray-900">{{ 'School' | translate }}</label>
        <select id="School1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
            [(ngModel)]="SelectedSchoolId" (change)="getAllGradesBySchoolId(); IsShowTabls = false">
            <option value=0 disabled selected hidden>{{ 'Select' | translate }} {{ 'School' | translate }}</option>
            <option *ngFor="let stu of schools" [value]="stu.id">
                {{ stu.name }}
            </option>
            <option *ngIf="schools.length === 0" disabled selected>{{ 'No Data Found' | translate }}</option>
        </select>
    </div>

    <div class="w-[49%]">
        <label for="Grade" class="block mb-2 text-sm font-medium text-gray-900">  {{ 'Grade' | translate }}</label>
        <select id="Grade" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
            [(ngModel)]="SelectedGradeId" [disabled]="!SelectedSchoolId"
            (change)="getAllClassByGradeId(); IsShowTabls = false">
            <option value=0 disabled selected hidden>{{ 'Select' | translate }} {{ 'Grade' | translate }}</option>
            <option *ngFor="let ac of Grades" [value]="ac.id">
                {{ ac.name }}
            </option>
            <option *ngIf="Grades.length === 0" disabled selected> {{ 'No Data Found' | translate }}</option>
        </select>
    </div> -->

    <div class="w-full">
        <label for="Class" class="block mb-2 text-sm font-medium text-gray-900">  {{ 'Class' | translate }}</label>
        <select id="Class" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
            [(ngModel)]="ClassId" (change)="classChanged()">
             <option [value]="0" disabled selected hidden>  {{ 'Choose' | translate }} {{ 'Class' | translate }}</option>
            <option *ngFor="let c of classes" [value]="c.id">{{ c.name }}</option>
            <option *ngIf="classes.length === 0" disabled selected>{{ 'No Data Found' | translate }}</option>
        </select>
    </div>

    <div class="mt-7 ml-2">
        <button class="p-3 font-medium text-xl rounded-lg"
            [disabled]=" !ClassId"
            (click)="Apply()"
            [ngClass]="{ 'bg-gray-100 text-gray-300':  !ClassId, 'secondaryBg text-white': ClassId }">
             {{ 'View' | translate }}
        </button>
    </div>
</div>

<div *ngIf="IsShowTabls">
    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD]">
        <table class="w-full tabe inset-0 bg-[#EBEBEB] text-left rtl:text-right text-[#6F6F6F]">
            <thead class="bg-[#EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
                <tr>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                         {{ 'ID' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                         {{ 'Student Name' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                         {{ 'Degree' | translate }}
                    </th>
                    <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                         {{ 'Actions' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- No Data Row -->
                <tr *ngIf="TableData.length === 0">
                    <td colspan="7"
                        class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                         {{ 'No Data Found' | translate }}
                    </td>
                </tr>

                <!-- Data Rows -->
                <tr *ngFor="let row of TableData; let i = index"
                    [ngClass]="{ 'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1 }"
                    class="border-t border-gray-300 text-xs md:text-sm">
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.id }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        {{ row.studentEnglishName }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0" *ngIf="assignment.assignmentTypeID==1" >
                        <div class="flex items-center gap-2">
                            <input *ngIf="row.id==editDegreeId" type="number" [(ngModel)]="row.degree" (ngModelChange)="onInputValueChange()"
                                [max]="row.assignmentDegree" min="0" (input)="validateNumberAssignmentStudent($event, 'degree',row)"
                                class="w-20 px-2 py-1 border border-gray-300 rounded" />
                            <span *ngIf="row.id!=editDegreeId">{{ row.degree }}</span>
                            / {{ row.assignmentDegree }}
                            <button *ngIf="row.id==editDegreeId" (click)="saveDegree(row)">
                                <i class="far fa-check-circle secondaryTxt"></i>
                            </button>
                            <button *ngIf="row.id!=editDegreeId" (click)="editDegreeId = row.id">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                        </div>
                        <span *ngIf="DegreeError" class="text-red-500 ml-3 font-normal">{{ DegreeError }}</span>

                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0" *ngIf="assignment.assignmentTypeID!=1" >
                        {{ row.degree }} / {{ row.assignmentDegree }}
                    </td>
                    <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                        <button class="flex space-x-4 rtl:space-x-reverse items-center"
                            *ngIf="assignment.assignmentTypeID == 1 && row.linkFile != null"
                            (click)="openFile( row.linkFile)">
                            <i class="fa-regular fa-file"></i>
                        </button>
                        <button class="flex space-x-4 rtl:space-x-reverse items-center"
                            *ngIf="assignment.assignmentTypeID == 1 && row.linkFile == null">
                            __
                        </button>
                        <button class="flex space-x-4 rtl:space-x-reverse"
                            *ngIf="assignment.assignmentTypeID == 2 || assignment.assignmentTypeID == 3"
                            (click)="moveToDetails(row.id)">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="mt-8 flex justify-between items-center" *ngIf="IsShowTabls">
    <div class="flex items-center space-x-4 rtl:space-x-reverse">
        <button class="flex items-center space-x-2 rounded-lg border py-3 px-4 rtl:space-x-reverse"
            (click)="changeCurrentPage(CurrentPage-1)" [disabled]="CurrentPage === 1 || TableData.length == 0"
            [ngClass]="{'cursor-not-allowed opacity-50': CurrentPage === 1 || TableData.length == 0}">
            <i class="fa-solid fa-arrow-left"></i>
            <p>{{ 'Previous' | translate }}</p>
        </button>
        <div class="flex">
            <div *ngFor="let page of visiblePages"
                class="rounded-lg py-[10px] w-[40px]"
                [ngClass]="{ 'border': page === CurrentPage, 'hover:bg-gray-100': page !== CurrentPage }"
                (click)="changeCurrentPage(page)">
                <p class="cursor-pointer text-center">{{ page }}</p>
            </div>
        </div>
        <button class="flex items-center space-x-2 rounded-lg border py-3 px-4 rtl:space-x-reverse"
            (click)="changeCurrentPage(CurrentPage+1)" [disabled]="CurrentPage === TotalPages || TableData.length == 0"
            [ngClass]="{'cursor-not-allowed opacity-50': CurrentPage === TotalPages || TableData.length == 0}">
            <p> {{ 'Next' | translate }}</p>
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>

    <div class="flex items-center space-x-2 rtl:space-x-reverse">
        <input (input)="validateNumber($event)" class="rounded-lg border py-3 px-4 w-[73px]" [(ngModel)]="PageSize"
            min="1" (input)="validatePageSize($event)" (ngModelChange)="changeCurrentPage(CurrentPage)">
        <p> {{ 'items Per Page' | translate }}</p>
    </div>

    <div>
        <p>{{CurrentPage}}  {{ 'of' | translate }} {{TotalPages}} {{ 'pages' | translate }}({{TotalRecords}}  {{ 'Item' | translate }})</p>
    </div>
</div>