<div class="flex justify-between items-center">
    <h1 class="primaryTxt font-semibold text-2xl leading-9"> {{ 'Classrooms' | translate }}</h1>
    <div class="flex justify-between items-center space-x-4 rtl:space-x-reverse">
        <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>

        <button (click)="openCopyModal()"
            class="grayBorder border text-[#6F6F6F] rounded-lg px-4 py-3 flex items-center justify-center gap-2">
              {{ 'Copy' | translate }} {{ 'Form' | translate }}
        </button>

        <button (click)="openModal()"
            class="secondaryBorder secondaryTxt rounded-lg px-4 py-3 flex items-center justify-center gap-2">
              {{ 'Create' | translate }} {{ 'Classroom' | translate }}
        </button>
    </div>
</div>


<div class="flex justify-start items-center space-x-4 rtl:space-x-reverse mt-5">
    <div class="w-[49%]">
        <label for="School1" class="block mb-2 text-sm font-medium text-gray-900">{{ 'School' | translate }}</label>
        <select id="School1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
            [(ngModel)]="SelectedSchoolIdForFilteration" (change)="onSchoolFilterrationChange()">
            <option value=0 disabled selected hidden> {{ 'Select' | translate }}  {{ 'School' | translate }}</option>
            <option *ngFor="let school of SchoolsForFilteration" [value]="school.id">
                {{ school.name }}
            </option>
        </select>
    </div>
    <div class="w-[49%]">
        <label for="Year" class="block mb-2 text-sm font-medium"
            [ngClass]="{'text-gray-500': !SelectedSchoolIdForFilteration, 'text-gray-900' : SelectedSchoolIdForFilteration}"> {{ 'Year' | translate }}</label>
        <select id="Year" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 w-full"
            [(ngModel)]="activeAcademicYearID" 
            [disabled]="!SelectedSchoolIdForFilteration" (change)="AcademicYearIsChanged()">
            <option value=0 disabled selected hidden>{{ 'Select' | translate }} {{ 'Year' | translate }}</option>
            <option *ngFor="let ac of AcademicYearsForFilteration" [value]="ac.id">
                {{ ac.name }}
            </option>
            <option *ngIf="AcademicYearsForFilteration.length == 0"> {{ 'No Data Found' | translate }}</option>
        </select>
    </div>
    <div class="mt-7 ml-2">
        <button class="p-3 font-medium text-xl rounded-lg"
            [disabled]="!activeAcademicYearID || !SelectedSchoolIdForFilteration " (click)="getClassroomDataByYearID(this.DomainName, this.CurrentPage, this.PageSize)"
            [ngClass]="{ 'bg-gray-100 text-gray-300': !activeAcademicYearID || !SelectedSchoolIdForFilteration , 'secondaryBg text-white': SelectedSchoolIdForFilteration && activeAcademicYearID  }">
             {{ 'Apply' | translate }}
        </button>
    </div>
</div>

<div *ngIf="IsViewTable" class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD] max-w-full">
    <table class="overflow-auto w-full bg-[#EBEBEB] text-left rtl:text-right text-[#6F6F6F]">
        <thead class="bg-[##EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
            <tr>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                     {{ 'ID' | translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                     {{ 'Name' | translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                     {{ 'Number' | translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap  border border-[#EAECF0] border-t-0 border-l-0">
                     {{ 'Grade' | translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                     {{ 'Floor' | translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                     {{ 'Academic Year' | translate }}
                </th>
                <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                     {{ 'Actions' | translate }}
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- No Data Row -->
            <tr *ngIf="classroomData.length === 0">
                <td colspan="7"
                    class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
                     {{ 'No Data Found' | translate }}
                </td>
            </tr>

            <!-- Data Rows -->
            <tr *ngFor="let row of classroomData; let i = index"
                [ngClass]="{'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1}"
                class="border-t border-gray-300 text-xs md:text-sm">

                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0 text-[#2E3646]">{{ row.id }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.name }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.number }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.gradeName }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.floorName }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">{{ row.academicYearName }}</td>
                <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
                    <div class="flex space-x-4 rtl:space-x-reverse">
                        <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)"
                            (click)="deleteClassroom(row.id)">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                        <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="openModal(row.id)">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button (click)="ViewClass(row.id)">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="IsViewTable" class="mt-8 flex justify-between items-center">
    <div class="flex items-center space-x-4  rtl:space-x-reverse">
        <button class="flex items-center space-x-2 rounded-lg border py-3 px-4  rtl:space-x-reverse" (click)="changeCurrentPage(CurrentPage-1)"
        [disabled]="CurrentPage === 1 || classroomData.length == 0"
        [ngClass]="{'cursor-not-allowed opacity-50': CurrentPage === 1 || classroomData.length == 0}">
            <i class="fa-solid fa-arrow-left"></i>
            <p> {{'Previous'| translate }}</p>
        </button>
        <div class="flex">
            <div *ngFor="let page of visiblePages"
                class="rounded-lg py-[10px] w-[40px]"
                [ngClass]="{ 'border': page === CurrentPage, 'hover:bg-gray-100': page !== CurrentPage }"
                (click)="changeCurrentPage(page)">
                <p class="cursor-pointer text-center">{{ page }}</p>
            </div>
        </div>
        <button class="flex items-center space-x-2 rounded-lg border py-3 px-4  rtl:space-x-reverse" (click)="changeCurrentPage(CurrentPage+1)"
        [disabled]="CurrentPage === TotalPages || classroomData.length == 0"
        [ngClass]="{'cursor-not-allowed opacity-50': CurrentPage === TotalPages || classroomData.length == 0}">
            <p> {{'Next'| translate }}</p> 
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>

    <div class="flex items-center space-x-2 rtl:space-x-reverse">
        <input  (input)="validateNumberPage($event)" class="rounded-lg border py-3 px-4 w-[73px]" [(ngModel)]="PageSize" min="1" (input)="validatePageSize($event)" (ngModelChange)="changeCurrentPage(CurrentPage)">
        <p> {{'items Per Page'| translate }}</p>
    </div>

    <div>
        <p>{{CurrentPage}}  {{'of'| translate }} {{TotalPages}} {{'pages'| translate }} ({{TotalRecords}}  {{'Item'| translate }})</p>
    </div>
</div>

<!-- Add-Edit Classroom Modal -->
<div id="Add_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-1/2 max-h-[95%] overflow-y-auto">
        <div class="flex justify-between items-center">
            <h1 *ngIf="!editClassroom" class="font-semibold text-2xl leading-9"> {{ 'Create' | translate }} {{ 'Classroom' | translate }}</h1>
            <h1 *ngIf="editClassroom" class="font-semibold text-2xl leading-9">  {{ 'Edit' | translate }} {{ 'Classroom' | translate }}</h1>
            <button (click)="closeModal()" type="button"
                class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>

        <div class="mt-6 mb-4 rounded-3xl flex justify-between flex-wrap">
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="name"> {{ 'Classroom Name' | translate }}</label>
                <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                    placeholder=" {{ 'Enter' | translate }} {{ 'Classroom Name' | translate }}" [(ngModel)]="classroom.name"
                    (ngModelChange)="onInputValueChange({ field: 'name', value: $event })" />
                <span *ngIf="validationErrors['name']" class="text-red-500 ml-3 font-normal">{{ validationErrors['name']
                    }}</span>
            </div>
            <div class="flex flex-col mb-4 w-[49%]">
                <label class="mb-2 primaryTxt" for="number"> {{ 'Classroom Number' | translate }}</label>
                <input id="number" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                    placeholder=" {{ 'Enter' | translate }} {{ 'Classroom Number' | translate }}" [(ngModel)]="classroom.number"
                    (ngModelChange)="onInputValueChange({ field: 'number', value: $event })"
                    (input)="validateNumber($event, 'number')" />
                <span *ngIf="validationErrors['number']" class="text-red-500 ml-3 font-normal">{{
                    validationErrors['number'] }}</span>
            </div>
            <div class="flex flex-col w-[49%] mb-4">

                <label class="mb-2 primaryTxt" for="school"
                [ngClass]="{ 'text-gray-400': classroom.id != 0, 'primaryTxt': classroom.id == 0 }">{{ 'Choose' | translate }} {{ 'School' | translate }}</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="school"
                    [(ngModel)]="selectedSchool" [disabled]="classroom.id != 0"
                    [ngClass]="{ 'bg-[#EBEBEB]': classroom.id != 0 }"
                    (change)="onSchoolChange($event)">
                    <option [value]="null" disabled selected hidden>{{ 'Choose' | translate }} {{ 'School' | translate }}</option>
                    <option *ngFor="let school of Schools" [value]="school.id">{{ school.name }}</option>
                    <option *ngIf="Schools.length === 0" disabled selected> {{ 'No Data Found' | translate }}</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="ac"
                    [ngClass]="{ 'text-gray-400': !selectedSchool || classroom.id != 0, 'primaryTxt': selectedSchool }">
                    {{ 'Choose' | translate }} {{ 'Academic Year' | translate }}</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="ac"
                    [(ngModel)]="classroom.academicYearID" [disabled]="!selectedSchool || classroom.id != 0"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedSchool || classroom.id != 0 }"
                    (ngModelChange)="onInputValueChange({ field: 'academicYearID', value: $event })">
                    <option [value]="0" disabled selected hidden>  {{ 'Choose' | translate }} {{ 'Academic Year' | translate }}</option>
                    <option *ngFor="let academicYear of AcademicYears" [value]="academicYear.id">{{ academicYear.name }}
                    </option>
                    <option *ngIf="AcademicYears.length === 0" disabled selected> {{ 'No Data Found' | translate }}</option>
                </select>
                <span *ngIf="validationErrors['academicYearID']" class="text-red-500 ml-3 font-normal">{{
                    validationErrors['academicYearID'] }}</span>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="section"

                    [ngClass]="{ 'text-gray-400': !selectedSchool || classroom.id != 0, 'primaryTxt': selectedSchool }">
                     {{ 'Choose' | translate }} {{ 'Section' | translate }}</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="section"
                    [(ngModel)]="selectedSection" (change)="onSectionChange($event)" [disabled]="!selectedSchool || classroom.id != 0"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedSchool || classroom.id != 0 }">
                    <option [value]="null" disabled selected hidden> {{ 'Choose' | translate }} {{ 'Section' | translate }}</option>

                    <option *ngFor="let section of Sections" [value]="section.id">{{ section.name }}</option>
                    <option *ngIf="Sections.length === 0" disabled selected> {{ 'No Data Found' | translate }}</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="grade"
                    [ngClass]="{ 'text-gray-400': !selectedSection || classroom.id != 0, 'primaryTxt': selectedSection }">
                    {{ 'Choose' | translate }} {{ 'Grade' | translate }}</label>

                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="grade"
                    [(ngModel)]="classroom.gradeID" [disabled]="!selectedSection || classroom.id != 0"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedSection || classroom.id != 0 }"
                    (ngModelChange)="onInputValueChange({ field: 'gradeID', value: $event })">
                    <option [value]="0" disabled selected hidden> {{ 'Choose' | translate }} {{ 'Grade' | translate }}</option>
                    <option *ngFor="let grade of Grades" [value]="grade.id">{{ grade.name }}</option>
                    <option *ngIf="Grades.length === 0" disabled selected> {{ 'No Data Found' | translate }}</option>
                </select>
                <span *ngIf="validationErrors['gradeID']" class="text-red-500 ml-3 font-normal">{{
                    validationErrors['gradeID'] }}</span>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="building"
                    [ngClass]="{ 'text-gray-400': !selectedSchool, 'primaryTxt': selectedSchool }">
                   {{ 'Choose' | translate }}  {{ 'Building' | translate }}</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="building"
                    [(ngModel)]="selectedBuilding" (change)="onBuildingChange($event)" [disabled]="!selectedSchool"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedSchool }">
                    <option [value]="null" disabled selected hidden> {{ 'Choose' | translate }}  {{ 'Building' | translate }}</option>
                    <option *ngFor="let building of Buildings" [value]="building.id">{{ building.name }}</option>
                    <option *ngIf="Buildings.length === 0" disabled selected> {{ 'No Data Found' | translate }}</option>
                </select>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="Floor"
                    [ngClass]="{ 'text-gray-400': !selectedBuilding, 'primaryTxt': selectedBuilding }">
                   {{ 'Choose' | translate }}  {{ 'Floor' | translate }}</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Floor"
                    [(ngModel)]="classroom.floorID" [disabled]="!selectedBuilding"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedBuilding }"
                    (ngModelChange)="onInputValueChange({ field: 'floorID', value: $event })">
                    <option [value]="0" disabled selected hidden> {{ 'Choose' | translate }}  {{ 'Floor' | translate }}</option>
                    <option *ngFor="let floor of Floors" [value]="floor.id">{{ floor.name }}</option>
                    <option *ngIf="Floors.length === 0" disabled selected> {{ 'No Data Found' | translate }}</option>
                </select>
                <span *ngIf="validationErrors['floorID']" class="text-red-500 ml-3 font-normal">{{
                    validationErrors['floorID'] }}</span>
            </div>
            <div class="flex flex-col w-[49%] mb-4">
                <label class="mb-2" for="Employees"> {{ 'Homeroom Teacher' | translate }}</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="Employees"
                    [(ngModel)]="classroom.homeroomTeacherID">
                    <option *ngIf="!classroom.id" [value]="null" disabled selected hidden>{{ 'Choose' | translate }}  {{ 'Teacher' | translate }}</option>
                    <option *ngIf="classroom.id" [value]="0" disabled selected hidden>{{ 'Choose' | translate }}  {{ 'Teacher' | translate }}</option>
                    <option *ngFor="let emp of Employees" [value]="emp.id">{{ emp.en_name }}</option>
                    <option *ngIf="Employees.length === 0" disabled selected> {{ 'No Data Found' | translate }}</option>
                </select>
            </div>
        </div>
        <div class="flex justify-end">
            <button [disabled]="isLoadingSaveClassroom" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg"
                (click)="SaveClassroom()">
                <span *ngIf="!isLoadingSaveClassroom">{{ 'Save' | translate }}</span>
                <i *ngIf="isLoadingSaveClassroom" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>
</div>


<!-- Copy Modal -->
<div id="Copy_Modal" class="fixed inset-0 z-50 justify-center items-center w-full h-full bg-black/50 hidden">
    <div class="bg-white rounded-2xl p-12 w-[669px] max-h-[95%] overflow-y-auto">
        <div class="flex justify-between items-center">
            <h1 class="font-semibold text-2xl leading-9"> {{ 'Copy' | translate }}  {{ 'Form' | translate }}</h1>
            <button (click)="closeCopyModal()" type="button"
                class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded-lg">X</button>
        </div>

        <div class="mt-6 mb-4 rounded-3xl p-[16px_24px] bg-[#F7F7F7] ">
            <div class="flex flex-col mb-4">
                <label class="mb-2" for="school"
                    [ngClass]="{ 'text-gray-400': editClassroom, 'primaryTxt': !editClassroom}">{{ 'Choose' | translate }}  {{ 'School' | translate }}</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="school"
                    [(ngModel)]="selectedSchool" (change)="onSchoolChange($event)" [disabled]="editClassroom"
                    [ngClass]="{ 'bg-[#EBEBEB]': editClassroom}">
                    <option [value]="null" disabled selected hidden> {{ 'Choose' | translate }}  {{ 'School' | translate }}</option>
                    <option *ngFor="let school of Schools" [value]="school.id">{{ school.name }}</option>
                    <option *ngIf="Schools.length === 0" disabled selected> {{ 'No Data Found' | translate }}</option>
                </select>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2" for="ac"
                    [ngClass]="{ 'text-gray-400': !selectedSchool, 'primaryTxt': selectedSchool }">
                     {{ 'From' | translate }} {{ 'Academic Year' | translate }}</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="ac"
                    [(ngModel)]="copyClassroom.fromAcademicYearID" [disabled]="!selectedSchool"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedSchool }">
                    <option [value]="null" disabled selected hidden> {{ 'Choose' | translate }} {{ 'Academic Year' | translate }}</option>
                    <option *ngFor="let academicYear of AcademicYears" [value]="academicYear.id">{{ academicYear.name }}
                    </option>
                    <option *ngIf="AcademicYears.length === 0" disabled selected> {{ 'No Data Found' | translate }}</option>
                </select>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2" for="ac"
                    [ngClass]="{ 'text-gray-400': !selectedSchool, 'primaryTxt': selectedSchool }">
                     {{ 'To' | translate }} {{ 'Academic Year' | translate }}</label>
                <select class="rounded-lg border border-solid border-gray-300 px-4 py-3 overflow-y-auto" id="ac"
                    [(ngModel)]="copyClassroom.toAcademicYearID" [disabled]="!selectedSchool"
                    [ngClass]="{ 'bg-[#EBEBEB]': !selectedSchool }">
                    <option [value]="null" disabled selected hidden> {{ 'Choose' | translate }}{{ 'Academic Year' | translate }}</option>
                    <option *ngFor="let academicYear of AcademicYears" [value]="academicYear.id">{{ academicYear.name }}
                    </option>
                    <option *ngIf="AcademicYears.length === 0" disabled selected> {{ 'No Data Found' | translate }}</option>
                </select>
            </div>
        </div>

        <div class="flex justify-end">
            <button [disabled]="isLoading" class="secondaryBg text-white font-medium px-4 py-2 rounded-lg"
                (click)="SaveCopy()">
                <span *ngIf="!isLoading">{{ 'Save' | translate }}</span>
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>
</div>