<div class="p-11 bg-white rounded-xl shadow border">
  <h2 class="font-semibold mb-6">Registration</h2>
  <hr>
  <div
    class="relative flex flex-col md:flex-row justify-center items-center gap-6"
  >
    <div class="flex flex-col items-end gap-4 text-sm w-32">
      <div>
        <span class="text-green-500 font-bold">10%</span>
        <span class="text-gray-700 ml-2">New Application</span>
      </div>
      <div>
        <span class="text-blue-500 font-bold">45%</span>
        <span class="text-gray-700 ml-2">Approved Students</span>
      </div>
      <div>
        <span class="text-blue-600 font-bold">20%</span>
        <span class="text-gray-700 ml-2">Rejected Students</span>
      </div>
    </div>

    <div class="relative h-64 w-64">
      <canvas id="pieChart" class="w-full h-full"></canvas>
    </div>

    <div class="flex flex-col items-start gap-4 text-sm w-32">
      <div>
        <span class="text-blue-800 font-bold">25%</span>
        <span class="text-gray-700 ml-2">pending Students</span>
      </div>
      <!-- <div>
        <span class="text-orange-500 font-bold">30%</span>
        <span class="text-gray-700 ml-2">Student </span>
      </div> -->
    </div>
  </div>
</div>
