<div class="p-6 bg-white rounded-xl shadow border">
  <h2 class="font-semibold mb-6">Chart Pie Graphic</h2>
  <hr>
  <div
    class="relative flex flex-col md:flex-row justify-center items-center gap-6"
  >
    <div class="flex flex-col items-end gap-4 text-sm w-32">
      <div>
        <span class="text-green-500 font-bold">10%</span>
        <span class="text-gray-700 ml-2">Team</span>
      </div>
      <div>
        <span class="text-blue-500 font-bold">15%</span>
        <span class="text-gray-700 ml-2">Marketing</span>
      </div>
      <div>
        <span class="text-blue-600 font-bold">20%</span>
        <span class="text-gray-700 ml-2">Sale</span>
      </div>
    </div>

    <div class="relative h-64 w-64">
      <canvas id="pieChart" class="w-full h-full"></canvas>
    </div>

    <div class="flex flex-col items-start gap-4 text-sm w-32">
      <div>
        <span class="text-blue-800 font-bold">25%</span>
        <span class="text-gray-700 ml-2">Liquidity</span>
      </div>
      <div>
        <span class="text-orange-500 font-bold">30%</span>
        <span class="text-gray-700 ml-2">Platform</span>
      </div>
    </div>
  </div>
</div>
