<div class="">
    <div class="flex justify-between items-center">
        <h1 class="primaryTxt font-semibold text-2xl leading-9"> {{'Drugs'| translate }}</h1>
        <div class="flex justify-between items-center">
            <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
            <button (click)="openModal()"
                class="rounded-lg px-4 py-3 flex items-center justify-center gap-2 secondaryBorder secondaryTxt">
                {{'Create'| translate }}  {{'Drug'| translate }}
            </button>
        </div>
    </div>

    <app-table [headers]="GetTableHeaders()" [data]="drugs" [keys]="['id', 'name']"
        (delete)="deleteDrug($event)" (edit)="openModal($event.id)">
    </app-table>

    <app-modal [title]="editDrug ? (isRtl? 'دواء':'Drug') : (isRtl? 'إنشاء دواء':'Create Drug')" [isEditMode]="editDrug"
        [buttonText]="editDrug ? (isRtl? 'حفظ':'Save') :  (isRtl? 'إنشاء':'Create')" [isLoading]="isSaving" (save)="saveDrug()" (close)="closeModal()"
        [ngClass]="{ hidden: !isModalVisible }">
        <!-- Modal Content -->
        <div class="flex flex-col w-full mb-4">
            <label class="mb-2 primaryTxt" for="name">{{ 'the' | translate }}{{ 'Drug' | translate }}</label>
            <input id="name" type="text" class="rounded-lg border border-solid border-gray-300 px-4 py-3"
                placeholder="{{ 'Enter' | translate }} {{ 'the' | translate }}{{ 'Drug' | translate }}" [(ngModel)]="drug.name"
                (ngModelChange)="onInputValueChange({ field: 'name', value: $event })" />
            <span *ngIf="validationErrors['name']" class="text-red-500 ml-3 font-normal">{{ validationErrors['name']
                }}</span>
        </div>
    </app-modal>
</div>