<div class="">
  <div class="flex justify-between items-center">
    <h1 class="primaryTxt font-semibold text-2xl leading-9"> {{ 'Shop Items' | translate }}</h1>
    <div class="flex justify-between items-center">
      <app-search [keysArray]="keysArray" (searchEvent)="onSearchEvent($event)"></app-search>
      <button (click)="Create()"
        class="rounded-lg secondaryBorder secondaryTxt px-4 py-3 flex items-center justify-center gap-2">
       {{ 'Create' | translate }} {{ 'Shop Items' | translate }}
      </button>
    </div>
  </div>

  <div>
    <div class="mt-5 overflow-x-auto rounded-2xl border border-[#BDBDBD]">
      <table class="w-full tabe inset-0 bg-[#EBEBEB] text-left rtl:text-right text-[#6F6F6F]">
        <thead class="bg-[#EBEBEB] text-sm md:text-base border border-[#BDBDBD] border-t-0 border-l-0">
          <tr>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
              {{ 'ID' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'BarCode' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'English Name' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'Arabic Name' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'Purchase' | translate }} {{ 'Price' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'Sales' | translate }} {{ 'Price' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'VAT For Foreign' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'Limit' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'Available In Shop' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'Gender' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'Grade' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'School' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'Inventory Sub Categories' | translate }}
            </th>


            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'Item' | translate }} {{ 'Code' | translate }}
            </th>
            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
                {{ 'Unit' | translate }} {{ 'Type' | translate }}
            </th>


            <th class="py-3 px-4 min-w-[120px] whitespace-nowrap border border-[#EAECF0] border-t-0 border-l-0">
               {{ 'Actions' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="TableData.length === 0">
            <td colspan="16"
              class="bg-white px-4 py-2 h-[72px] text-center border-t border-gray-300 text-xs md:text-sm">
               {{ 'No Data Found' | translate }}
            </td>
          </tr>

          <tr *ngFor="let row of TableData; let i = index"
            [ngClass]="{ 'bg-[#F7F7F7]': i % 2 === 1, 'bg-white': i % 2 !== 1 }"
            class="border-t border-gray-300 text-xs md:text-sm">
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.id }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.barCode }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.enName }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.arName }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.purchasePrice }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.salesPrice }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.vatForForeign }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.limit }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.availableInShop }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.genderName ? row.genderName : "All Genders" }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.gradeName ? row.gradeName : "All Grades" }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.schoolName }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.inventorySubCategoriesName }}
            </td>


            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.itemCode || 'na' }}
            </td>
            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              {{ row.unitType || 'na' }}
            </td>


            <td class="py-5 px-4 border border-[#EAECF0] border-t-0 border-l-0">
              <div class="flex space-x-4 rtl:space-x-reverse">
                <button *ngIf="AllowDelete && IsAllowDelete(row.insertedByUserId)" (click)="Delete(row.id)">
                  <i class="fa-regular fa-trash-can"></i>
                </button>
                <button *ngIf="AllowEdit && IsAllowEdit(row.insertedByUserId)" (click)="Edit(row.id)">
                  <i class="fa-solid fa-pencil"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>